include ../helpers/icons

block vars
  - var classPage;

doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        title
            block title
                | — Hanuman
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='robots', content='noindex, follow')
        meta(name='description', content='')
        meta(name='keywords', content='')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='57x57', href='apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='apple-touch-icon-152x152.png')

        link(href="//fonts.googleapis.com/css?family=Open+Sans:600,300,300italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css")

        //- build:css(./) css/vendor.min.css -->
        //- bower:css -->
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap-flex.css')
        link(rel='stylesheet', href='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')
        link(rel='stylesheet', href='bower_components/slick-carousel/slick/slick.css')
        link(rel='stylesheet', href='bower_components/multiple-select/multiple-select.css')
        link(rel='stylesheet', href='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
        link(rel='stylesheet', href='bower_components/fancybox/dist/jquery.fancybox.css')
        //- endbower -->
        //- endbuild -->

        //- build:css({app,.tmp}) css/main.min.css -->
        link(rel='stylesheet', href='styles/styles.css')
        //- endbuild -->

        // Put this script tag to the <head> of your page
        script(type="text/javascript" src="//vk.com/js/api/openapi.js?139")
        script(type="text/javascript") VK.init({apiId: 5860829, onlyWidgets: true});
    body
        include ../modules/menu/menu
        .page(class=classPage)
            block content


        //- build:js(./) js/jquery.min.js -->
        //- bower:js -->
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/fontfaceobserver/fontfaceobserver.js')
        script(src='bower_components/jquery-mousewheel/jquery.mousewheel.js')
        script(src='bower_components/jquery-validation/dist/jquery.validate.js')
        script(src='bower_components/jquery-migrate/jquery-migrate.js')
        script(src='bower_components/bootstrap/js/dist/util.js')
        script(src='bower_components/bootstrap/js/dist/modal.js')
        script(src='bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')
        script(src='bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js')
        script(src='bower_components/svg4everybody/dist/svg4everybody.js')
        script(src='bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
        script(src='bower_components/slick-carousel/slick/slick.js')
        script(src='bower_components/multiple-select/multiple-select.js')
        script(src='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
        script(src='bower_components/fancybox/dist/jquery.fancybox.js')
        //- endbower -->
        //- endbuild -->

        //- build:js({app,.tmp}) js/plugins.min.js -->
        script(src='scripts/plugins/tabs.js')
        //- bower:js -->
        //- endbower -->
        //- endbuild -->


        //- build:js({app,.tmp}) js/main.min.js -->
        script(src='scripts/main.js')
        //- endbuild -->

        script.
            var gothapro = new FontFaceObserver('GothamPro');
            var gothapromedium = new FontFaceObserver('GothamPro-Medium');
            var gothaprolight = new FontFaceObserver('GothamPro-Light');
            var ptsans = new FontFaceObserver('PT Sans', {
              weight: 400
            });
            var ptsansitalic = new FontFaceObserver('PT Sans', {
              style: 'italic'
            });
            var ptsansbold = new FontFaceObserver('PT Sans', {
              weight: 700
            });
            Promise.all([
                gothapro.load(),
                gothapromedium.load(),
                gothaprolight.load(),
                ptsans.load(),
                ptsansitalic.load(),
                ptsansbold.load(),
            ]).then(function () {
              //console.log('Family A & B have loaded');
              document.documentElement.className += " fonts-loaded"
            });
