include ../helpers/icons

footer.footer
    .container-fluid
        .container
            .row.col-inner
                .col-lg-3.col-md-12
                    .logo
                        +icon('logo')

                    .copyright © 2008–2016 Хануман.ру
                    .address
                        | г. Москва, ул. Крылатские холмы, д. 7, к. 2

                .col-lg-7.hidden-md-down
                    .footer-nav
                        ul.nav-bottom
                            li.nav-bottom__item
                                a(href='/') O проекте
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Информационное партнерство
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Карта сайта
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Коврик для йоги
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Одежда
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Коврики для йоги оптом
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Доставка
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Оплата
                            li.nav-bottom__item
                                a.nav-bottom__link(href='/') Возвраты

                .col-lg-2.col-md-12
                    .description
                        | Будь в курсе новостей мира йоги

                    .social
                        a.social__item(href="#")
                          +icon('tw-fill')
                        a.social__item(href="#")
                          +icon('lj')
                        a.social__item(href="#")
                          +icon('vk-fill')
                        a.social__item(href="#")
                          +icon('mail')
                        a.social__item(href="#")
                          +icon('rss')

                    .madein
                        a.madein-link(href='http://brandivision.ru', target='_blank', title='Brandivision Digital Agency')
                            span.madein-text
                                | Дизайн
                                br
                                | сайта
                            span.madein-logo
                                +icon('bdv-logo')


include ../modules/modals/modal
