include ../helpers/icons

header.header
    .header-top
        .container-fluid
            .container
                .row.col-inner
                    .col-sm-4.col-xs-3.hidden-xl-up.hidden-lg-up.hidden-md-up
                        .burger.js-nav
                            span.line
                    .col-lg-2.col-md-2.col-sm-4.col-xs-6
                        a.logo(href='/')
                            +icon('logo')
                    .col-lg-5.col-md-6.col-sm-4.hidden-sm-down.hidden-xs-down
                        .contacts
                            .row
                                .col-lg-5.col-md-6.col-sm-7
                                    div
                                      a.phone(href="tel:88007758731") 8 (800) 775-87-31
                                    div звонок по России бесплатный
                                .col-lg-7.col-md-6.col-sm-5
                                    div
                                        | e-mail: #[a(href='mailto:mail@hanuman.ru') mail@hanuman.ru]
                                    div skype: #[a(href="skype:hanuman_ru") hanuman_ru]
                                    div telegram: #[a(href="//telegram.me/@hanuman_ru_bot") hanuman_ru_bot]

                    .col-lg-5.col-md-4.col-sm-4.col-xs-3
                        .box-cart
                            .cart
                                a.btn.btn-primary.cart__link(href='#')
                                    span.cart__text Оформить заказ
                                    span.cart__icon
                                      +icon('cart')
                                    span.cart__count 2
                        .user.hidden-sm-down.hidden-xs-down
                            a.user__link(href='#')
                                span.user__image
                                    img(src='images/user.jpg', alt='')
                                span.user__name Владислав


    .navigation
        .container-fluid
            .container
                include ../modules/menu/navtop
