// --------------------------------
// Variables
// --------------------------------


// Colors

$white: #FFFFFF;
$gray-10: #F2F2F2;
$gray-20: #E3E3E3;
$gray-30: #CFCFCF;
$gray-40: #9C9C9C;
$gray-50: #747474;
$gray-60: #424242;
$pink: #FF4081;
$green: #8BC34A;
$blue: #005D9D;
$turquoise: #58B6D4;
$light-blue: #59CBF5;
$snow-blue: #BAE2EE;
$pale-blue: #D4EEF5;


// Fonts

$font-family-ptsans-regular: "PT Sans", sans-serif;
$font-family-ptsansbold: "PT Sans", sans-serif;
$font-family-ptsans-bold: "PT Sans", sans-serif;

$font-family-gothampro-regular: "GothamPro", sans-serif;
$font-family-gothampro-medium: "GothamPro-Medium", sans-serif;
$font-family-gothampro-light: "GothamPro-Light", sans-serif;

$font-family-gothampro-bdv: "GothamPro";
$font-family-gothampro-bdv-medium: "GothamPro-Medium";


// Font size

$font-size-h1: 48px;
$font-size-h2: 24px;
$font-size-h3: 18px;


// Body

$body-color: #747474;
$body-font-family: $font-family-ptsans-regular, Arial, sans-serif;
$body-font-size: 14px;
$body-line-height: 22px;
$body-bg: #fafafa;


// Links

$link-color: $blue;
$link-hover-color: $blue;
$link-decoration: underline;


// Buttons

$btn-action-bg: linear-gradient(180deg, #59cbf5 0%, #4bbce0 100%);
$btn-action-height: 40px;
$btn-action-color: #fff;
$btn-action-font-family: $font-family-gothampro-medium;
$btn-action-font-size: 14px;
$btn-action-border: 1px solid #58b6d4;
$btn-action-padding: 0 10px;
$btn-action-boxshadow: 0 1px 1px rgba(0, 46, 78, 0.22);
$btn-action-border-radius: 5px;


$btn-action-hover-bg: linear-gradient(180deg, #43cdff 0%, #259ec4 100%);
$btn-action-hover-border: 1px solid #58b6d4;
$btn-action-hover-boxshadow: $btn-action-boxshadow;


$btn-primary-bg: linear-gradient(180deg, white 1%, #cff2f9 97%);
$btn-primary-height: 40px;
$btn-primary-color: #434343;
$btn-primary-font-family: $font-family-gothampro-medium;
$btn-primary-font-size: 14px;
$btn-primary-border: 1px solid #d4edf4;
$btn-primary-border-color: #d4edf4;
$btn-primary-padding: 0 10px;
$btn-primary-boxshadow: 0 1px 1px rgba(0, 46, 78, 0.22);
$btn-primary-border-radius: 5px;

$btn-primary-hover-bg: linear-gradient(180deg, #fff 0%, #a9ecfa 100%);
$btn-primary-hover-border: 1px solid #d4eef5;
$btn-primary-hover-border-bottom: 1px solid #ABECFA;
$btn-primary-hover-boxshadow: 0 1px 1px rgba(0, 46, 78, 0.22);


// Grid

$container-width: 1192px;
$container-gutter: 10px;



// Heading

$heading-color: #434343;
$heading-font-family: $font-family-gothampro-regular;
