.product-image__container
    .product-labels.labels
        span.label Новинка
        span.label Распродажа
        span.label Скидка 20%

    #product-slider.product-slider.slider-for
        .product-slider__item(data-zoom="true")
            img(src="../images/slider/slide-2.jpg" data-thumb="../images/slider/slide-2-x2.jpg")
        .product-slider__item(data-zoom="true")
            img(src="../images/slider/slide.jpg" data-thumb="../images/slider/slide-x2.jpg")
        .product-slider__item(data-zoom="true")
            img(src="../images/slider/slide.jpg" data-thumb="../images/slider/slide-x2.jpg")


.product-image__thumbs.slider-nav
    .slider-nav__item
        img(src='../images/slider/slide-2.jpg', alt='')
    .slider-nav__item
        img(src='../images/slider/slide.jpg', alt='')
    .slider-nav__item
        img(src='../images/slider/slide.jpg', alt='')
