include ../../helpers/icons

ul.pagination
    li
        a(href='#', aria-label='Previous')
            span(aria-hidden='true').left-arrow
                +icon("arrow")
    li
        a(href='#') 1
    li.active
        a(href='#') 2
    li
        a(href='#') 3
    li
        a(href='#') 4
    li
        a(href='#') 5
    li
        a(href='#') Последняя
    li
        a(href='#', aria-label='Next')
            span(aria-hidden='true').right-arrow
                +icon("arrow")
