include ../../helpers/icons

.sort
    span.sort-title Сортировать по:
    ul.sort-list(data-id='sort')
        li
            a(href='#') Цене
                +icon("rate")
        li.active
            a(href='#') Популярности
                +icon("rate")
        li
            a(href='#') Новизне
                +icon("rate")
        li
            a(href='#') Акциям
