include ../../helpers/icons

.tab-content__heading.hidden-md-up(data-accordion-tumbler)
    | Отзывы
    +icon("arrow")


.tab-content__overlay(data-accordion-content)
    .reviews
        // Put this div tag to the place, where the Comments block will be
        div(id="vk_comments")
        script(type="text/javascript") VK.Widgets.Comments("vk_comments", {limit: 10, width: "auto", attach: "*"});


        //
            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Пронина Евгения из Барнаула 19.03.2014


            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Glotova Valentina из Владивостока 06.03.2014

            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Пронина Евгения из Барнаула 19.03.2014


            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Glotova Valentina из Владивостока 06.03.2014

            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Пронина Евгения из Барнаула 19.03.2014


            .reviews__item
                dl
                    dt Достоинства:
                    dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                    dt Недостатки:
                    dd не выявила
                    dt Комментарий:
                    dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                | Glotova Valentina из Владивостока 06.03.2014
