include ../../helpers/icons

.tab-content__heading.hidden-md-up(data-accordion-tumbler)
    | Видео
    +icon("arrow")
.tab-content__overlay(data-accordion-content)
    .tab-content__caption
        iframe(width="100%" height="480" src="https://www.youtube.com/embed/7dbYyXom6DA" frameborder="0" allowfullscreen)
