include ../../helpers/icons

.tab-content__heading.hidden-md-up(data-accordion-tumbler)
    | Описание
    +icon("arrow")

.tab-content__overlay(data-accordion-content)
    .tab-content__caption
        p Эта модель — непререкаемая классика. Анатомический крой в ней отлично сочетается с высококачественной тканью (хлопок с небольшим добавлением эластана), которая #[br] не только отлично впитывает пот, но и позволяет коже дышать, что обеспечивает ее здоровье. И в то же время ее эластичность предотвращает вытяжение «коленок» и сохраняет форму лосин на долгое время.
        p Яркий цвет этих лосин сделают их украшением вашего тренировочного гардероба. И можете не волноваться — краски не потускнеют и не вылиняют даже после большого числа стирок.
        p Широкий размерный ряд этой модели позволит купить эти лосины обладательнице любого телосложения и на любой фигуре они будут сидеть просто идеально!


    .features
        .row
            .col-sm-12.features__item
                .features__thumb
                    img(src='../images/yoga.png', alt='')

                .features__description
                    h3 Особый состав
                    p В составе ткани 90% хлопка и 10% эластана. Такая ткань хорошо впитывает пот, не накапливает статическое электричество, выдерживает частые стирки, долго сохраняет форму и цвет.

            .col-sm-12.features__item
                .features__thumb
                    img(src='../images/yoga.png', alt='')

                .features__description
                    h3 Простота
                    p Никаких лишних карманов, молний, толстых резинок и дополнительных аксессуаров, которые могут помешать в упражнениях.

            .col-sm-12.features__item
                .features__thumb
                    img(src='../images/yoga.png', alt='')

                .features__description
                    h3 Комфорт
                    p Мягкие резинки и крепкие швы позволяют легко садиться на шпагат, поднимать ноги вверх, выполнять скручивания во всех направлениях. Максимальный диапазон движений в любых упражнениях.

            .col-sm-12.features__item
                .features__thumb
                    img(src='../images/yoga.png', alt='')

                .features__description
                    h3 Специально для йоги
                    p Никаких лишних карманов, молний, толстых резинок и дополнительных аксессуаров, которые могут помешать в упражнениях.

