include ../../helpers/icons

.tab-content__heading.hidden-md-up(data-accordion-tumbler)
    | Оплата
    +icon("arrow")
.tab-content__overlay(data-accordion-content)
    h2 Как оплатить покупку в нашем магазине
    p Мы делаем всё, чтобы купленные в нашем магазине товары было удобно оплатить. Это можно сделать следующими способами:
    ul
        li Наличными курьеру, для Москвы, С-Петербурга, Нижнего Новогорода
        li Пластиковые карты Visa/Mastercard
        li Наложенным платежом (при доставке через почту России)
        li С помощью платежного терминала (зачисление на счет в Яндекс.деньги или Webmoney)
        li Банковским переводом (из любого банка или через сбербанк-онлайн, инструкция ниже)
    p При заказе через #[a(href='/') Почту России] или #[a(href='/') EMS], вы можете оплатить купленный вами товар при получении на Почте (или курьеру EMS). Это также удобно, так как вам не нужно вносить предоплату за заказ.
    p Стоимость покупки при этом #[strong увеличится на 15%] от стоимости заказа (указывается в счете). Также с вас возьмут #[strong 3–6% от суммы за почтовый перевод] в вашем почтовом отделении (или курьер EMS, при оплате наложенным платежом).
    p Дальше мы подробно расскажем, как просто и быстро оплатить покупку с помощью этих способов.

    p.social
      span.social__item
        +icon('visa')
      span.social__item
        +icon('mastercard')
      span.social__item
        +icon('yamoney')

    a.btn.btn-primary(href='#') Подробнее
