include ../../helpers/icons

.social-buttons
    button.btn.btn-vk(type="button")
      .inline
        +icon('vk')
        span.separator
        +icon('heart')

    button.btn.btn-fb(type="button")
      .inline
        +icon('fb')
        span.btn__text Нравится

    button.btn.btn-tw(type="button")
      .inline
        +icon('tw')
        span.btn__text Твитнуть
