include ../../helpers/icons

.row
    .col-lg-12.col-md-6
        include social-buttons

        .vk-block
            script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
            // VK Widget
            #vk_groups
            script(type='text/javascript').
                VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "auto"}, 9007597);

        br

    .col-lg-12.col-md-6
        .fb-block
            #fb-root
            script.
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            .fb-page(data-href='https://www.facebook.com/ru.hanuman', data-height='261', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ru.hanuman')
                    a(href='https://www.facebook.com/ru.hanuman') Hanuman
