.accordion {
  display: block;
  width: 100%;
  background-color: #fff;

  &-item {
    display: block;
    border: 1px solid #e3e3e3;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid #e3e3e3;
    }

    &.show {
      border: 1px solid #59CBF5;
      .accordion {
        &-header {
          border-bottom: 1px solid #e3e3e3;

          h5 {
            a {
              color: #434343;

              .icon {
                transform: rotate(-90deg);
              }
            }
          }
        }

        &-content {
          display: block;
        }
      }
    }
  }

  &-header {
    display: block;

    h5 {
      font-family: $font-family-gothampro-regular;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #005d9d;
        text-decoration: none;
        padding: 15px 20px 13px;

        .icon {
          display: inline-flex;
          width: 8px;
          height: 13px;
          margin-left: auto;
          transition: transform 0.3s ease;
        }
      }
    }
  }


  &-content {
    display: none;
    padding: 20px;

    p {
      color: #747474;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}
