.add-yoga {
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #fff;

  &__title {
    margin-bottom: 23px;
  }

  &__section {
    padding: 20px 0;
  }

  &__actions {
    padding: 10px 0 20px;
  }


  &__block {
    margin-top: 30px;
    padding: 19px 0 16px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }

  &__backlink {
    margin: 26px 0 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
  }
}



@media (max-width: 767px) {
  .form {
    &__add-yoga {
      .ms-choice {
        height: 50px;
        line-height: 50px;
      }

      .form-group__text {
        padding-top: 6px;
      }

      textarea.form-control {
        height: 224px;
      }
    }
  }


  .add-yoga {
    padding: 0 10px;

    &__section {
      padding: 6px 0;
    }
  }

  .add-yoga__actions {
    .btn-action {
      margin-bottom: 20px;
    }
  }
}
