.alert {

  &-danger {
    position: relative;
    display: block;
    padding: 13px 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 64, 128, 0.05);

    &__title {
      position: relative;
      display: block;
      color: #ff4081;
      font-family: $font-family-gothampro-medium;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 8px;
      padding-left: 32px;


      .icon {
        position: absolute;
        fill: #ff4081;
        top: 0;
        left: 0;
        display: block;
        width: 23px;
        height: 23px;
      }

      .text {
        position: relative;
        display: block;
        top: 2px;
      }
    }

    &__text {
      display: block;
      max-width: 777px;
      color: #ff4081;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }


    &__close {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }

}
