.article {
    &-card {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
        background-color: #fff;

        &__absolute {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        &__date {
            color: #747474;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }

        &__thumb {
            overflow: hidden;
            display: block;
            height: 117px;

            img {
                max-width: 100%;
                height: auto;
                padding: 0;
            }
        }

        &__block {
            padding: 8px 12px 20px 9px;
        }

        &__title {
            color: #434343;
            font-family: $font-family-ptsans-bold;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
        }

        &__text {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
