.asana-list {
  margin-bottom: 20px;

  &__item {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
    background-color: #ffffff;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &__header {
    float: right;

    h3 {
      display: block;
      color: #434343;
      font-family: $font-family-gothampro-regular;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 13px;
    }
  }

  &__image {
    float: left;
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__content {
    float: right;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #747474;
    }

    a {
      display: inline-block;
    }
  }
}
