.authors {
    &-card {
        display: block;
    }

    &-thumb {
        position: relative;
        display: block;
        margin-bottom: 15px;

        img {
            overflow: hidden;
            display: block;
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
    }

    &-body {
        position: relative;
        display: block;

        > h3 {
            color: #434343;
            font-family: $font-family-gothampro-regular;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 4px;
        }

        p {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
