html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';

    &.is-not-scroll {
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    }

    &.fonts-loaded {
        body {
            font-family: $font-family-ptsans-regular, sans-serif;
        }
    }
}

html, body {
    height: 100%;
}

body {
  color: $body-color;
  font-family: sans-serif;
  font-size: $body-font-size;
  line-height: $body-line-height;
  background-color: $body-bg;

    &.open-menu {
        .burger {
            .line {
                transform: rotate(-45deg);

                &::before {
                    top: 0;
                    transform: rotate(94deg);
                }

                &::after {
                    opacity: 0;
                }
            }
        }
    }
}


.fonts-loaded {
    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font-family;
    }

  h1,
  .page-title {
    font-family: $font-family-gothampro-light;
  }


    .btn {
        &-primary {
            font-family: $btn-primary-font-family;
        }

        &-action {
            font-family: $btn-action-font-family;
        }

        &-fb {
            .btn__text {
                font-family: $font-family-ptsans-bold;
            }
        }

        &-tw {
            .btn__text {
                font-family: $font-family-ptsans-bold;
            }
        }

        &-filter {
            font-family: $btn-primary-font-family;
        }
    }


    .page {
        .secrets {
            p {
                font-family: $font-family-ptsans-regular;
            }
        }

        &-opt {
            .sidebar {
                h4 {
                    font-family: $font-family-gothampro-regular;
                }
            }

            .footnote {
                font-family: $font-family-ptsans-regular;
            }

            .discount {
                &-title {
                    font-family: $font-family-gothampro-regular;

                    span {
                        font-family: $font-family-ptsans-regular;
                    }
                }

                &-total {
                    font-family: $font-family-gothampro-regular;
                }
            }
        }

        &-yoga {
            .content {
                &__item {
                    p {
                        font-family: $font-family-ptsans-regular;
                    }
                }
            }
        }
    }

    .labels {
        .label {
            font-family: $font-family-gothampro-regular;
        }
    }

    .card {
        &-price {
            font-family: $font-family-gothampro-regular;

            &__old {
                font-family: $font-family-gothampro-light;
            }
        }
    }

    .blog {
        &-list {
            &__description {
                p {
                    font-family: $font-family-ptsans-regular;
                }
            }
        }
    }

    .news {
        &-list {
            &__horizontal {
                .news {
                    &-list {
                        &__link {
                            font-family: $font-family-ptsans-regular;
                        }
                    }
                }
            }
        }
    }

    .map {
        &-content {
            font-family: $font-family-ptsans-regular;

            a {
                font-family: $font-family-gothampro-regular;
            }
        }
    }


    .features {
        &__description {
            p {
                font-family: $font-family-ptsans-regular;
            }
        }

        &__caption {
            h3 {
                font-family: $font-family-gothampro-regular;
            }

            p {
                font-family: $font-family-ptsans-regular;
            }
        }
    }


    .content {

        &__item {
            font-family: $font-family-ptsans-regular;

            h2 {
                font-family: $font-family-gothampro-regular;
            }
        }


        .selected-articles {
            &__title {
                font-family: $font-family-gothampro-light;
            }
        }


        &.inside {
            ul {
                li {
                    font-family: $font-family-ptsans-regular;
                }
            }
        }


        .ical {
            a {
                font-family: $font-family-ptsans-regular;
            }

            span {
                font-family: $font-family-ptsans-regular;
            }
        }
    }



    .filter {
        &-title {
            font-family: $font-family-gothampro-regular;
        }
    }


    .sidebar {
        &-title {
            font-family: $font-family-gothampro-light;
        }

        &-inset {
            h4 {
                font-family: $font-family-gothampro-medium;
            }
        }


        .help {
            &-block {
                h3 {
                    font-family: $font-family-gothampro-regular;
                }

                p {
                    font-family: $font-family-ptsans-regular;
                }
            }
        }

        .contact {
            &-block {
                h3 {
                    font-family: $font-family-gothampro-medium;
                }

                p {
                    font-family: $font-family-ptsans-regular;
                }
            }

            &-list {
                li {
                    > a {
                        font-family: $font-family-ptsans-regular;

                        &[href^="tel:"] {
                            font-family: $font-family-gothampro-medium;
                        }
                    }
                }
            }
        }

        &__text {
            font-family: $font-family-ptsans-regular;
        }
    }


    .sort {
        &-title {
            font-family: $font-family-gothampro-regular;
        }
    }


    .product {
        &-head {
            &__title {
                font-family: $font-family-gothampro-light;
            }
        }

        &-short {
            p {
                font-family: $font-family-ptsans-regular;
            }
        }

        &-price {
            &__old {
                font-family: $font-family-gothampro-regular;
            }

            &__new {
                font-family: $font-family-gothampro-regular;
            }
        }

        &-sizes {
            &__title {
                span {
                    font-family: $font-family-ptsans-bold;
                }
            }
        }

        &-colors {
            &__title {
                span {
                    font-family: $font-family-ptsans-bold;
                }
            }
        }

        &-status {
            &__available {
                font-family: $font-family-ptsans-regular;
            }

            &__not-available {
                font-family: $font-family-ptsans-regular;
            }
        }

        &-notify {
            font-family: $font-family-ptsans-regular;
        }


        &-recommend {
            h2 {
                font-family: $font-family-gothampro-light;
            }
        }
    }



    .tab {
        &__item {
            h3 {
                font-family: $font-family-gothampro-regular;
            }

            ul {
                li {
                    font-family: $font-family-ptsans-regular;
                }
            }

            .block {
                font-family: $font-family-gothampro-regular;
            }
        }

        &__caption {
            font-family: $font-family-ptsans-regular;
        }
    }


    .size {
        &-title {
            font-family: $font-family-ptsans-regular;
        }

        &-size {
            font-family: $font-family-ptsans-regular;
        }
    }



    .cart {
        &-table {
            &__title {
                font-family: $font-family-ptsans-regular;
            }

            &__cell {
                .card {

                    &-size {
                        &__text {
                            font-family: $font-family-ptsans-regular;
                        }
                    }

                    &-price {
                        font-family: $font-family-gothampro-regular;

                        &__old {
                            font-family: $font-family-gothampro-regular;
                        }
                    }

                    &-quantity {
                        &__text {
                            font-family: $font-family-ptsans-regular;
                        }
                    }
                }
            }


            &-price {
                dt {
                    font-family: $font-family-gothampro-regular;
                }

                dd {
                    font-family: $font-family-gothampro-regular;
                }

                .footnote {
                    font-family: $font-family-ptsans-regular;
                }
            }
        }
    }


    .form {
        &-control {
            font-family: $font-family-ptsans-regular;

            &-label {
                font-family: $font-family-ptsans-regular;
            }

            &-notify {
                font-family: $font-family-ptsans-regular;
            }
        }
    }


    .col-form {
        &__description {
            font-family: $font-family-ptsans-regular;
        }
    }


    .custom {
        &-control {

            &-input {
                &:checked ~ {
                    .custom {
                        &-control {
                            &-description {
                                font-family: $font-family-ptsans-bold;
                            }
                        }
                    }
                }
            }

            &-description {
                font-family: $font-family-ptsans-regular;
            }

            .choose {
                font-family: $font-family-ptsans-regular;
            }

            .note {
                font-family: $font-family-ptsans-regular;
            }
        }
    }


    .order {
        &-actions {
            &__text {
                font-family: $font-family-ptsans-regular;
            }
        }
    }


    .opt {

        &-menu {
            ul {
                li {
                  [data-toggle="link"] {
                        font-family: $font-family-gothampro-regular;
                    }
                }
            }

            &__link {
                font-family: $font-family-gothampro-regular;
            }
        }


        &-table {
            &__head {
                .title {
                    font-family: $font-family-ptsans-regular;
                }
            }

            &__row {
                .headline {
                    font-family: $font-family-gothampro-regular;
                }
            }

            &__item {
                .article {
                    font-family: $font-family-gothampro-regular;
                }

                .quantity {
                    font-family: $font-family-ptsans-regular;
                }

                .price {
                    font-family: $font-family-ptsans-regular;
                }

                .total-price {
                    font-family: $font-family-ptsans-regular;
                }
            }
        }



        &-discounts {
            table {
                th {
                    font-family: $font-family-ptsans-regular;
                }

                td {
                    .description {
                        p {
                            font-family: $font-family-ptsans-regular;
                        }
                    }

                    .sum {
                        li {
                            font-family: $font-family-ptsans-bold;
                        }
                    }
                }
            }
        }
    }


  .page-representatives {
    .representatives {
      &-choose {
        h3 {
          font-family: $font-family-gothampro-regular;
        }
      }

      &__header {
        h3 {
          font-family: $font-family-gothampro-regular;
        }
      }

      &__item {
        font-family: 'PT Sans';

        h5 {
          font-family: 'PT Sans';
        }
      }
    }
  }



  .cart-price {
    dt, dd {
      font-family: $font-family-gothampro-regular;


      .footnote {
        font-family: 'PT Sans';
      }
    }
  }


  .sidebar {
    .contacts {
      &-title {
        font-family: $font-family-gothampro-regular;
      }
    }
  }


  .article-card__title {
    font-family: 'PT Sans';
  }


  .page-faq {
    .accordion {
      &-content {
        h3 {
          font-family: 'PT Sans';
        }
      }
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}


h1 {
  font-size: $font-size-h1;
  font-weight: 300;
  line-height: 57px;
}

h2 {
  font-size: $font-size-h2;
  line-height: 30px;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: text-decoration 0.1s ease;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}


hr {
  margin-top: 14px;
  margin-bottom: 30px;
  border-top: 1px solid #e2e2e2;
}


p {
    margin-bottom: 10px;
}


b, strong {
    font-family: $font-family-ptsansbold;
}


.page {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 0;
  text-align: left;

  &::after,
  &::before {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}


.rub {
  display: inline-block;
  font: normal normal normal 14px/1 $font-family-gothampro-regular;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5px;

  &::before {
    content: "\0020BD";
  }
}



.list-styled {
  list-style: none;
  counter-reset: c;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    color: #747474;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 35px;
    margin-bottom: 7px;

    &::before {
      counter-increment: c;
      content: counter(c);
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      line-height: 22px;
      color: #005d9d;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      border: 1px solid #59cbf5;
      border-radius: 50%;
      left: 0;
      top: 2px;
    }
  }
}


.float {
    &-left {
        float: left;
    }
}


.hidden {
  display: none;
}
