.blog {

    h2 {
        margin-bottom: 12px;
    }

    &-inner {
        h1 {
            margin-bottom: 10px;
        }

        .date {
            display: block;
            color: #747474;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 27px;
        }


      p {
        &:first-of-type {
          img {
            padding-top: 0;
          }
        }
      }


      .recommended {
        display: block;
        padding: 30px 100px 0px 0;

        &-title {
          color: #434343;
          font-family: $font-family-gothampro-regular;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 23px;
        }

        &-list {
          margin: 0;
          padding: 0;

          &__item {
            margin-bottom: 20px;
          }
        }


        &-article {
          display: flex;
          flex-direction: row;

          &-thumb {
            width: 81px;
          }

          &__title {
            padding-left: 10px;

            > a {
              color: #005d9d;
              font-family: $font-family-ptsans-regular;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }


      .comments {
        padding-right: 100px;
      }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;

        &__item {
            position: relative;
            margin-bottom: 20px;
            height: auto;
            min-height: 100%;
        }

        &__article {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            height: auto;
            box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
            background-color: #fff;
        }

        &__absolute {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        &__thumb {
            overflow: hidden;
            display: block;
            width: 100%;
            height: 200px;

            > img {
              width: 100%;
              padding: 0;
            }
        }

        &__body {
            display: block;
            padding: 7px 20px 20px;
        }

        &__description {
            .date {
                display: block;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 2px;
            }

            h3 {
                font-size: $font-size-h2;
                line-height: 30px;
                margin: 0 0 3px;
            }

            p {
                color: #747474;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }



    &-card {
        position: relative;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        height: 100%;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
        background-color: #fff;

        &__item {
            margin-bottom: 20px;
        }

        &__absolute {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        &__thumb {
            overflow: hidden;
            display: block;
            width: 100%;
            height: 165px;
            margin-top: auto;

          > img {
            max-width: 100%;
            width: 100%;
            padding: 0;
          }
        }

        &__block {
            display: block;
            padding: 15px 20px 15px;
        }

       &__title {
           font-size: $font-size-h2;
           line-height: 30px;
           margin: 0;
       }

        &__text {
            color: #747474;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
}
