.breadcrumb {
  background-color: transparent;
  margin: 11px 0 17px;
  padding: 0;
  border-radius: 0;

  li {
    float: left;
    display: inline-block;

    &::after {
      content: '/';
      position: relative;
      display: inline-block;
      font-size: 11px;
      vertical-align: baseline;
      margin: 0 4px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    a {
      display: inline-block;
      color: #747474;
      font-size: 12px;
      text-decoration: none;
      vertical-align: baseline;
      transition: color 0.1s ease;

      &:focus,
      &:hover {
        color: #005d9d;
      }
    }

    span {
      color: #747474;
      font-size: 12px;
    }
  }
}
