.btn {
  position: relative;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus {
    outline: none;
    outline-offset: 0;
  }

  &:active {
    &:focus {
      outline: none;
      outline-offset: 0;
      box-shadow: inset 0 0 0 0;
    }
  }


  &:disabled {
    cursor: default;
    opacity: 0.22;
    box-shadow: $btn-primary-boxshadow;
  }

  &-primary {
    height: $btn-primary-height;
    line-height: $btn-primary-height;
    color: $btn-primary-color;
    font-size: $btn-primary-font-size;
    text-transform: uppercase;
    border: $btn-primary-border;
    padding: $btn-primary-padding;
    box-shadow: $btn-primary-boxshadow;
    border-radius: $btn-primary-border-radius;
    letter-spacing: 0.3px;
    background-image: $btn-primary-bg;
    transition: all 0.3s ease;

    &:active {
        &:hover,
        &:focus,
        &:hover {
            color: $btn-primary-color;
            border: $btn-primary-border;
        }
      }

    &,
    &:active {
      &:focus {
        color: $btn-primary-color;
        border: $btn-primary-border;
      }
    }

      &:focus {
          color: $btn-primary-color;
          border: $btn-primary-border;
      }

    &:hover,
    &:focus {
      color: $btn-primary-color;
      border: $btn-primary-hover-border;
      border-bottom: $btn-primary-hover-border-bottom;
      box-shadow: $btn-primary-hover-boxshadow;
      background-color: transparent;
      background-image: $btn-primary-hover-bg;
    }

    &:hover,
    &:focus {
      color: $btn-primary-color;
      border: $btn-primary-hover-border;
      border-bottom: $btn-primary-hover-border-bottom;
    }


    &[disabled] {
      &:focus,
      &:hover {
        border: $btn-primary-border;
      }
    }
  }


  &-action {
    height: $btn-action-height;
    line-height: $btn-action-height;
    color: $btn-action-color;
    font-size: $btn-action-font-size;
    text-transform: uppercase;
    border: $btn-action-border;
    padding: $btn-action-padding;
    box-shadow: $btn-action-boxshadow;
    border-radius: $btn-action-border-radius;
    letter-spacing: 0.3px;
    background-image: $btn-action-bg;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
      color: $btn-action-color;
      border: $btn-action-hover-border;
      box-shadow: $btn-action-hover-boxshadow;
      background-image: $btn-action-hover-bg;
    }
  }


  &__cart {
    position: relative;
    display: inline-block;
    width: 40px;
    top: 6px;
    left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &::before {
        font-size: 25px;
      }
    }
  }



  &-vk {
      width: 90px;
      height: 34px;
      line-height: 1;
      border-radius: 5px;
      border: 0;
      padding: 0 10px;
      background-color: #5e81a8;
      transition: all 0.3s ease;

      &:hover {
          background-color: #688fba;
      }


      .icon {
          vertical-align: middle;
          color: #fff;
          font-size: 18px;

          &.fa-heart {
              font-size: 16px;
              opacity: 0.5;
              margin-right: 0;
          }
      }

      .separator {
          display: inline-block;
          width: 1px;
          height: 17px;
          vertical-align: middle;
          margin: 0 10px 0 9px;
          background-color: #fff;
      }
  }

  &-fb {
      width: 90px;
      height: 34px;
      line-height: 1;
      border-radius: 5px;
      padding: 0 10px;
      background-color: #3a5897;
      transition: all 0.3s ease;

      &:hover {
          background-color: #4162a7;
      }

      .icon {
          vertical-align: middle;
          color: #fff;
          font-size: 16px;
          margin-right: 5px;
      }

      .btn__text {
          display: inline-block;
          color: #fff;
          font-size: 12px;
          line-height: normal;
          font-weight: 700;
      }
  }

  &-tw {
      width: 90px;
      height: 34px;
      line-height: 1;
      border-radius: 5px;
      padding: 0 10px;
      background-color: #1b95e0;
      transition: all 0.3s ease;

      &:hover {
          background-color: #1ea0f0;
      }

      .icon {
          vertical-align: middle;
          color: #fff;
          font-size: 18px;
          margin-right: 5px;
      }

      .btn__text {
          display: inline-block;
          color: #fff;
          font-size: 12px;
          line-height: normal;
          font-weight: 700;
      }
  }


  &-filter {
      position: relative;
      display: block;
      text-decoration: none;
      text-align: center;
      height: 50px;
      line-height: 50px;
      color: $btn-primary-color;
      font-size: $btn-primary-font-size;
      text-transform: uppercase;
      border: $btn-primary-border;
      padding: $btn-primary-padding;
      box-shadow: $btn-primary-boxshadow;
      border-radius: $btn-primary-border-radius;
      letter-spacing: 0.3px;
      background-image: $btn-primary-bg;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
          outline: none;
          color: $btn-primary-color;
          border: $btn-primary-hover-border;
          box-shadow: $btn-primary-hover-boxshadow;
          background-color: transparent;
          background-image: $btn-primary-hover-bg;
      }


      &[disabled] {
          &:focus,
          &:hover {
              border: $btn-primary-border;
          }
      }


      .filter-icon {
          position: absolute;
          display: block;
          width: 49px;
          height: 50px;
          opacity: 1;
          top: 0;
          left: 0;
          transition: opacity 0.3s ease;

          &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 49px;
              top: 0;
              right: 0;
              background-color: #d4eef5;
          }

          .icon-filter {
              position: absolute;
              fill: #747474;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
      }

      .icon-close {
          position: absolute;
          display: block;
          opacity: 0;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          transition: opacity 0.3s ease;
      }

      &.open {
          .icon-filter {
              opacity: 0;
          }

          .icon-close {
              opacity: 1;
          }

          .filter-icon {
            &::after {
              opacity: 0;
            }
          }
      }
  }



  .icon {
      &.left {
          float: left;

          .fa {
              &-file-excel-o {
                  position: relative;
                  font-size: 24px;
                  font-weight: 400;
                  top: 4px;
              }
          }
      }
  }

}
