.card {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
  margin-bottom: 20px;
  transition: border-color 0.1s linear;

  &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      border: 1px solid transparent;
      z-index: 1;
      transition: border-color 0.3s ease;
  }


  &:hover {
    &::before {
        border-color: #59cbf5;
    }

    .card-buy {
      display: block;
    }
  }



  &-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }


  &-labels {
    position: absolute;
    display: inline-block;
    top: 19px;
    left: 0;
    z-index: 0;

    .label {
      display: inline-block;
      color: #fff;
      padding-left: 8px;

      &:first-child {
          &::before {
              display: none;
          }
      }
    }
  }

  &-thumb {
    display: flex;
    align-items: center;
    align-content: center;
    height: auto;
    text-align: center;
    padding: 20px 0 0;
    //padding: 0 10px;
    //margin: 20px 0 14px;
    flex: auto 1;
    min-width: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px;
      margin: 0 auto;
    }

  }

  &-block {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 15px 0;
    z-index: 1;
    //max-height: 100px;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      //margin-bottom: 7px;
    }
  }

  &-buy {
      position: absolute;
      display: none;
      top: 0;
      left: 50%;
      z-index: 3;
      transform: translateY(-78px);

     .btn {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
     }
  }



  &-price {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0 15px 15px;
    margin-top: auto;


    &__old {
      display: inline-block;
      color: #cfcfcf;
      font-size: 14px;
      font-weight: 400;
      text-decoration: line-through;
      margin-right: 10px;
    }
  }


  &-size {
      .select2-container--default .select2-selection--multiple {
          height: 34px;
          min-height: 34px;
      }
  }

  &-link {
      height: 44px;
      overflow: hidden;
      margin-bottom: 8px;
  }


  &-img-top {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
}
