.cart {
  position: relative;
  display: inline-block;
  padding-top: 7px;

  &__link {
      position: relative;
      margin-right: 8px;

      &:hover {
          .cart__icon {
            .icon {
              fill: #005D9D;
            }
          }
      }
  }

  &__text {
    position: relative;
    margin-right: 10px;
    top: 1px;
  }

  &__icon {
    position: relative;
    top: 6px;

    .icon {
      fill: #747474;
      width: 24px;
      height: 21px;
      transition: color 0.3s ease;
    }
  }


  &__count {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    color: #434343;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border-radius: 50%;
    top: 1px;
    right: 0px;
    //background-color: #59cbf5;
    z-index: 1;
  }


    &-table {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        &__head {
            width: 100%;
            //display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            width: 100%;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            background-color: transparent;
        }

        &__title {
            display: inline-flex;
            color: #747474;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 2px;
        }

        &__row {
            position: relative;
            //display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            width: 100%;
            align-items: center;
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #fff;

            &::before {
                //content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                right: auto;
                background-color: #fff;
            }

            &:nth-child(odd) {
                background-color: #f2fcff;

                &::before {
                    background-color: #f2fcff;
                }

                .cart-table__cell {
                    &--trash {
                        background-image: linear-gradient(-90deg, #ebf6fa 50%, rgba(#ebf6fa,0));
                    }
                }
            }


            .cart-table__cell {
                &--trash {
                    background-image: linear-gradient(-90deg, #fff 50%, rgba(255,255,255,0));
                }
            }


            &:hover {
                .cart-table__cell {
                    &--trash {
                        visibility: visible;
                    }
                }
            }
        }

        &__align {
            align-items: center;
        }

        &__cell {
            position: relative;
            vertical-align: middle;
            padding-top: 20px;
            padding-bottom: 20px;

            .cart-table__cell {
                padding-top: 0;
                padding-bottom: 0;

                &--trash {
                    position: absolute;
                    display: inline-block;
                    visibility: hidden;
                    width: 60px;
                    top: 0px;
                    right: -10px;
                    bottom: 0px;
                    padding: 0 50px;
                    z-index: 3;

                    .card-trash {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        > a {
                            display: block;
                            padding: 20px;
                        }
                    }
                }
            }

            .card {
                &-thumb {
                    //display: inline-block;
                    width: 100%;
                    min-width: auto;
                    height: auto;
                    padding: 3px;
                    box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
                    box-sizing: border-box;
                    background-color: #fff;

                    img {
                        max-height: 100%;
                        vertical-align: top;
                        padding: 0;
                    }
                }

                &-name {
                    //display: inline-block;
                    vertical-align: middle;
                    word-break: normal;
                }

                &-gamma {
                    //display: inline-block;
                    vertical-align: middle;

                    &__title {
                        position: absolute;
                        top: -23px;
                        display: block;
                        color: #747474;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                    }

                    &__box {
                        position: relative;
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        vertical-align: middle;
                        border: 3px solid #fff;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position: center;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 34px;
                            height: 34px;
                            border: 1px solid #e3e3e3;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                &-size {
                    position: relative;
                    //display: inline-block;
                    vertical-align: middle;

                    &__title {
                        position: absolute;
                        top: -23px;
                        display: inline-block;
                        color: #747474;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        vertical-align: middle;
                    }

                    &__box {
                        display: inline-block;
                        width: 100%;
                    }

                    &__text {
                        position: absolute;
                        display: block;
                        width: 240px;
                        color: #9c9c9c;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.2;
                        letter-spacing: 0.1px;
                        top: 100%;
                        bottom: auto;
                        padding-top: 7px;
                    }
                }

                &-price {
                    position: relative;
                    //display: inline-block;
                    color: #434343;
                    font-size: 20px;
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: left;
                    padding: 0;
                    margin: 0;

                    &__title {
                        display: none;
                        color: #747474;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        vertical-align: middle;
                    }

                    &__old {
                        position: absolute;
                        top: -20px;
                        display: block;
                        width: 100%;
                        color: #cfcfcf;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: line-through;
                    }

                    .rub {
                        margin-left: 5px;
                    }
                }

                &-quantity {
                    position: relative;
                    display: block;
                    vertical-align: middle;

                    &__title {
                        display: none;
                        color: #747474;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        vertical-align: middle;
                    }

                    &__text {
                        position: absolute;
                        display: block;
                        width: 240px;
                        color: #ff4081;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.2;
                        letter-spacing: 0.1px;
                        top: 100%;
                        bottom: auto;
                        padding-top: 7px;
                    }
                }

                &-trash {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    &-price {
        display: block;
        margin: 25px 0 37px;

        dt {
            float: left;
            width: 120px;
            color: #434343;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        dd {
            color: #434343;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 16px;
            @include clearfix();

            .rub {
                margin-left: 5px;
            }

            .footnote {
                display: block;
                color: #9c9c9c;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                margin-left: 90px;
            }

          &:last-child  {
            margin-bottom: 0;
          }
        }
    }
}




@media (min-width: 1180px) {
  .cart-price dd .footnote {
    margin-left: 120px;
  }
}


@media (max-width: 991px) {
    .cart {
        &-table {
            margin-bottom: 0;

            &__row {
                padding-left: 10px;
                padding-right: 10px;
            }

            &__head {
                display: none;
            }

            &__align {
                display: flex;
                align-items: flex-start;
            }

            &__cell {
              padding-top: 10px;
              padding-bottom: 10px;

                .cart-table__cell {
                    &--trash {
                        position: relative;
                        visibility: visible;
                        width: auto;
                        padding: 0 10px;
                        margin-top: auto;
                        margin-bottom: 20px;
                        top: 0;
                        right: auto;
                        text-align: right;
                        transform: translateY(0);

                        .card-trash {
                            position: relative;
                            top: auto;
                            margin-right: 12px;
                            transform: translateY(0);

                            > a {
                                padding: 0;
                            }
                        }
                    }
                }

                .card {
                    &-thumb {
                        width: 100%;
                        height: 100%;
                    }

                    &-name {
                        margin-bottom: 20px;
                    }

                    &-size {
                        &__title {
                            position: relative;
                            top: 0;
                            display: block;
                            margin-bottom: 5px;
                        }

                        &__box {
                            display: block;
                            width: 100%;
                        }

                        &__text {
                            position: relative;
                            width: auto;
                            padding-top: 5px;
                        }
                    }

                    &-gamma {
                        &__title {
                            position: relative;
                            top: 0;
                            margin-bottom: 5px;
                        }

                        &__box {
                            width: 38px;
                            height: 38px;
                            border: 0;

                            &::before {
                                width: 46px;
                                height: 46px;
                            }
                        }
                    }

                    &-price {
                        margin: 20px 0;

                        &__title {
                            position: relative;
                            top: 0;
                            display: block;
                            margin-bottom: 5px;
                        }

                        &__old {
                            position: relative;
                            display: inline-block;
                            width: auto;
                            top: 0;
                        }
                    }

                    &-quantity {
                        &__title {
                            position: relative;
                            top: 0;
                            display: block;
                            margin-bottom: 5px;
                        }

                        &__text {
                            position: relative;
                            width: auto;
                            padding-top: 5px;
                        }

                        .quantity-input {
                            height: 41px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .cart {
        &-table {
            &__align {
              align-items: flex-start;
            }


            &__row {
                padding-left: 10px;

                &::before {
                    display: none;
                }
            }
        }
    }
}

