.catalog {
  width: 100%;
  display: block;

  &-content {
      .main-content {
          padding-top: 27px;
          padding-bottom: 9px;

          .content-block {
              margin-bottom: 50px;
          }
      }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__actions {
    display: block;
    margin: 12px 0 30px;
  }
}
