.checkout {
    margin-bottom: 15px;

    .page-title {
        margin-top: -20px;
        margin-bottom: 28px;
    }


  &-form {
    display: block;
    width: 100%;
  }
}

.choose {
  position: relative;
  display: inline-block;
  color: #005d9d;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 1px dashed;

  &:focus,
  &:hover {
    border-bottom-color: transparent;
  }

  &-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
  }

  .icon {
    position: absolute;
    display: block;
    width: 10px;
    height: 13px;
    fill: #59cbf5;
    top: 0;
    left: -12px;
  }
}
