.content {
  &-wrap {
    background-color: #fff;
    width: 100%;
    padding: 45px 0 43px;
  }


  &__item {
      font-size: 18px;
      line-height: 28px;
      color: #747474;
      font-weight: 400;
      padding-right: 100px;
      margin-bottom: 30px;

      &.reviews {
          padding-right: 0;
      }

      h1 {
          color: #434343;
          font-size: 48px;
          font-weight: 300;
          line-height: 57px;
          margin-bottom: 16px;
      }

      h2 {
          color: #434343;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          margin-top: 25px;
          margin-bottom: 11px;
      }

      p {
          &:last-child {
              margin-bottom: 0;
          }
      }

      img {
          max-width: 100%;
          padding: 18px 0 10px;
      }
  }

  &-block {
    p {
        color: #747474;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px
    }

    &__item {
        margin-bottom: 23px;

        h1 {
            margin-bottom: 16px;
        }

        h2 {
            margin-bottom: 11px;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }


            &.text-sm {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .content-block__item {
            padding-right: 100px;
        }
    }

    a:not(.btn) {
      display: inline-block;
      line-height: 16px;
    }
  }



    .encyclopedia {
        margin-bottom: 20px;
        padding-right: 100px;
    }

    .selected-articles {
        margin-bottom: 20px;
        padding-right: 100px;

        &__title {
            color: #434343;
            font-size: 48px;
            font-weight: 300;
            line-height: 57px;
            margin-bottom: 45px;
        }
    }



  &.inside {
      padding-top: 30px;

      h2 {
          margin-bottom: 24px;
      }

      ul {
          margin: 0 0 0 25px;
          padding: 0;

          li {
              color: #747474;
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 20px;

              &:last-child {
                  margin-bottom: 0;
              }
          }
      }
  }


  .ical {
    position: relative;
    display: block;
    padding-left: 40px;

    a {
      position: relative;
      color: #005d9d;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 52px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 31px;
        height: 32px;
        background-image: url('../images/ical.png');
        background-repeat: no-repeat;
      }
    }

    span {
      display: block;
      color: #747474;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 52px;
    }
  }


  .jumbotron {
      padding: 15px 20px;
      background-color: #fff;
      border-radius: 0px;

      img {
        max-width: 100%;
        margin: 0 20px 0px 0;
      }
  }


  .safety {
    display: block;
    padding: 10px 18px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #fff;

    h3 {
      display: block;
      max-width: 447px;
      color: #434343;
      font-family: $font-family-gothampro-regular;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      padding-top: 30px;

      &:first-child {
        padding-top: 0;
      }
    }

    ul {
      margin-bottom: 20px;
      padding-left: 35px;

      li {
        color: #747474;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }


    p {
      color: #747474;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }


  .gallery {
    display: block;
    overflow: hidden;
    padding: 10px 0;

    &__item {
      float: left;
      display: inline-block;
      width: 283px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      a {
        display: block;
        outline: none;
      }

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
