.custom {

    &-controls {
        &-stacked {
            @include clearfix();
        }
    }

    &-radio {
        margin-bottom: 10px;

        .custom {
            &-control {
                &-input {
                    &:checked ~ {
                        .custom {
                            &-control {
                                &-indicator {
                                    background-image: none;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        display: block;
                                        width: 8px;
                                        height: 8px;
                                        top: 50%;
                                        left: 50%;
                                        border-radius: 50%;
                                        margin: 0;
                                        padding: 0;
                                        background-color: #59cbf5;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    &-checkbox {
        line-height: 22px;
        margin-bottom: 15px;

        .custom-control-indicator {
          top: 2px;
        }


        .custom-control-input:checked ~ .custom-control-indicator {
            background-image: none;

            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 7px;
                top: 4px;
                left: 3px;
                border-width: medium medium 3px 3px;
                border-style: none none solid solid;
                border-color: #59cbf5;
                border-top: none;
                border-right: none;
                background: transparent;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }


        .custom-control-input:checked ~ .custom-control-description {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 14px;
            font-weight: 400;
        }

        .custom-control-description {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 14px;
            font-weight: 400;
        }
    }



    &-control {
        padding-left: 30px;

        &:hover {
            .custom-control {
                &-indicator {
                    box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                    border: 1px solid #59cbf5;
                }
            }
        }

        &-input {
            &:active ~ {
                .custom {
                    &-control {
                        &-indicator {
                            background-color: #fff;
                        }
                    }
                }
            }

            &:checked ~ {
                .custom {
                    &-control {
                        &-indicator {
                            border-color: #59cbf5;
                            box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                            background-color: rgba(88, 203, 245, 0.15);
                        }

                        &-description {
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        &-indicator {
            width: 18px;
            height: 18px;
            border: 1px solid #e3e3e3;
            top: 3px;
            background-color: #fff;
        }

        &-description {
            color: #747474;
            font-size: 16px;
            font-weight: 400;
        }

        .note {
            display: inline-block;
            color: #9c9c9c;
            font-weight: normal;
            margin-left: 15px;
        }
    }
}
