.delivery {

  &-selected {
    display: none;
  }

  &-caption {
    display: block;
    clear: both;
    color: #747474;
    font-family: $font-family-ptsans-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }


  &-points {
    padding-top: 15px;
    padding-left: 31px;

    ul.contacts {
      list-style: none;
      padding: 0 0 15px;
      margin: 0;

      li {
        color: #747474;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          padding-left: 5px;
        }
      }
    }


    .point {
      &-tabs {
        display: block;
        margin-bottom: 5px;

        a {
          display: inline-block;
          color: #005D9D;
          font-size: 14px;
          line-height: 14px;
          text-decoration: none;
          margin-right: 20px;
          border-bottom: 1px dashed #005D9D;
          transition: border-bottom-color 0.3s ease;

          &:hover {
            border-bottom-color: transparent;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &-content {
        color: #747474;
        font-size: 16px;
        line-height: 22px;

        &__item {
          display: none;

          &.active {
            display: block;
          }

          > img {
            max-width: 100%;
          }
        }

        &__map {
          width: 100%;
          height: 384px;
        }
      }


      &-list {
        width: 100%;
        max-width: 540px;
        list-style: none;
        padding: 20px 0 0;
        margin: 0;

        &__item {
          padding: 11px 20px 10px;
          margin-bottom: 10px;
          border: 1px solid #D5D2D2;
          border-radius: 5px;
          cursor: pointer;
          background: #fff;

          &.active {
            padding: 10px 19px 9px;
            border: 2px solid #59CBF5;
            box-shadow: 0 1px 1px 0 rgba(0,58,78,0.15);
            background: linear-gradient(180deg, #FFFFFF 0%, #F9FEFF 100%);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }


        &__content {
          color: #747474;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }


  &-tabs {
    &__nav {
      display: block;
      margin-bottom: 10px;

      > a {
        display: inline-block;
        line-height: 14px;
        text-decoration: none;
        margin-right: 20px;
        border-bottom: 1px dashed;
        transition: border-bottom 0.3s ease;

        &:focus,
        &:hover {
          border-bottom: transparent;
        }
      }
    }

    &__item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}


@media (max-width: 991px) {
  .delivery {
    &__city,
    &__date {
      .col-form {
        &-description {
          height: auto;
          padding-top: 5px;
        }
      }
    }


    &__post {
      .custom-radio {
        margin-bottom: 0px;
      }

      .col-form {
        &-description {
          height: auto;
          padding-left: 30px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
