.events {
  position: relative;

  .content {
      h1 {
          margin-bottom: 16px;
      }
  }

  h2 {
      margin-bottom: 13px;
  }

  &-items {
    display: block;
    margin-bottom: 30px;
    background-color: #f2fcff;


    &__item {
        display: block;

        &:nth-child(odd) {
            .events-items__article {
                background-color: #fff;
            }
        }
    }

    &__article {
        padding: 10px 20px 15px;
    }
  }


  &-thumb {
    float: left;
    overflow: hidden;
    display: block;
    width: 86px;
    height: 86px;
    vertical-align: top;
  }

  &-content {
    display: table-cell;
    vertical-align: top;
    padding: 0 0px 0 20px;


    .date {
      display: block;
      color: #747474;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &-title {
    display: block;
    color: #747474;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
  }


  &-add {
      display: block;
      padding: 24px 0 30px;
  }


  .pagination {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
