.exercises {
  display: block;

  &__item {
    display: block;
    margin-bottom: 20px;
  }

  &__card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 223px;
    box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
    background-color: #ffffff;
  }

  &__absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__title {
    display: block;
    color: #434343;
    font-family: $font-family-gothampro-regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 20px 0;
  }

  &__thumb {
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;

    img {
      max-width: 100%;
    }
  }
}
