.features {
    display: table;

    &__item {
        margin-bottom: 23px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__thumb {
        display: table-cell;
        max-width: 80px;
        vertical-align: top;

        &-block {
            display: block;
            height: 70px;
            vertical-align: top;
            margin-bottom: 12px;
        }
    }

    &__description {
        display: table-cell;
        padding-left: 20px;
        vertical-align: top;

        p {
            color: #747474;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 0px;
        }
    }

    &__caption {
        display: block;

        h3 {
            color: #434343;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        p {
            color: #747474;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}
