.filter {
  &-title {
    display: block;
    color: #434343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 9px;
  }

  &-item {
    display: block;
  }

  &-actions {
    display: block;

    .btn {
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }




  .category,
  .type,
  .size,
  .price {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 10px;

      &.active {
        a {
          padding: 0 3px;
          background-image: linear-gradient(180deg, white 0%, #f9feff 100%);
          border: 2px solid #59cbf5;
          box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);

            &:hover {
                border: 2px solid #59cbf5;
            }
        }
      }

      a {
        display: inline-block;
        height: 34px;
        line-height: 32px;
        color: #434343;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        padding: 0 5px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        background-color: #fff;

          &:hover {
              border: 1px solid #59cbf5;
          }
      }
    }
  }


  .category {
    list-style: none;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 13px;
    @include clearfix();

    li {
      float: left;
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;

      a {
        display: block;
        width: 100%;
        padding: 0;
      }
    }
  }

  .type {
    li {
      display: block;

      a {
        display: block;
        width: 100%;
      }
    }
  }


  .size {
    list-style: none;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 12px;
    @include clearfix();

    li {
      float: left;
      padding-left: 5px;
      padding-right: 5px;

      a {
        width: 41px;
        padding: 0;
      }

      &:last-child {
          padding-right: 0;
      }
    }
  }

  .price {
    list-style: none;
    margin-left: -5px;
    margin-right: -5px;
    @include clearfix();

    li {
      float: left;
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;

      a {
        display: block;
        width: 100%;
        padding: 0;
      }
    }
  }



  &-foot {
    display: block;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &__add {
      display: block;

      > a {
        color: #005d9d;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        text-decoration: underline;
      }
    }
  }
}
