@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'),
  url("../fonts/PTSans/ptsans.woff2") format('woff2'),
  url('../fonts/PTSans/ptsans.woff') format('woff'),
  url('../fonts/PTSans/ptsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'), local('PTSans-Italic'),
  url('../fonts/PTSans/ptsansitalic.woff2') format('woff2'),
  url('../fonts/PTSans/ptsansitalic.woff') format('woff'),
  url('../fonts/PTSans/ptsansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/PTSans/ptsansbold.woff2') format('woff2'),
  url('../fonts/PTSans/ptsansbold.woff') format('woff'),
  url('../fonts/PTSans/ptsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
  url('../fonts/PTSans/ptsansbolditalic.woff2') format('woff2'),
  url('../fonts/PTSans/ptsansbolditalic.woff') format('woff'),
  url('../fonts/PTSans/ptsansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}




@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro/GothamPro-Black.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-Black.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Black.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black-Italic';
  src: url('../fonts/GothamPro/GothamPro-BlackItalic.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-BlackItalic.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-BlackItalic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-BlackItalic.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro/GothamPro-Bold.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-Bold.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Bold.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold-Italic';
  src: url('../fonts/GothamPro/GothamPro-BoldItalic.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-BoldItalic.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-BoldItalic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-BoldItalic.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Italic';
  src: url('../fonts/GothamPro/GothamPro-Italic.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-Italic.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Italic.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro/GothamPro-Light.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-Light.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Light.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light-Italic';
  src: url('../fonts/GothamPro/GothamPro-LightItalic.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-LightItalic.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-LightItalic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-LightItalic.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro/GothamPro-Medium.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-Medium.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Medium.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium-Italic';
  src: url('../fonts/GothamPro/GothamPro-MediumItalic.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro-MediumItalic.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-MediumItalic.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'GothamProNarrow-Bold';
  src: url('../fonts/GothamPro/GothamProNarrow-Bold.eot?') format('eot'),
  url('../fonts/GothamPro/GothamProNarrow-Bold.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
  url('../fonts/GothamPro/GothamProNarrow-Bold.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'GothamProNarrow-Medium';
  src: url('../fonts/GothamPro/GothamProNarrow-Medium.eot?') format('eot'),
  url('../fonts/GothamPro/GothamProNarrow-Medium.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
  url('../fonts/GothamPro/GothamProNarrow-Medium.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
  font-style: normal;
}
