.footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  padding: 42px 0 30px;
  background-color: #fff;

  .logo {
      display: block;
      height: 42px;

    .icon {
      position: relative;
      top: -3px;
      width: 120px;
      height: 42px;
      fill: #9c9c9c;
    }
  }

  .copyright {
    display: block;
    color: #9c9c9c;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 13px;
  }

  .address {
    display: block;
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 210px;
  }

  .description {
    display: block;
    width: 140px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .social {
      display: block;
      margin-bottom: 12px;
      @include clearfix();

      &__item {
          float: left;
          position: relative;
          display: inline-block;
          text-align: center;
          margin-right: 10px;

          &:last-child {
              margin-right: 0;
          }
      }
  }

  .madein {
    display: block;

    &-link {
      text-decoration: none;
    }

    &-text {
      display: inline-block;
      color: #747474;
      font-family: $font-family-ptsans-regular;
      font-size: 12px;
      font-weight: 400;
      line-height: 10px;
      text-align: right;
    }

    &-logo {
      position: relative;
      display: inline-block;
      top: 3px;
      margin-left: 5px;

        .icon {
            fill: #9c9c9c;
        }
    }
  }
}
