input[type=checkbox],
select {
    display: none;
}

textarea.form-control {
    height: 100px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    resize: none;
    padding-top: 14px;
}


.form {
    &-group {
        margin-bottom: 20px;

        &-indent {
            padding-right: 36px;
        }

      &__text {
        color: #9c9c9c;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 8px;
      }
    }

    &-control {
        height: 40px;
        color: #434343;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        border: 1px solid #a7e4f5;
        border-radius: 5px;
        box-shadow: inset 0 2px 2px rgba(49, 184, 234, 0.3);
        padding: 0px 10px;
        background-color: #fff;

        &:disabled {
            opacity: 0.3;
            cursor: default;
            border: 1px solid #a7e4f5;
            box-shadow: inset 0 2px 2px rgba(49, 184, 234, 0.3);
            background-color: #fff;
        }


        &:focus {
            border: 1px solid #59cbf5;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
            background-color: rgba(88, 203, 245, 0.15);
        }


        &-label {
            color: #747474;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            &.required {
                position: relative;

                &::after {
                    content: '*';
                    display: inline-block;
                    color: #ff4081;
                    margin-left: 2px;
                }
            }
        }


        &-notify {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }


      &.error {
        border: 1px solid #ff4081;
        box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
        background-color: rgba(255, 64, 128, 0.15);
        background-image: none;

        &:focus {
          box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
        }
      }


      &.valid {
        position: relative;
        padding-right: 40px;
        border: 1px solid #8bc34a;
        box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
        background-color: rgba(138, 195, 73, 0.05);
        background-image: none;

        &:focus {
          box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
        }
      }
    }


    &-modal {
        padding-top: 26px;

        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }



    &-add-yoga {
        padding-top: 15px;
        padding-right: 280px;
    }


  &__errors {
    position: absolute;
    color: #ff4081;
    font-family: $font-family-ptsans-regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  &__add-yoga {
    .ms-choice {
      height: 40px;
      line-height: 40px;
    }


    .form-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #747474;
    }
  }


  &-check {
    @include clearfix();
    display: block;
    margin-bottom: 22px;

    &__description {
      display: block;
      max-width: 600px;
      color: #9C9C9C;
      font-size: 14px;
      line-height: 20px;
      clear: both;
      padding-left: 30px;
    }

    .custom-control {
      margin-bottom: 1px;
    }
  }
}


.has-danger {
    .form {
        &-control {
            &-label {
                &.required {
                    color: inherit;
                }
            }

            &-danger {
                border: 1px solid #ff4081;
                box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                background-color: rgba(255, 64, 128, 0.15);
                background-image: none;

                &:focus {
                    box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                }
            }

            &-notify {
                position: absolute;
                color: #ff4081;
            }
        }
    }
}


.has-success {
    .form {
        &-control {
            &-label {
                &.required {
                    color: inherit;
                }
            }

            &-success {
                position: relative;
                padding-right: 40px;
                border: 1px solid #8bc34a;
                box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                background-color: rgba(138, 195, 73, 0.05);
                background-image: none;

                &:focus {
                    box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                }
            }
        }
    }

    .input-group {
        .icon {
            position: absolute;
            color: #8bc34a;
            font-size: 23px;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            z-index: 3;
        }
    }
}



.col-form {
    &-description {
        display: flex;
        flex-direction: row;
        height: 100%;
        color: #9c9c9c;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        align-items: center;
        padding-right: 100px;
    }
}



.file_upload {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
  }
}




@media (max-width: 992px) {
  .form-add-yoga {
    padding-right: 50px;
  }
}


@media (max-width: 768px) {
  .form-add-yoga {
    padding-right: 0px;
  }
}

