.gamma {
    @include clearfix();

  &-item {
    float: left;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 10px 0;
    //margin: 0 10px 10px 0;

    &:last-child {
      margin-right: 0;
    }

      &:nth-child(7n+7) {
          margin-right: 0px;
      }


    input[type="radio"]:checked + .gamma-box {

      &::before {
        opacity: 1;
        border: 2px solid #59cbf5;
        box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);
      }

      &::after {
        opacity: 1;
      }
    }


    input[type="radio"]:disabled + .gamma-box {
      opacity: 0.22;
      cursor: default;
    }
  }

  &-box {
      position: relative;
      display: block;
      width: 46px;
      height: 46px;
      transition: border 0.1s linear;
      border: 1px solid #e2e2e2;
      border-radius: 50%;
      background-color: #fff;

      &:hover {
          border: 1px solid #59cbf5;
      }


    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 46px;
        height: 46px;
        top: 50%;
        left: 50%;
        opacity: 0;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      width: 15px;
      height: 8px;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -7px;
      border: 4px solid #fff;
      border-top: none;
      border-right: none;
      background: 0 0;
      transform: rotate(-45deg);
    }


    &__color {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: no-repeat center;
        background-size: cover;
        top: 0;
        left: 0;
        border: 3px solid #fff;
        border-radius: 100px;
        z-index: 0;
    }
  }

}




@media (max-width: 1220px) {
    .gamma {
        &-item {
            &:nth-child(7n+7) {
                margin-right: 10px;
            }
        }
    }
}
@media (min-width: 1220px) and (max-width: 1240px) {
    .gamma {
        &-item {
            &:nth-child(7n+7) {
                margin-right: 0;
            }
        }
    }
}
