.header {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(92, 83, 74, 0.16);

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  &-top {
    padding: 23px 0 11px;

    .contacts {
      position: relative;
      left: -2px;
      display: block;
      color: #898989;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      padding-top: 18px;


      a {
        color: #005D9D;

        &.phone {
          margin-top: 6px;
          display: block;
          font-size: 18px;
          margin-bottom: 3px;
        }
      }
    }



    .box-cart {
      float: right;
      padding-top: 7px;
      margin-right: 2px;
    }

    .user {
      float: right;
      margin-top: 22px;
      margin-right: 42px;
    }
  }


  &--checkout {
      background-color: transparent;
      box-shadow: none;

      .header-top {
          padding: 16px 0 0px;
      }

      .logo {
          width: 106px;
          height: 38px;
      }
  }
}


@media (max-width: 767px) {
  .header-top {
    .box-cart {
      padding-top: 6px;
    }
  }
}


@media (max-width: 1080px) {
  .header-top {
    .box-cart {
      padding-top: 16px;
    }

    .cart {
      &__link {
        height: auto;
        line-height: normal;
        padding: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        background-image: none;

        &:focus {
          border: 0;
          box-shadow: none;
          background-color: transparent;
        }
      }

      &__text {
        display: none;
      }

      &__icon {
        top: 0;
      }

      &__count {
        position: absolute;
        top: -3px;
        right: -10px;
        color: #fff;
        font-family: $font-family-gothampro-regular;
        background-color: #59cbf5;
      }
    }
  }
}
