.icon {
  display: inline-block;


  &-tw-fill,
  &-lj,
  &-vk-fill,
  &-mail,
  &-rss {
    fill: #59cbf5;
    width: 22px;
    height: 22px;
    transition: fill 0.3s ease;

    &:hover {
      fill: #005D9D;
    }
  }


  &-filter {
    width: 20px;
    height: 24px;
  }


  &-check {
    fill: #8bc34a;
    width: 21px;
    height: 21px;
  }

  &-error {
    fill: #ff4081;
    width: 21px;
    height: 21px;
  }


  &-trash {
    fill: #747474;
    width: 18px;
    height: 19px;
  }


  &-candy {
    width: 23px;
    height: 12px;
  }


  &-bdv-logo {
    width: 65px;
    height: 22px;
  }

  &-close {
      fill: #747474;
      width: 19px;
      height: 16px;
  }


  &-calendar {
    fill: #005D9D;
    width: 20px;
    height: 24px;
  }


  &-heart {
    fill: rgba(255,255,255, 0.5);
    width: 20px;
    height: 16px;
  }

  &-question {
    fill: #fff;
    width: 22px;
    height: 24px;
  }

  &-big-mail {
    fill: #fff;
    width: 20px;
    height: 17px;
  }


  &-folder {
    fill: #59cbf5;
    width: 22px;
    height: 18px;

    &_open {
      fill: #59cbf5;
      width: 24px;
      height: 18px;
    }
  }


  &-vk {
    fill: #fff;
    width: 20px;
    height: 18px;
  }

  &-fb {
    fill: #fff;
    width: 16px;
    height: 16px;
  }

  &-tw {
    fill: #fff;
    width: 16px;
    height: 16px;
  }

  &-doc {
    width: 21px;
    height: 24px;
  }


  &-close_alert {
    fill: #434343;
    width: 9px;
    height: 9px;
  }

  &-visa {
    width: 34px;
    height: 11px;
    margin-right: 10px;
  }

  &-mastercard {
    width: 28px;
    height: 17px;
    margin-right: 13px;
  }

  &-yamoney {
    width: 16px;
    height: 21px;
    margin-right: 10px;
  }
}
