input {
  font-family: $font-family-ptsans-regular;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  background: 0 0;
}

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.input {
  width: 100%;
    &-group {
        &.date {
            .input-group-addon {
                position: absolute;
                height: 36px;
                border: 0;
                top: 50%;
                right: 10px;
                z-index: 3;
                transform: translateY(-50%);
                background-color: transparent;

                .icon {
                    position: absolute;
                    color: #005d9d;
                    font-size: 24px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


        .form-control {
            &:not(:last-child) {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
        }


      &-addon {
        position: absolute;
        margin: 0;
        padding: 10px 15px 10px 5px;
        border: 0;
        border-radius: 0;
        right: -36px;
        top: 0;
        background-color: transparent;

        .rub {
          color: #747474;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }

  &.valid {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 21px;
      height: 22px;
      top: 50%;
      right: 12px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }
}
