.labels {

  .label {
    float: left;
    position: relative;
    background-color: #ff4081;
    display: block;
    height: 29px;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 0.3px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    padding: 0 6px;
    border-radius: 0;

    &::before {
      content: '';
      float: left;
      background-image: url("../images/label.svg");
      background-repeat: no-repeat;
      position: absolute;
      display: inline-block;
      width: 5px;
      height: 100%;
      top: 0;
      left: -5px;
      transform: rotate(0deg);
    }

    &::after {
      content: '';
      float: right;
      background-image: url("../images/label.svg");
      background-repeat: no-repeat;
      position: absolute;
      display: inline-block;
      width: 5px;
      height: 100%;
      top: 0px;
      right: -5px;
      transform: rotate(180deg);
    }
  }

}
