.map {
  background-color: #fff;
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);

  &-content {
    display: block;
    margin-bottom: 25px;
      color: #747474;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;

      a {
          display: inline-block;
          color: #005d9d;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-right: 20px;
      }
  }

  &-container {
    position: relative;
    display: block;
    width: 100%;
    height: 384px;
  }


  &-review {
      margin-bottom: 25px;
  }


  &-list {

      &__item {
          padding-bottom: 20px;
      }

      &__card {
          background-color: #fff;
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          height: 100%;
          padding: 10px 10px 15px;
          box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);

          .preview {
              display: block;
            width: 100%;
              height: 169px;
              margin-bottom: 11px;
          }

          .title {
              color: #005d9d;
              font-family: $font-family-gothampro-regular;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin-bottom: 4px;
          }

          .street {
              color: #747474;
              font-family: $font-family-ptsans-regular;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 15px;
          }

          .caption {
              color: #747474;
              font-family: $font-family-ptsans-regular;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 15px;
          }

          .price {
            display: inline-flex;
              color: #747474;
              font-family: $font-family-ptsans-regular;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;

            .rub {
              display: inline-flex;
              align-items: center;
            }

              &__exp {
                display: inline-flex;
                  color: #9c9c9c;
                  font-family: $font-family-ptsans-regular;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  margin-left: 10px;
              }
          }
      }
  }
}
