.modal {
    &-dialog {
        position: absolute;
        max-width: 586px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &.in {
        .modal {
            &-dialog {
                transform: translate(-50%, -50%);
            }
        }
    }


    &-content {
        border: 0;
        border-radius: 0;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
    }

    &-header {
        position: relative;
        padding: 35px 40px 13px;
        border-bottom: 0;

        .close {
            position: absolute;
            padding: 20px;
            opacity: 1;
            top: 0;
            right: 0;
            outline: none;

            &:hover {
                .icon {
                    &:hover {
                        fill: #005D9D;
                    }
                }
            }

            .icon {
                transition: fill 0.3s ease;
            }
        }
    }

    &-body {
        padding: 0 40px;

        &__caption {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    &-footer {
        text-align: left;
        padding: 40px;
        border-top: 0;

        .btn {
            min-width: 182px;
        }
    }


    &-title {
        color: #434343;
        font-family: $font-family-gothampro-regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }




  &-delivery {
    .modal-dialog {
      max-width: 788px;
      width: 100%;
    }

    .modal-content {
      display: block;
    }

    .modal-body {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 532px;
    }
  }
}
