.music {
    &-articles {
        margin-bottom: 30px;

        h2 {
            margin-top: 23px;
            margin-bottom: 13px;
        }
    }

    &__article {
        padding: 20px 10px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__thumb {
        overflow: hidden;
        width: 100%;
        height: 100%;
        max-width: 263px;
        max-height: 263px;
    }

    &__description {
        font-family: $font-family-ptsans-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #747474;

        ol,
        ul {
            li {
                a {
                    margin-right: 5px;
                }

                margin-bottom: 10px;
                padding-left: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .content {
        h1 {
            margin-bottom: 16px;
        }

        h2 {
            margin-top: 15px;
        }

        ul {
            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
