.navigation {
  position: relative;
  background-color: #fff;
}


.navtop {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f2f2f2;

  &__item {
    float: left;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    &:first-child {
      margin-left: -19px;
    }

    &:last-child {
      margin-right: 0;
    }


    &.dropdown {
      &:focus,
      &:hover {

        a {
          color: #005d9d;

          .navtop__arr {
            .icon {
              top: 0px;
              fill: #005d9d;
              transform: rotate(-180deg);
            }
          }
        }


        ul {
          display: block;

          li {
            a {
              color: #999;
            }
          }
        }
      }
    }


    ul {
      position: absolute;
      display: none;
      width: 200px;
      list-style: none;
      margin: 0;
      padding: 0 15px 15px;
      top: 100%;
      left: 4px;
      bottom: auto;
      box-shadow: 0 1px 2px rgba(92, 83, 74, 0.16);
      z-index: 999;
      background-color: #fff;


      &:focus,
      &:hover {
        display: block;
      }

      li {
          display: block;
          margin-bottom: 10px;

          &:last-child {
              margin-bottom: 0;
          }

        a {
          display: block;
          color: #999;
          line-height: 14px;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
              color: #005d9d!important;
              text-decoration: none;
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    color: #747474;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 19px;

    &:focus,
    &:hover {
      .text {
          text-decoration: none;
      }

      .navtop__arr {
        .icon {
          top: 0px;
          fill: #005d9d;
          transform: rotate(-180deg);
        }
      }
    }

    .text {
      display: inline-block;
      line-height: 14px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.1s linear;
    }
  }

  &__arr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -1px;
    margin-left: 4px;
    transform: rotate(0deg);
    transition: transform 0.1s ease;

    .icon {
      fill: #747474;
      width: 8px;
      height: 8px;
      transform: rotate(0deg);
    }
  }
}



.nav-tabs {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 0;

  li {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 78px;
    margin-bottom: 0;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: -2px;
        background-color: transparent;
        z-index: 1;
      }

    &.active {
      &::after {
          background-color: #59cbf5;
      }

      a {
        border: 0;
        background-color: transparent;

        &:focus,
        &:hover {
          color: #434343;
          border: 0;
          background-color: transparent;
        }
      }
    }

    a {
      display: inline-block;
      color: #434343;
      font-family: $font-family-gothampro-regular;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      padding-bottom: 16px;
      border: 0;
      border-radius: 0;

      &:hover {
          color: #005D9D;
      }
    }
  }
}



.nav-bottom {
  column-count: 3;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    page-break-inside: avoid;
    break-inside: avoid-column;
    line-height: 21px;
    margin-bottom: 1px;

    a {
      display: inline-block;
      color: #747474;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-decoration: none;

        &:hover {
            color: #005D9D;
        }
    }
  }
}



.burger {
  position: absolute;
  display: block;
  width: 19px;
  height: 16px;
  cursor: pointer;
  top: -5px;
  left: -10px;
  padding: 28px 40px 28px 20px;

  .line {
    position: absolute;
    display: inline-block;
    width: 19px;
    height: 2px;
    top: 50%;
    will-change: transform;
    background-color: #747474;
    transform: translateY(-50%);
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 19px;
      height: 2px;
      top: -7px;
      background-color: #747474;
      transition: all 0.3s ease;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 19px;
      height: 2px;
      bottom: -7px;
      opacity: 1;
      background-color: #747474;
      transition: opacity 0.1s ease;
    }
  }
}



.nav-mobile {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 992;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
    transition: left 0.6s ease;

    &.open {
        left: 0%;
    }

    &__inner {
        position: absolute;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: calc(100% - 60px);
        height: 100%;
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 55px;
        left: 0;
        will-change: left;
        background-color: #fff;
        transition: left 0.6s ease;
        z-index: 992;


        .contacts {
            display: block;
            margin-bottom: 36px;
        }


        .user {
            display: block;
            margin-bottom: 31px;
        }


        .navtop {
            display: block;
            border-top: 0px;

            &__item {
                float: none;
                display: block;
                margin: 0 0 15px;
                padding: 0;

                &.dropdown {
                    ul {
                        position: relative;
                        display: none;
                        box-shadow: none;
                        margin: 0 20px;
                        padding: 10px 0 0;
                        background-color: transparent;

                        li {
                            a {
                                padding-bottom: 7px;
                            }
                        }
                    }

                    &:hover {
                        .navtop__link {
                            i {
                                top: -2px;
                                transform: rotate(0deg);
                            }
                        }

                        ul {
                            display: none;
                        }
                    }



                    &--open {
                        &:hover {
                            .navtop__link {
                                color: #005d9d;

                                i {
                                    top: -2px;
                                    transform: rotate(-180deg);
                                }
                            }
                        }

                        .navtop__link {
                            color: #005d9d;

                            i {
                                top: -2px;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }

            &__link {
                display: block;
                padding: 0;
                color: #434343;
                font-family: $font-family-gothampro-regular;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

              .text {
                font-size: 16px;
              }

              .navtop__arr {
                top: -2px;
              }
            }
        }
    }

    &__overlay {
        background-color: rgba(#000, 0.15);
        position: fixed;
        display: block;
        opacity: 0;
        top: -5000px;
        right: -5000px;
        bottom: -5000px;
        left: -5000px;
        will-change: opacity;
        backface-visibility: hidden;
    }
}
