.news {

  &-list {
    display: flex;
    margin-bottom: 30px;

    &__item {
      position: relative;
      overflow: hidden;
      display: block;
      height: 432px;
      box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
      background-color: #fff;
    }

    &__absolute {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &__thumb {
      overflow: hidden;
      display: block;
      width: 100%;
      height: 247px;
    }

    &__body {
      display: block;
      padding: 5px 20px 40px;
    }

    &__description {
      .date {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      h3 {
        font-size: $font-size-h2;
        line-height: 30px;
        margin: 0;
      }

      p {
        color: #747474;
        font-family: $font-family-ptsans-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }
    }



    &__horizontal {
      .news-list {
        &__item {
          display: table;
          height: auto;
          padding-bottom: 20px;
          box-shadow: none;
          background-color: transparent;
        }

        &__thumb {
          float: left;
          display: inline-block;
          width: 81px;
          height: 81px;
          vertical-align: top;

          img {
            height: auto;
            max-height: 100%;
          }
        }

        &__section {
            line-height: 1;
            margin-bottom: 7px;
        }

        &__body {
          position: relative;
          width: auto;
          vertical-align: top;
          padding: 0px 0 0 90px;
          background-color: transparent;
        }

          &__link {
              color: #005d9d;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
          }
      }

    }

  }

}
