.angle {
    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 21px;
        margin-top: 2px;
        top: 100%;
        left: -25px;
        background-color: #d8d8d8;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 1px;
        margin-top: 23px;
        top: 100%;
        left: -25px;
        background-color: #d8d8d8;
    }
}

.opt {
    &-menu {
        list-style: none;
        margin: 0 0 0 36px;
        padding: 0;

      &__wrap {
        position: relative;
        overflow: visible;
      }

      &__icon {
        position: absolute;
        top: 0;
        left: -35px;

        .icon {
          &-folder_open,
          &-folder {
            color: #59cbf5;
            font-size: 24px;
          }

          &-folder {
            &_open {
              display: none;
            }
          }
        }

        &--arrow {
            display: none;
        }
      }


      [data-toggle="link"] {
        position: relative;
        color: #434343;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        display: block;
        margin-bottom: 17px;

        &:focus,
        &:hover {
          color: #005D9D;
        }
      }

      li {
        &.open {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 30px;
            left: -27px;
            display: block;
            width: 1px;
            height: 19px;
            background-color: #d8d8d8;
          }

          &::after {
            content: '';
            position: absolute;
            top: 49px;
            left: -27px;
            display: block;
            width: 16px;
            height: 1px;
            background-color: #d8d8d8;
          }



          > [data-toggle="link"] {
            .icon {
              &-folder {
                display: none;

                &_open {
                  display: block;
                }
              }
            }
          }
        }


        &[disabled] {
          opacity: 0.5;

          [data-toggle="link"] {
            cursor: default;
            &:hover,
            &:focus {
              color: #434343;
            }
          }
        }

        &[data-item="size"] {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0;
          padding: 5px 20px;
          background-color: #fff;

          &:nth-child(odd) {
            background-color: #f1fcff;
          }

          [data-title] {
            position: relative;
            color: #434343;
            font-family: $font-family-gothampro-regular;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 10px;
            display: block;

            &::before {
              content: attr(data-title) '';
              position: relative;
              display: inline-block;
              margin-right: 10px;
              color: #434343;
              font-family: $font-family-gothampro-regular;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
            }
          }

          [data-toggle="link"] {
            cursor: default;
            margin: 0;
          }

          [data-opt-menu] {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;

            .opt-table {
              margin: 0;
            }
          }

          [data-item="color"] {
            margin: 0 0 10px;
          }
        }

        &[data-item="color"] {
          display: flex;
          flex-direction: row;
          align-items: center;

          [data-toggle="link"] {
            display: inline-flex;

            .color {
              position: relative;
              overflow: hidden;
              display: inline-block;
              width: 20px;
              height: 20px;
              vertical-align: middle;
              cursor: default;
              border-radius: 100%;
              margin-right: 20px;

              &-blue {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-1.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-turquoise {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-2.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-pink {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-3.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-brown {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-4.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-red {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-5.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-darkblue {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-7.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-lilac {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-8.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-green {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: url('../images/colors/color-9.png');
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }

              &-not {
                &::after {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 38px;
                  height: 38px;
                  top: 50%;
                  left: 50%;
                  right: 0;
                  bottom: 0;
                  z-index: 0;
                  background-image: none;
                  background-repeat: no-repeat;
                  transform: translate(-50%, -50%);
                }
              }
            }

            .text {
              display: none;
            }
          }

          [data-opt-menu] {
            display: inline-flex;
            margin: 0;

            li {
              margin: 0;
            }
          }
        }
      }

    &__item {
      position: relative;

      ul {
        display: none;
        list-style: none;
        margin: 0 0 0 36px;
        padding: 0;

        li {
            position: relative;
            display: block;
            margin-bottom: 13px;

            ul {
                list-style: none;
                margin: 0 0 0 36px;
                padding: 0;

                li {
                    position: relative;
                }
            }
        }
      }

    }

    &__link {
        position: relative;
        color: #434343;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        display: block;
        margin-bottom: 17px;
    }

    &__action {
      display: none!important;
      padding: 10px;
    }

      &__final {
        display: none;
      }
    }


    &-table {
        width: 100%;

        &__head {
            padding-left: 20px;
            padding-right: 20px;
            background-color: transparent;

            .title {
                color: #747474;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding-bottom: 4px;
            }
        }

        &__row {
            .headline {
                display: block;
                color: #434343;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }

        &__item {
            padding-top: 0px;

            .color {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: 0;


              &__name {
                display: none;
              }
            }

            .article {
                display: inline-block;
                color: #434343;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
                vertical-align: middle;
                position: relative;

                &.disabled {
                    color: #cfcfcf;
                }
            }

            .quantity {
                display: inline-block;
                color: #434343;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                vertical-align: middle;

                &[data-id="quantity"] {
                    &.disabled {
                        .quantity-btn {
                            opacity: 0.3;
                            z-index: 0;
                        }
                    }
                }

                &.disabled {
                    color: #cfcfcf;
                }


                &-box {
                    padding: 0;
                }

                &-btn {
                    display: none;
                    &__minus {
                        z-index: 2;
                    }
                }

                &-input {
                    position: relative;
                    width: 100%;
                    height: 30px;
                    box-shadow: inset 0 2px 2px rgba(49, 184, 234, 0.3);
                    border-radius: 5px;
                    border: 1px solid #a7e4f5;
                    background-color: #ffffff;
                    transition: all 0.1s ease;
                    text-align: left;
                    padding: 0 10px;
                    z-index: 1;

                    &:focus {
                        box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                        border-radius: 5px;
                        border: 1px solid #59cbf5;
                        background-color: rgba(88, 203, 245, 0.15);
                    }
                }
            }

            .price {
                display: inline-block;
                color: #434343;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                vertical-align: middle;

                &.disabled {
                    color: #cfcfcf;
                }
            }

            .value {
                display: inline-block;
                width: 69px;
                vertical-align: middle;

                .quantity {
                    display: block;
                }
            }

            .total-price {
                display: inline-block;
                color: #434343;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                vertical-align: middle;

                &.disabled {
                    color: #cfcfcf;
                }
            }
        }

        &__col {
            display: flex;
            align-items: center;
        }
    }

    &-discounts {
        padding-top: 17px;
        margin-bottom: 28px;

        table {
            position: relative;
            width: 100%;
            margin-bottom: 28px;

            th {
                color: #747474;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                padding-right: 15px;
                padding-bottom: 6px;
                background-color: #fafafa;
            }

            tr {
                position: relative;
                background-color: #fff;

                td {
                    position: relative;
                    &:first-child {
                        max-width: 485px;
                        padding-left: 20px;
                        padding-right: 40px;

                      h3 {
                        line-height: 24px;
                        margin-bottom: 4px;
                      }
                    }
                }

                &:nth-child(even) {
                    background-color: #f2fcff;

                    td {
                        position: relative;
                    }
                }
            }

            td {
                padding: 15px 15px 15px 0;


                .headline {
                    .icon {
                        display: none;
                    }
                }


                .description {
                    p {
                        color: #747474;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }

                .sum {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        color: #747474;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }



  &-products {
    position: relative;
    top: 0;
    left: 0;

    &__item {
      position: relative;
      padding: 12px 10px;
      border-top: 1px solid #D5D2D2;
      border-left: 1px solid #D5D2D2;
      border-right: 1px solid #D5D2D2;
      background-color: #fff;

      &:last-child {
        border-bottom: 1px solid #D5D2D2;
      }


      .article {
        flex: 100%;
        width: 100%;
        margin-bottom: 10px;
        color: #434343;
        font-size: 14px;
        line-height: 19px;
      }

      .color,
      .size,
      .quantity,
      .price {
        margin-right: 30px;

        &-title {
          flex-direction: column;
          height: auto;
          color: #747474;
          font-size: 12px;
          line-height: 18px;
          border: 0;
          margin-bottom: 10px;
        }

        &-value {
          color: #434343;
          font-size: 14px;
          line-height: 19px;

          .rub {
            margin-left: 0;
          }


          .color {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: default;
            border-radius: 100%;
            margin: 0;

            &-blue {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-1.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-turquoise {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-2.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-pink {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-3.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-brown {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-4.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-red {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-5.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-darkblue {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-7.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-lilac {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-8.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-green {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: url('../images/colors/color-9.png');
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }

            &-not {
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 38px;
                height: 38px;
                top: 50%;
                left: 50%;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-image: none;
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }

      .btn {
        margin: 0;
      }
    }

    &__link {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-flow: row wrap;
      text-decoration: none;

      .icon {
        position: absolute;
        display: block;
        width: 8px;
        height: 13px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }
  }
}
