.order {
    display: block;

    &-container {
        position: relative;
        background-color: #fff;
        display: none;
        padding: 20px 20px;
        margin-bottom: 20px;

        &:first-child {
          display: block;
        }

        &.visible {
          display: block;
        }

        h2 {
            margin-bottom: 26px;
        }

        h3 {
            line-height: 24px;
            margin-bottom: 13px;
        }


        .city {
            margin-bottom: 22px;
            display: block;
        }

        .delivery {
            &__choice {
                margin-bottom: 0px;
            }
            &__date {
                margin-bottom: 22px;
            }
            &__times {
                margin-bottom: 11px;
            }
            &__post {
                margin-bottom: 11px;
            }
        }

        .address {
            h3 {
                margin-bottom: 5px;
            }

            &__street {
                margin-bottom: 24px;
            }

            &__house {
                margin-bottom: 4px;
            }
        }
    }



    &-actions {
      padding-top: 14px;

      .icon {
        position: relative;
        fill: #434343;
        width: 13px;
        height: 13px;
        top: 2px;
        transform: rotate(0deg);
      }

        &__text {
            display: inline-block;
            vertical-align: middle;
            color: #9c9c9c;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }


        &__back {
            width: 40px;
            padding: 0px;

          .icon {
            fill: #434343;
            width: 13px;
            height: 13px;
            transform: rotate(180deg);
          }
        }


        .btn {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &-action {
                padding: 0 7px 0 18px;

                .icon {
                  fill: #fff;
                  width: 13px;
                  height: 13px;
                  margin-left: 22px;
                }
            }
        }
    }


    &-data {
        h2 {
            margin-bottom: 31px
        }

        &__choice {
            margin-bottom: 11px;
        }

        &__name {
            margin-bottom: 24px;
        }

        &__surname {
            margin-bottom: 22px;
        }

        &__middlename {
            margin-bottom: 22px;
        }

        &__phone {
            margin-bottom: 22px;
        }

        &__email {
            margin-bottom: 4px;
        }

        &__comments {
            margin-bottom: 24px;
        }

        &__company {
          display: none;
        }
    }


    &-payment {
        margin-bottom: 11px;

        h2 {
            margin-bottom: 31px;
        }

        &__choice {
            margin-bottom: 6px;

          .icon {
            position: relative;
            float: left;

            &-visa {
              top: 7px;
            }

            &-mastercard {
              top: 3px;
            }
          }

          .custom-control-description {
            display: inline-block;
            line-height: 24px;
          }

          .custom-radio {
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .order-actions {
            .btn-action {
                padding: 0 25px 0 25px;
            }
        }
    }


    &-check {
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 rgba(78,19,0,0.15);
      background-color: #fff;

      .block {
        display: block;
        padding: 18px;

        .cart-price {
          margin: 25px 0 4px;

          dd {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

        &__title {
            line-height: 30px;
            padding-top: 0px!important;
            margin: 0;
            padding: 0;
        }

        .cart-price {
            margin: 25px 0 35px;

            dd {
                margin-bottom: 16px;
            }
        }
    }
}
