.page {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &-title {
    position: relative;
    left: -4px;
    color: #434343;
    font-size: 48px;
    font-weight: 300;
    line-height: 57px;
    margin-bottom: 28px;
  }

  &-section {
    position: relative;
    padding: 19px 0 40px;
  }

  .secrets {
    margin-bottom: 30px;

    &-content {
        margin-bottom: 24px;

        h2 {
            margin-bottom: 9px;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    p {
      color: #747474;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  &-opt {
      h1.page-title {
          margin-bottom: 17px;
      }

    .content {
      &__item {
        p {
          margin-bottom: 12px;
        }

        img {
          padding: 22px 0 10px;
        }

        h2 {
          margin-top: 0;
        }

        .preorder {
          padding-top: 12px;
        }
      }
    }

      .sidebar {
          padding-top: 20px;

        &-inset {
          padding-top: 12px;

          &.offset-top {
            padding-top: 10px;
          }
        }

        .cart-price {
          margin-bottom: 14px;
        }

        .contact-block {
          h3 {
            font-size: 18px;
            margin-bottom: 4px;
          }

          h4 {
            margin-bottom: 4px;
          }
          .contact-list {
            padding-top: 8px;
          }
        }

        h4 {
          font-size: 18px;
            font-weight: 400;
            margin-bottom: 4px;
        }

        .form {
          &-actions {
            padding-top: 10px;
          }
        }

        &-block {
          &__item {
            margin-bottom: 22px;

            .form-actions {
              padding-top: 16px;
            }

            &.download-price {
              h4 {
                margin-bottom: 9px;
              }

              .form-actions {
                padding-top: 0px;
              }
            }

            &.contacts-block {
              .form {
                padding-top: 15px;

                &-actions {
                  padding-top: 10px;
                }
              }
            }

            .contact-block {
              .contact-list {
                padding-top: 8px;
              }
            }
          }
        }
      }

      .footnote {
          color: #9c9c9c;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
      }


      ol {
          margin: 0 0 24px 30px;
          padding: 0;

          li {
              margin: 0 0 15px;
              padding: 0;
          }
      }


      .discount {
          padding-top: 17px;

          &-title {
              color: #434343;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              margin-bottom: 9px;

              span {
                  color: #9c9c9c;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
              }
          }

          &-filter {
              margin-bottom: 22px;

              .select2-container .select2-selection--single {
                  height: 50px;
              }

              .select2-container--default .select2-selection--single .select2-selection__rendered {
                  line-height: 50px;
              }

              .select2-container--default .select2-selection--single .select2-selection__arrow {
                  height: 47px;
              }
          }

          &-total {
              display: block;
              color: #434343;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
          }
      }


    .page-section {
      padding-bottom: 26px;
    }
  }

  &-yoga {
      h1.page-title {
          margin-bottom: 15px;
      }

      .content {
          &__item {
              p {
                  color: #747474;
                  font-size: 18px;
                  line-height: 28px;
              }
          }
      }

      .sidebar {
          padding-top: 10px;
      }
  }

  .checkout {
    .sidebar {
      &.visible {
        display: block;
      }
    }
  }

  &-faq-question {
    h1.page-title {
      margin-bottom: 28px;
    }


    .faq-question {
      display: block;
      padding: 10px 20px 20px;
      background-color: #fff;

      &__content {
        color: #747474;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }

      &__form {
        padding-top: 25px;

        .form {
          &-group {
            margin-bottom: 32px;
          }

          &-control {
            &-label {
              span {
                display: inline-block;
                vertical-align: middle;
                color: #9c9c9c;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }


    .sidebar .help-list {
      margin-top: 21px;
    }

    .sidebar h2 {
      &:last-of-type {
        padding-top: 0;
      }
    }
  }

  &-faq {
    h1.page-title {
      margin-top: 18px;
    }

    .accordion {
      margin-bottom: 20px;

      &-content {
        h3 {
          color: #747474;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 2px;
          font-weight: bold;
        }

        p {
          margin-bottom: 12px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

    }

    .content {
      h2 {
        margin-bottom: 8px;
      }
    }
  }

  &-representatives {
    h1.page-title {
      margin-bottom: 16px;
    }

    .content {
      &__item {
        margin-bottom: 26px;
      }
    }

    .representatives {
      margin-bottom: 20px;

      &-choose {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #747474;
        margin-bottom: 40px;

        h3 {
          color: #434343;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 9px;
        }
      }

      &-select {
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
        border-radius: 5px;
        padding: 20px;
        background-color: #ffffff;
      }


      &__article {
        margin-bottom: 20px;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
        background-color: #ffffff;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__header {
        display: block;
        border-bottom: 1px solid #e3e3e3;
        padding: 10px 20px;

        h3 {
          color: #434343;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
      }

      &__item {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        padding: 10px 20px;

        + & {
          margin-bottom: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }



        h5 {
          font-size: 14px;
          line-height: 22px;
          color: #434343;
          font-weight: 700;
          margin-bottom: 0;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &-encyclopedia {
    h1.page-title {
      margin-bottom: 26px;
    }

    .technique {
      &__teaser {
        margin-bottom: 30px;

        img {
          max-width: 100%;
        }
      }
    }

    .content {
      &__item {
        h2 {
          margin-top: 0;
        }
      }
    }


    .theme-day {
      padding: 15px 20px;
      background-color: #fff;

      + .theme-day {
        margin-top: 20px;
      }

      &__col {
        padding-left: 35px;


        img {
          max-width: 100%;
        }
      }
    }


    .instruction {
      margin-bottom: 20px;
      .title {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 20px;
      }
    }

    .sidebar-nav li {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .accordion-content {
      padding-bottom: 16px;
    }
  }

  &-events {
    .content {
      &__item {
        &:last-child {
          margin: 0;
        }
      }
    }

    .events {
      h2 {
        margin-bottom: 8px;
      }
    }


    .filter {
      &-title {
        margin-top: 2px;
      }

      &-item {
        .form-group {
          margin-bottom: 22px;
        }
      }

      &-actions {
        padding-top: 8px;
      }
    }


    .content-wrap {
      padding: 28px 0 35px;

      .content-block {
        p {
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .content {
      &.inside {
        h3 {
          line-height: 24px;
          margin-bottom: 4px;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }

        .events-add {
          padding: 34px 0 20px;
        }
      }
    }
  }

  &-event {
    h1.page-title {
      margin-bottom: 20px;
    }

    .date {
      margin-bottom: 16px;
    }

    .content {
      .figure {
        margin-bottom: 28px;
      }

      &-block {
        &__item {
          margin-bottom: 34px;

          &.price-block {
            margin-bottom: 30px;
          }

          &.contact-block {
            margin-bottom: 30px;
          }

          &.info-block {
            h2 {
              margin-bottom: 15px;
            }

            h3 {
              font-size: 18px;
              line-height: 24px;
              margin-top: 26px;
              margin-bottom: 2px;
              &:first-of-type {
                margin-top: 0;
              }
            }
          }
        }
      }

      .comments {
        margin-bottom: 29px;
      }

      .jumbotron {
        padding: 10px 20px 14px;
        margin-bottom: 30px;
      }

      .gallery {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin-bottom: 30px;

        &__item {
          width: 100%;
          max-width: 283px;
        }
      }
    }


    .events-content {
      padding: 0px;
    }
  }

  &-catalog-category {
    .breadcrumb {
      margin-bottom: 37px;
    }

    .catalog__actions {
      margin-bottom: 50px;
    }

    .content-wrap {
      padding-bottom: 14px;
    }

    .content-block__item {

      h1 {
        line-height: 52px;
        margin-bottom: 9px;
      }
    }

    .content.inside h2 {
      margin-bottom: 11px;
    }

    .page-section {
      padding-bottom: 54px;
    }

    .features__caption h3 {
      margin-bottom: 4px;
    }

    .sidebar {
      &-inset {
        padding-top: 12px;
      }
    }
  }

  &-catalog {
    .content-wrap {
      padding-bottom: 14px;
    }

    .content-block__item {

      h1 {
        line-height: 52px;
        margin-bottom: 9px;
      }
    }

    .content.inside h2 {
      margin-bottom: 11px;
    }

    .page-section {
      padding-bottom: 54px;
    }

    .catalog-content .main-content {
      padding: 0;
    }

    .catalog-content .main-content .content-block {
      margin-bottom: 23px;
    }

    .features__caption h3 {
      margin-bottom: 4px;
    }

    .pagination {
      margin-bottom: 60px;
    }

    .sidebar {

      &-inset {
        h4 {
          font-family: $font-family-gothampro-regular;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }

    .filter {
      .category {
        margin-bottom: 12px;
      }

      .type {
        margin-bottom: 22px;
      }
    }
  }

  &-cart {
    h1.page-title {
      margin-bottom: 18px;
    }

    .sidebar {

      &-inset {
        padding: 10px 20px 20px;
      }

      h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 0;
        margin: 0;
      }
    }
  }

  &-checkout {
    .checkout {
      margin-bottom: 0;
    }

    .page-section {
      padding-bottom: 35px;
    }

    .order-check .block {
      padding: 10px 20px 20px;
    }

    .sidebar h2 {
      padding: 0;
      margin: 0;
    }
  }

  &-blog {
    .blog {
      margin-bottom: 0;
    }
    .page-section {
      padding-bottom: 30px;
    }
  }

  &-blog-inside {
    .blog-inner {
      .recommended {
        padding-top: 0px;
      }
    }

    .content {
      &__item {
        p {
          &:last-of-type {
            margin-bottom: 0;

            img {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  &-encyclopedia-category {
    h1.page-title {
      margin-bottom: 16px;
    }

    .content__item {
      margin-bottom: 34px;
    }


    .sidebar-nav li {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .accordion-content {
      padding-bottom: 16px;
    }

    .exercises {
      margin-bottom: 8px;
    }

    .content .safety ul {
      &:last-of-type {
        margin-bottom: 0;

        li {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-encyclopedia-asana {
    h1.page-title {
      margin-bottom: 28px;
    }


    .content__item {
      margin-bottom: 26px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.info-block {
        h2 {
          margin-top: 0;
        }
      }
    }

    .content__item h2 {
      margin-top: 30px;
    }

    .technique {
      margin-bottom: 34px;
    }


    .sidebar-nav li {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .accordion-content {
      padding-bottom: 16px;
    }

    .theme-day {
      margin-bottom: 20px;
      background-color: #fff;

      h4 {
        margin-bottom: 2px;
      }

      &__col {
        padding: 12px 20px 12px 54px;
      }
    }


    .instruction {
      margin-bottom: 34px;

      .title {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  &-yoga-styles {
    h1.page-title {
      margin-bottom: 28px;
    }

    .figure {
      margin-bottom: 28px;
    }


    .comments {
      margin-top: 34px;
    }
  }

  &-music {
    h1.page-title {
      margin-bottom: 16px;
    }

    .page-section {
      padding-bottom: 60px;
    }

    .content {
      &__item {
       margin-bottom: 24px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &-yoga-studio {
    h1.page-title {
      margin-bottom: 16px;
    }

    .form-add-yoga {
      padding: 20px 100px 20px 20px;
      background-color: #fff;
    }
  }

  &-add-yoga-studio {
    h1.page-title {
      margin-bottom: 28px;
    }


    .add-yoga__section {
      &:first-of-type {
        padding-top: 20px;
      }
      &:last-child {
        padding-bottom: 20px;
      }
      padding-top: 0px;
      padding-bottom: 40px;
    }

    .form-group {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .form-group__text {
      padding-top: 0;
    }

    .add-yoga__backlink {
      margin: 30px 0 30px;
      padding-bottom: 30px;
    }

    .add-yoga__block {
      padding: 30px 0 30px;
    }

    .form-description {
      padding-top: 15px;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }


    .add-yoga__actions {
      padding: 30px 0 0;
    }
  }

  &-reviews {
    .reviews-content {
      margin-bottom: 34px;
    }

    .content__item {
      padding: 0;

      &.reviews {
        margin-bottom: 20px;
      }
    }

    .pagination {
      margin-bottom: 20px;
    }
  }

  &-text {
    .page-title {
      margin-bottom: 16px;
    }

    .page-section {
      padding-bottom: 30px;
    }

    .content__item {
      margin-bottom: 24px;

      h2 {
        margin-top: 0;
      }
    }

    .team {
      margin-top: 0;
      margin-bottom: 0;

      &-title {
        margin-top: 0;
      }
    }
  }


  &-map {
    h1.page-title {
      margin-bottom: 28px;
    }

    .page-section {
      padding-bottom: 54px;
    }

    .add-studio {
      padding-top: 21px;
    }

    .events {
      .pagination {
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }

    .content {
      &__item {
        &:last-child {
          margin-bottom: 0;
        }
        &.map__content {
          margin-bottom: 34px;
        }

        h3 {
          font-family: $font-family-gothampro-regular;
          font-size: 24px;
          line-height: 30px;
          padding-top: 14px;
          margin-bottom: 11px;

          &:first-of-type {
            padding-top: 0;
          }
        }
      }
    }


    .sidebar {
      &-block {
        margin-bottom: 30px;
      }

      h2 {
        padding-top: 0;
        margin-bottom: 0;
      }

      .filter {
        .location {
          margin-bottom: 18px;
          .filter-item {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }

          .filter-foot {
            margin-bottom: 3px;
          }
        }

        .styles {
          margin-bottom: 22px;
        }

        .price {
          margin-bottom: 26px;
        }
      }


      .social-buttons .btn {
        margin-bottom: 0;
      }
    }
  }

  &-map-ru {
    h1.page-title {
      margin-bottom: 28px;
    }

    .page-section {
      padding-bottom: 54px;
    }

    .add-studio {
      padding-top: 21px;
    }

    .events {
      .pagination {
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }

    .content {
      &__item {
        &:last-child {
          margin-bottom: 0;
        }
        &.map__content {
          margin-bottom: 34px;
        }

        h3 {
          font-family: $font-family-gothampro-regular;
          font-size: 24px;
          line-height: 30px;
          padding-top: 14px;
          margin-bottom: 11px;

          &:first-of-type {
            padding-top: 0;
          }
        }
      }
    }


    .sidebar {
      &-block {
        margin-bottom: 30px;
      }

      h2 {
        padding-top: 0;
        margin-bottom: 0;
      }

      .filter {
        .location {
          margin-bottom: 18px;
          .filter-item {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }

          .filter-foot {
            margin-bottom: 3px;
          }
        }

        .styles {
          margin-bottom: 22px;
        }

        .price {
          margin-bottom: 26px;
        }
      }


      .social-buttons .btn {
        margin-bottom: 0;
      }
    }
  }

}
