.pagination {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    display: inline-block;
    margin-right: 6px;

    &.active {
      a {
        color: #434343;
        background-image: linear-gradient(180deg, white 0%, #f9feff 100%);
        box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);
        border: 2px solid #59cbf5;

        &:focus,
        &:hover {
          color: #434343;
          border: 2px solid #59cbf5;
        }
      }
    }

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
      margin-right: 0;
    }

    a {
      display: inline-block;
      min-width: 40px;
      height: 40px;
      line-height: 39px;
      color: #434343;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #e2e2e2;
      background-color: #fff;

        &:hover {
            border: 1px solid #59cbf5;
        }

        .icon {
            &-arrow-left,
            &-arrow-right {
                width: 8px;
                height: 13px;
            }
        }
    }
  }


  .left {
      &-arrow {
          position: relative;
          top: -1px;

          .icon {
              width: 8px;
              height: 13px;
              vertical-align: middle;
              transform: rotate(180deg);
          }
      }
  }

  .right {
      &-arrow {
          position: relative;
          top: -1px;

          .icon {
              width: 8px;
              height: 13px;
              vertical-align: middle;
              transform: rotate(0deg);
          }
      }
  }

}
