.popup {
    position: absolute;
    display: none;
    width: 384px;
    height: auto;
    padding: 30px 20px 20px 30px;
    box-shadow: 0 4px 6px rgba(39, 83, 97, 0.15);
    background-color: #ffffff;
    z-index: 997;

    &.popup-open {
        display: block;
    }


    &-close {
      position: absolute;
      line-height: normal;
      top: 5px;
      right: 10px;
    }


    &-content {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 400px;
        .howtochoose {
            display: flex;
            align-items: center;
            align-content: center;

            .vector {
                position: relative;
                display: inline-flex;
                width: 91px;
                margin-bottom: auto;

                .icon {
                    width: 91px;
                    height: 178px;
                }
            }

            &-list {
                margin-top: auto;
                margin-bottom: auto;
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}




@media (max-width: 900px) {
    .popup {
        width: auto;
        margin-right: 20px;

        &-content {
            .howtochoose {
                .vector {
                    .icon {
                        width: 50px;
                        height: auto;
                    }
                }
            }
        }
    }
}
