.product {

  &-single {
    position: relative;
    background-color: #fff;
    margin-bottom: 52px;
  }

  &-inside {
    hr {
      width: 100%;
    }
  }

  &-main {
    position: relative;
  }


  &-image {
    float: left;
    position: relative;
    overflow: hidden;

    &__container {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 485px;
      height: 100%;

      .labels {
        position: absolute;
        display: inline-block;
        margin-top: 20px;
        top: 0;
        left: 0;
        z-index: 3;

          .label {
              &:first-of-type {
                  padding-left: 10px;

                  &::before {
                      display: none;
                  }

                  &::after {
                      right: -5px;
                  }
              }
          }
      }


      .product-slider {
        margin: 0;
        padding: 0;

        &.slick-initialized {
            .product-slider__item {
                display: block;
            }
        }

        &__item {
          position: relative;
          display: none;
          width: 100%;
          height: 715px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;

          &:first-child {
              display: block;
          }

          > img {
              position: relative;
              display: inline-block;
              max-width: 100%;
              max-height: 100%;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
          }

          > .zoom {
              &-button {
                  position: absolute;
                  display: inline-block;
                  cursor: pointer;
                  top: auto;
                  left: 0;
                  right: auto;
                  bottom: 0;
                  z-index: 3;

                  &:hover {
                      .icon {
                          fill: #005D9D;
                      }
                  }

                  span {
                      position: relative;
                      width: 24px;
                      height: 24px;
                      padding: 20px;
                      box-sizing: content-box;
                  }

                  .icon {
                      display: inline-block;
                      fill: #999;
                      width: 19px;
                      height: 19px;
                      transition: fill 0.3s ease;
                  }
              }
          }
        }
      }
    }

    &__thumbs {
      float: left;
      display: block;
      width: 80px;
      padding-top: 20px;
      margin-right: 20px;

        .slick-track {
            width: 100%!important;
        }

        .slider {
            &-nav {
                &__item {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    width: 100%!important;
                    height: 80px;
                    line-height: 80px;
                    margin-bottom: 20px;
                    box-sizing: initial;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 2px solid transparent;
                    }

                    &.slick-current {
                        box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 2px solid #59cbf5;
                        }

                        &:hover {
                            &::after {
                                border: 2px solid #59cbf5;
                            }
                        }
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        height: auto;
                    }

                    &:hover {
                        &::after {
                            border: 1px solid #59cbf5;
                        }
                    }
                }
            }
        }
    }
  }




  &-inner {
    float: none;
    padding-left: 30px;

    &.fixed-left {
      margin-left: 0;
    }
  }

  &-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 21px;
  }

  &-head {
      float: right;
      position: relative;
      z-index: 1;

      &.fixed-left {
        float: none;
        clear: both;
      }

      &__title {
          display: block;
          font-size: 48px;
          margin-top: 13px;
          text-align: left;
          margin-bottom: 24px;
          padding-left: 30px;
      }
  }

  &-short {
    p {
        color: #747474;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 10px;
      a {
        display: inline-block;
        line-height: 13px;
        border-bottom: 1px solid;
        transition: border-color 0.1s linear;

        &:focus,
        &:hover {
          border-color: transparent;
        }
      }
    }
  }

  &-price {
    display: inline-flex;
    align-items: center;

    &__old {
      display: block;
      color: #cfcfcf;
      font-size: 18px;
      line-height: 16px;
      text-decoration: line-through;
      margin-right: 7px;
      white-space: nowrap;
    }

    &__new {
      position: relative;
      background-color: #59cbf5;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      color: #fff;
      font-size: 22px;
      white-space: nowrap;
      padding: 0 7px 0 10px;
      border-radius: 5px 0 0 5px;

      &::after {
        content: '';
        float: right;
        position: absolute;
        background-image: url("../images/bage.svg");
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 32px;
        top: 0;
        right: -20px;
        transform: rotate(180deg);
      }
    }


    &__total {
      color: #9c9c9c;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      margin-top: 1px;
      margin-bottom: 5px;

      .icon {
        vertical-align: middle;
        margin-right: 9px;
        position: relative;
        top: -2px;
      }
    }
  }

  &-guarantee {
    display: inline-flex;
    margin-left: 46px;
    align-items: center;

    &__icon {
      background-image: url("../images/guarantee.svg");
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      width: 31px;
      min-width: 31px;
      height: 31px;
      vertical-align: middle;
      margin-right: 12px;
      top: 1px;
    }

    &__link {
      display: inline-block;
      vertical-align: middle;
      line-height: 14px;
    }
  }



  &-sizes {
    display: block;
    margin-bottom: 29px;

    &__title {
      display: table-cell;
      width: 182px;
      vertical-align: top;

      span {
        display: block;
        color: #434343;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        padding-top: 8px;

          & + span {
              padding-top: 12px;
          }
      }
    }

    &__content {
      display: table-cell;
      vertical-align: top;

      a {
        display: inline-block;
        line-height: 22px;
      }
    }
  }

  &-colors {
    display: block;
    margin-bottom: 16px;

    &__title {
      display: table-cell;
      width: 182px;
      vertical-align: top;

      span {
        display: block;
        color: #434343;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        padding-top: 15px;
      }
    }

    &__content {
      display: table-cell;
      vertical-align: top;
    }
  }


  &-actions {
    display: block;
    margin-bottom: 60px;
    padding-left: 182px;

    &__add {
      width: 100%;

        .btn-action__icon {
          float: left;
          position: relative;
          display: block;
          padding: 9px 10px 8px 0;
          border-right: 1px solid rgba(#fff, 0.3);
        }

        .icon {
            fill: #fff;
            display: block;
            width: 24px;
            height: 21px;
        }
    }

    &__oneclick {
      width: 100%;
    }
  }


  &-status {
    display: block;
    padding-bottom: 6px;

    &__available {
      display: block;
      color: #8bc34a;
      font-size: 14px;
      line-height: 17px;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 5px;
        top: -1px;
        background-color: #8bc34a;
      }
    }

    &__not-available {
      display: block;
      color: #ff4081;
      font-size: 14px;
      line-height: 17px;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: #ff4081;
      }
    }
  }

  &-notify {
    display: block;
    color: #8bc34a;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
  }


  &-bonus {
    color: #9c9c9c;
    font-size: 14px;
    line-height: 19px;

    span {
      display: inline-block;
      color: #59cbf5;
    }
  }



  &-description {
      overflow: hidden;
      display: block;
      margin-bottom: 43px;
  }

  &-info {
    position: relative;
    display: table;
    width: 100%;

    &__nav {
      position: relative;
      display: flex;
    }

    &__wrap {
      position: relative;
      display: flex;
    }

    .tab-content {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;

      &--left {
        width: 95.039%;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: auto;
          right: 100%;
          background-color: #fff;
          z-index: -1;
        }
      }

      &--right {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 100%;
          right: auto;
          background-color: #fff;
          z-index: -1;
        }
      }
    }
  }



  &-recommend {
    h2 {
      display: block;
      color: #434343;
      font-size: 48px;
      font-weight: 300;
      line-height: 52px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
