.progress {
  position: relative;
  display: block;
  margin-bottom: 27px;
  padding-left: 31px;


  &.done {
    .progress-title {
      color: #434343;
    }
  }

  &-icon {
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 0;

    .icon {
      display: inline-block;
      width: 21px;
      height: 24px;
      fill: #59cbf5;
    }
  }


  &-title {
    display: inline-block;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    .icon {
      position: relative;
      top: 5px;
      margin-left: 6px;
    }
  }


  &-value {
    float: right;
    display: inline-block;
    color: #59cbf5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &-line {
    width: 100%;
    height: 6px;
    border-radius: 100px;
    background-color: #f2f2f2;
  }

  &-bar {
    width: 78px;
    height: 6px;
    border-radius: 100px;
    background-color: #59cbf5;
  }
}
