.quantity {
  @include clearfix();

  &-box {
      position: relative;
      display: table;
      width: 100%;
      margin: 0 auto;
      padding: 0 40px;
  }


  &-btn {
    position: absolute;
    display: block;
    width: 42px;
    height: 41px;
    cursor: pointer;
    border: 1px solid #d4edf4;
    border-bottom: 1px solid rgba(0, 46, 78, 0.22);
    top: 0;
    z-index: 1;
    background-image: linear-gradient(180deg, white 1%, #cff2f9 97%);

      &:hover {
          border: $btn-primary-hover-border;
          border-bottom: 1px solid rgba(0, 46, 78, 0.22);
          background-image: $btn-primary-hover-bg;
      }

      &:active {
          border-bottom-color: #a9ecfa;
      }

    &__minus {
      border-radius: 5px 0 0 5px;
      left: 0px;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 2px;
        top: 50%;
        left: 50%;
        background-color: #747474;
        transform: translate(-50%, -50%);
      }
    }

    &__plus {
      border-radius: 0 5px 5px 0;
      right: 0px;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 2px;
        top: 50%;
        left: 50%;
        background-color: #747474;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 2px;
        height: 12px;
        top: 50%;
        left: 50%;
        background-color: #747474;
        transform: translate(-50%, -50%);
      }
    }
  }


  &-input {
    display: block;
    width: 100%;
    height: 41px;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    padding: 0;
    border: 1px solid #e2e2e2;
    background-color: #fff;
  }

}
