.reviews {
    padding: 20px 0;

    &-content {
        color: #747474;
        font-family: $font-family-ptsans-regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 14px;
    }

    &__item {
        display: block;
        color: #747474;
        font-family: $font-family-ptsans-bold;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        padding: 10px 20px 16px;
        box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
        background-color: #fff;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }


        dl {
            margin: 0;
            @include clearfix();

            dt {
                float: left;
                color: #747474;
                font-family: $font-family-ptsans-bold;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                margin-right: 5px;
            }

            dd {
                color: #747474;
                font-family: $font-family-ptsans-regular;
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 16px;
            }
        }
    }

}


#vk_comments,
#vk_comments iframe {
    width: 100% !important;
}
