.mCSB_scrollTools {
    width: 8px;
    opacity: 1;

    .mCSB_draggerRail {
        width: 8px;
        border-radius: 0;
        background-color: #f2f2f2;
    }

    .mCSB_dragger {
        .mCSB_dragger_bar {
            width: 8px;
            opacity: 1;
            border-radius: 0;
            background-color: #cfcfcf;

            &:active,
            &:focus,
            &:hover {
                opacity: 1;
                background-color: #cfcfcf;
            }
        }
    }
}


.mCSB_inside > .mCSB_container {
    margin-right: 0;
}


.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
    min-width: 100%!important;
}


.mCSB_outside + .mCSB_scrollTools {
    right: 10px;
}


.mCSB_scrollTools .mCSB_draggerContainer {
    top: 10px;
    bottom: 10px;
}
