.select {
  &-city,
  &-point,
  &-time {
    .ms-choice {
      height: 40px;
      line-height: 40px;

      > span {
        text-transform: none;
      }
    }

    .ms-drop {
      ul {
        > li {
          &.selected {
            background-color: #e6f7fe;
          }


          label {
            text-transform: none;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.ms {
    &-parent {
      display: block;
    }

    &-choice {
      height: 40px;
      line-height: 40px;
      box-shadow: inset 0 2px 2px rgba(49, 184, 234, 0.3);
      border-radius: 5px;
      border: 1px solid #a7e4f5;
      background-color: #ffffff;

      &:focus {
        outline: none;
      }

      > span {
        color: #434343;
        font-family: $font-family-ptsans-regular;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        padding-left: 10px;
        top: 1px;
      }

      > div {
        top: auto;
        width: 20px;
        height: auto;
        background: none;

        &.open {
          &::after {
            margin-top: 0px;
            transform: rotate(136deg);
          }
        }

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          top: 50%;
          margin-top: -3px;
          width: 6px;
          height: 6px;
          left: 0px;
          border-color: #005d9d;
          border-width: medium medium 1px 1px;
          border-style: none none solid solid;
          border-top: none;
          border-right: none;
          background: transparent;
          transform: rotate(-45deg);
          transition: transform 0.1s ease;
        }
      }
    }


    &-drop {
      width: 100%;
      min-width: 120px;
      max-height: 107px;
      margin-top: 5px;
      border: 0;
      border-radius: 0;
      box-shadow: 0 4px 6px rgba(39, 83, 97, 0.15);
      background-color: #ffffff;


      ul {
        overflow: hidden;
        padding: 0px;

        > li {
          padding: 5px 8px;

          &.ms-select-all {
            display: none;
          }
          &.selected {
            label {
              &::before {
                box-shadow: inset 0 1px 2px rgba(28, 77, 95, 0.2);
                border: 1px solid #59cbf5;
                background: rgba(88, 203, 245, 0.15) url('../images/checked.svg') no-repeat center;
              }
            }
          }


          label {
            position: relative;
            color: #434343;
            font-family: $font-family-ptsans-regular;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            text-transform: none;
            margin-bottom: 0px;

            &::before {
              content: '';
              position: relative;
              top: 1px;
              left: 0px;
              display: inline-block;
              vertical-align: -4px;
              width: 19px;
              height: 19px;
              margin-right: 8px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              border: 1px solid #e3e3e3;
              background: #fff center no-repeat;
            }
          }
        }
      }
    }
}
