.sidebar {

  &.offset {
    &-top {
      padding-top: 20px;
    }
  }

  h2 {
      padding-top: 11px;
      padding-bottom: 5px;
      &:first-child {
        padding-top: 0;
      }
  }

  &-title {
      color: #434343;
      font-size: 48px;
      font-weight: 300;
      line-height: 57px;
      margin-left: -4px;
      margin-bottom: 20px;
  }

  &-heading {
    display: block;

    .btn-filter {
      &.open {
        color: #434343;
        margin-bottom: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #e3e3e3;
        border-radius: 0;
        box-shadow: none;
        background-color: #fff;
        background-image: none;

          .icon {
              &-close {
                  display: block;
              }
          }
      }
    }
  }


  &-block {
    margin-bottom: 25px;

    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .contacts {
      padding-top: 11px;
      border-top: 1px solid #E2E2E2;

      &-title {
        color: #434343;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 9px;
      }
    }


    .download {
      .btn {
        .icon {
          float: left;
          position: relative;
          top: 4px;
        }
      }
    }
  }

  &-indent {
      display: block;
      padding: 20px;

    .cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &-inner {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      .icon {
        position: relative;
        &-visa {
          top: 8px;
        }

        &-mastercard {
          top: 5px;
        }
      }
    }
  }

  &-inset {
    display: block;
    padding: 10px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
    background-color: #fff;

    h4 {
      display: block;
      color: #434343;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  &-nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-bottom: 10px;

      &.active {
        .sidebar-inset {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      a {
        display: inline-block;
        line-height: 14px;
      }
    }
  }


  .yoga-styles {
      display: block;
      padding: 20px 20px 10px;
      background-color: #fff;

      &__list {
          width: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          @include clearfix();

          li {
              float: left;
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 10px;

              &:nth-child(5n+5) {
                margin-right: 0;
              }

              &.active {
                  a {
                      padding: 0 3px;
                      background-image: linear-gradient(180deg, white 0%, #f9feff 100%);
                      border: 2px solid #59cbf5;
                      box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);

                      &:hover {
                          border: 2px solid #59cbf5;
                      }
                  }
              }

              a {
                  display: inline-block;
                  width: 40px;
                  height: 34px;
                  line-height: 32px;
                  color: #434343;
                  font-size: 14px;
                  font-weight: 400;
                  text-align: center;
                  text-decoration: none;
                  padding: 0 5px;
                  border: 1px solid #e3e3e3;
                  border-radius: 5px;
                  background-color: #fff;

                  &:hover {
                      border: 1px solid #59cbf5;
                  }
              }
          }
      }
  }


    .help {
        &-block {
            h3 {
                color: #434343;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 3px;
            }

            p {
                color: #747474;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
            }

            .form {
                margin: 25px 0 21px;

                &-group {
                    margin-bottom: 20px;
                }
            }
        }
    }


    .contact {
        &-block {
            h3 {
                color: #434343;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 0;
            }

            p {
                color: #747474;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 9px;
            }
        }

        &-list {
            list-style: none;
            margin: 0 3px;
            padding: 0;

            li {
              position: relative;
                display: block;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }

                > a {
                    display: inline-block;
                    vertical-align: baseline;
                    color: #005d9d;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    margin-left: 25px;

                    &[href^="tel:"] {
                      color: #005D9D;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 24px;
                    }
                }

              .footnote {
                display: block;
                color: #9C9C9C;
                font-size: 14px;
                line-height: 18px;
              }
            }

            .icon {
                position: absolute;
                display: inline-block;
                vertical-align: baseline;
                text-align: center;
                top: 6px;

              &-phone {
                fill: #434343;
                width: 10px;
                height: 17px;
                top: 3px;
                left: 3px;
              }

              &-mail-fill {
                fill: #434343;
                width: 16px;
                height: 12px;
              }

              &-skype {
                fill: #434343;
                width: 15px;
                height: 15px;
              }
            }
        }
    }


    &__text {
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #747474;
        margin-bottom: 17px;

        p {
          &:last-child {
            margin-bottom: 0;
            padding: 0;
          }
        }
    }


  &-last {
    margin-bottom: 30px;

    &__block {
      padding: 30px 20px 20px;
      background-color: #fff;
    }
  }


  &-action {
    &__row {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .ad {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }





  .help {
    &-list {
      list-style: none;
      margin: 40px 0 25px;
      padding: 0;

      &__icon {
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 100%;
        top: 50%;
        left: 0;
        background-color: #59cbf5;
        transform: translateY(-50%);

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      li {
        position: relative;
        display: block;
        margin-bottom: 24px;

        a {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          color: #434343;
          font-family: $font-family-gothampro-regular;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none;
          padding-left: 55px;
        }
      }
    }
  }
}




@media (max-width: 1276px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          &:nth-child(5n+5) {
            margin-right: 0px;
          }

          a {
            width: 39px;
          }
        }
      }
    }
  }
}


@media (max-width: 1256px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 38px;
          }
        }
      }
    }
  }
}


@media (max-width: 1236px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 37px;
          }
        }
      }
    }
  }
}


@media (max-width: 1216px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 36px;
          }
        }
      }
    }
  }
}


@media (max-width: 1196px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 35px;
          }
        }
      }
    }
  }
}

@media (max-width: 1176px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 34px;
          }
        }
      }
    }
  }
}


@media (max-width: 1156px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 33px;
          }
        }
      }
    }
  }
}


@media (max-width: 1136px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 32px;
          }
        }
      }
    }
  }
}


@media (max-width: 1116px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 31px;
          }
        }
      }
    }
  }
}



@media (max-width: 1096px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 30px;
          }
        }
      }
    }
  }
}


@media (max-width: 1076px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 29px;
          }
        }
      }
    }
  }
}

@media (max-width: 1056px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 28px;
          }
        }
      }
    }
  }
}


@media (max-width: 1036px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 27px;
          }
        }
      }
    }
  }
}


@media (max-width: 1016px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 40px;
          }
        }
      }
    }
  }
}



@media (max-width: 977px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 39px;
          }
        }
      }
    }
  }
}



@media (max-width: 962px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 38px;
          }
        }
      }
    }
  }
}


@media (max-width: 947px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 37px;
          }
        }
      }
    }
  }
}



@media (max-width: 932px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 36px;
          }
        }
      }
    }
  }
}

@media (max-width: 917px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 35px;
          }
        }
      }
    }
  }
}


@media (max-width: 902px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 34px;
          }
        }
      }
    }
  }
}


@media (max-width: 887px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 33px;
          }
        }
      }
    }
  }
}



@media (max-width: 872px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 32px;
          }
        }
      }
    }
  }
}


@media (max-width: 857px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 31px;
          }
        }
      }
    }
  }
}


@media (max-width: 841px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 30px;
          }
        }
      }
    }
  }
}


@media (max-width: 826px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 29px;
          }
        }
      }
    }
  }
}


@media (max-width: 811px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 28px;
          }
        }
      }
    }
  }
}


@media (max-width: 796px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 27px;
          }
        }
      }
    }
  }
}


@media (max-width: 782px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          a {
            width: 26px;
          }
        }
      }
    }
  }
}



@media (max-width: 767px) {
  .sidebar {
    .yoga-styles {
      &__list {
        li {
          &:nth-child(5n+5) {
            margin-right: 10px;
          }

          a {
            width: 40px;
          }
        }
      }
    }
  }
}
