.size {

  &-item {
    float: left;
    display: inline-block;
    margin: 0 10px 6px 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      input[type="radio"]:disabled + .size-box {
          &::before {
              border: 1px solid #e2e2e2;
          }
      }


      .size-box {
          &::before {
              border: 1px solid #59cbf5;
          }
      }
    }

    input[type="radio"]:checked + .size-box {
      width: 120px;
      margin-top: 0;


      &::before {
          border: 2px solid #59cbf5;
          box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);
      }


      .size-title {
        border-bottom: 1px solid #59cbf5;
      }
    }


    input[type="radio"]:disabled + .size-box {
      opacity: 0.22;
      cursor: default;
    }
  }


  &-box {
    position: relative;
    background-color: #fff;
    display: block;
    width: 56px;
    height: 64px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: width 0.1s linear, border 0.1s linear;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
  }


  &-title {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
  }

  &-size {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #434343;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
  }

}
