.social {
    &-buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 24px;
      @include clearfix();


      .btn {
          display: inline-flex;
          align-content: center;
          text-align: center;
          align-items: center;
          margin-right: 6px;
          margin-bottom: 6px;
          &:last-child {
              margin-right: 0;
          }

        .inline {
          display: inline-block;
          margin: auto;
        }
      }
    }
}

#vk_groups,
#vk_groups iframe {
    width: 100% !important;
}


.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe {
    width: 100% !important;
}



.fb-page, .fb-page span, .fb-page span iframe[style] {width: 100% !important;}
