.sort {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 19px;
  padding-bottom: 25px;

  &-title {
    display: inline-block;
    color: #434343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 9px;
  }

  &-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        a {
          padding: 0 9px;
          border: 2px solid #59cbf5;
          box-shadow: 0 1px 1px rgba(0, 57, 78, 0.15);
          background-image: linear-gradient(180deg, white 0%, #f9feff 100%);

            &:hover {
                border: 2px solid #59cbf5;
            }

            .icon {
                &-rate {
                    fill: #005d9d;
                }
            }
        }
      }

      a {
        display: inline-block;
        height: 40px;
        line-height: 38px;
        color: #747474;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        padding: 0 9px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        background-color: #fff;

          &:hover {
              border: 1px solid #59cbf5;
          }


          .icon {
              &-rate {
                  fill: #747474;
                  width: 8px;
                  height: 8px;
              }
          }
      }
    }
  }
}
