.tab {

  &-content {
    position: relative;

      &__overlay {
          padding-bottom: 10px;


          .social {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            align-content: flex-start;
            overflow: hidden;

            &__item {
              display: inline-flex;
              line-height: normal;
              margin-right: 15px;

              .icon {
                position: relative;
                display: block;
                margin: 0;

                &-yamoney {
                  width: 22px;
                  height: 29px;
                }

                &-visa {
                  width: 48px;
                  height: 15px;
                  top: 10px;
                }

                &-mastercard {
                  width: 39px;
                  height: 24px;
                  top: 5px;
                }
              }
            }
          }
      }

    &--right {
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 37px;
        height: 100%;
        top: 0;
        left: -37px;
        background-color: #fff;
        z-index: -1;
      }
    }

    &__inner {
      overflow: hidden;
      padding: 28px 40px 7px 0;
    }

    &__item {
      display: none;

      &.active {
        display: block;
      }

      h2 {
          margin-top: 1px;
          margin-bottom: 13px;
      }

      h3 {
        color: #434343;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5px;
      }

      p {
          margin-bottom: 10px;

        a {
          display: inline-block;
          line-height: 13px;
        }

        &.social {
          margin: 25px 0 30px;
        }
      }

      ul {
          margin: 10px 0 0 28px;
          padding: 0;

          li {
              color: #747474;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              margin-bottom: 10px;
              padding: 0 0 0 8px;
          }
      }

      .btn {
          min-width: 182px;
      }

      .block {
        color: #747474;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }


      .reviews {
          margin-top: 11px;
          padding: 0;

          &__item {
              width: 100%;
              padding: 0;
              padding-bottom: 20px;
              box-shadow: none;
              border-bottom: 1px solid #e2e2e2;
              background-color: transparent;

              &:last-child {
                  border-bottom: 0;
              }
          }
      }
    }


    &__caption {
        width: 100%;
        color: #747474;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 22px;

        p {
            margin-bottom: 10px;
        }

        iframe {
            margin-top: 11px;
        }
    }
  }

}


@media (min-width: 992px) {
    .tab {
        &-content {
            &--right {
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 37px;
                    height: 100%;
                    top: 0;
                    left: -37px;
                    background-color: #fff;
                    z-index: -1;
                }

                .tab-content__inner {
                    padding-right: 0;
                }
            }
        }
    }
}
