.team {
    margin: 24px 0 0px;

    &-card {
        display: table;
        padding-bottom: 20px;
    }

    &-title {
        color: #434343;
        font-family: $font-family-gothampro-regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 13px;
    }

    &-description {
        color: #747474;
        font-family: $font-family-ptsans-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 26px;
    }

    &-thumb {
        position: relative;
        overflow: hidden;
        display: table-cell;
        vertical-align: top;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 0;
        left: 0;

      > img {
        padding: 0;
      }
    }

    &-body {
        position: relative;
        display: table-cell;
        vertical-align: top;
        padding-left: 20px;

        h3 {
            color: #434343;
            font-family: $font-family-gothampro-regular;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 4px;
        }

        p {
            color: #747474;
            font-family: $font-family-ptsans-regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
