.theme {

  &-day {
    &__container {
      display: block;
      padding: 20px 20px 38px;
      margin-bottom: 30px;
      box-shadow: 0 1px 2px rgba(78, 18, 0, 0.15);
      background-color: #fff;
    }

    &__col {
        padding-top: 5px;

        h4 {
            position: relative;

            .icon {
                position: absolute;
                top: -2px;
                left: -33px;

                &::before {
                    font-size: 23px;
                }

                &.fa {
                    &-check-circle {
                        &::before {
                            color: #8bc34a;
                        }
                    }

                    &-times-circle {
                        &::before {
                            color: #ff4081;
                        }
                    }
                }
            }
        }

        &:nth-child(3) {
            padding-left: 49px;

            h4 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 17px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    h2 {
        margin-bottom: 12px;
    }

    h4 {
        margin-bottom: 13px;
    }

    img {
      width: 100%;
    }

    p {
      color: #747474;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }

}
