.user {
    position: relative;

  &__link {
    text-decoration: none;

    &:focus,
    &:hover {

      .user__name {
        text-decoration: none;
      }

    }
  }

  &__image {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    width: 41px;
    height: 41px;
    vertical-align: middle;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__name {
    position: relative;
    display: inline-block;
    line-height: 14px;
    text-decoration: underline;
    padding-left: 51px;
    transition: text-decoration 0.1s ease;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

}
