.yoga-map {
    h2 {
        margin-bottom: 13px;
    }
}



.b-content {
  position: relative;
  display: block;
  padding-left: 160px;
}

.b-picture {
  position: absolute;
  display: block;
  width: 140px;
  height: auto;
  top: 0;
  left: 0;
}

.b-address {
  display: block;
}

.b-style {
  display: block;
}

.b-price {
  display: block;
}
