.zoom {
  &-view {
    max-width: 100%;

    .product-image__container {
      max-width: 1092px;
    }

    .product-slider__item {
      //width: 100%;
      height: auto;
    }



    .zoom-button {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      top: 0;
      right: 0;
      bottom: auto;
      z-index: 3;

      &:hover {
        .icon {
          fill: #005D9D;
        }
      }

      span {
        position: relative;
        width: 100%;
        height: 24px;
      }

      .icon {
        display: inline-block;
        fill: #999;
        width: 19px;
        height: 19px;
        transition: fill 0.3s ease;
      }


      &__plus {
        display: none;
      }

      &__minus {
        display: block;
      }
    }
  }

  &-viewport {
    display: none;
    width: 100%;

    > img {
      position: relative;
      max-height: 100%;
      top: 0;
      transform: translate(0);
    }
  }


  &-button {
    &__plus {
      display: block;
    }

    &__minus {
      display: none;
    }
  }
}
