mixin icon(name,mod)
    - mod = mod || ''
    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-" + name + ' ' + mod)
        use(xlink:href="../icons/icons.svg#" + name)
