.nav-mobile
    .nav-mobile__inner
        .contacts
            .contacts-item
                div тел.: (800) 775-87-31
                div звонок по России бесплатный
            .contacts-item
                div e-mail: #[a(href='mailto:mail@hanuman.ru') mail@hanuman.ru]
                div skype: hanuman_ru


        .user
            a.user__link(href='#')
                span.user__image
                    img(src='images/user.jpg', alt='')
                span.user__name Владислав


        include navtop
