include ../../helpers/icons

ul.navtop.clearfix
    li.navtop__item.dropdown
        a.navtop__link(href='/')
            span.text Магазин
            span.navtop__arr
              +icon('drop_arrow')
        ul
            li
                a(href='') Распродажа -60%
            li
                a(href='') Коврики для йоги
            li
                a(href='') Коврики в бухтах
            li
                a(href='') Чехлы и сумки для клвриков
            li
                a(href='') Блоки, ремни, пропсы
            li
                a(href='') Подушки, болстеры, одеяла
            li
                a(href='') Массаж, спа, стоунтерапия
            li
                a(href='') Косметика
            li
                a(href='') Чай, питание, аюрведа
            li
                a(href='') Другие товары
            li
                a(href='') Реклама на сайте
            li
                a(href='') Все товары
    li.navtop__item.dropdown
        a.navtop__link(href='/')
            span.text Оптом
            span.navtop__arr
              +icon('drop_arrow')
        ul
            li
                a(href='') Распродажа -60%
            li
                a(href='') Коврики для йоги
            li
                a(href='') Коврики в бухтах
            li
                a(href='') Чехлы и сумки для клвриков
            li
                a(href='') Блоки, ремни, пропсы
            li
                a(href='') Подушки, болстеры, одеяла
            li
                a(href='') Массаж, спа, стоунтерапия
            li
                a(href='') Косметика
            li
                a(href='') Чай, питание, аюрведа
            li
                a(href='') Другие товары
            li
                a(href='') Реклама на сайте
            li
                a(href='') Все товары
    li.navtop__item.dropdown
        a.navtop__link(href='/')
            span.text Йога-карта
            span.navtop__arr
              +icon('drop_arrow')
        ul
            li
                a(href='') Распродажа -60%
            li
                a(href='') Коврики для йоги
            li
                a(href='') Коврики в бухтах
            li
                a(href='') Чехлы и сумки для клвриков
            li
                a(href='') Блоки, ремни, пропсы
            li
                a(href='') Подушки, болстеры, одеяла
            li
                a(href='') Массаж, спа, стоунтерапия
            li
                a(href='') Косметика
            li
                a(href='') Чай, питание, аюрведа
            li
                a(href='') Другие товары
            li
                a(href='') Реклама на сайте
            li
                a(href='') Все товары
    li.navtop__item
        a.navtop__link(href='/')
            span.text Семинары
    li.navtop__item
        a.navtop__link(href='/')
            span.text Блог
    li.navtop__item.dropdown
        a.navtop__link(href='/')
            span.text Энциклопедия
            span.navtop__arr
              +icon('drop_arrow')
        ul
            li
                a(href='') Распродажа -60%
            li
                a(href='') Коврики для йоги
            li
                a(href='') Коврики в бухтах
            li
                a(href='') Чехлы и сумки для клвриков
            li
                a(href='') Блоки, ремни, пропсы
            li
                a(href='') Подушки, болстеры, одеяла
            li
                a(href='') Массаж, спа, стоунтерапия
            li
                a(href='') Косметика
            li
                a(href='') Чай, питание, аюрведа
            li
                a(href='') Другие товары
            li
                a(href='') Реклама на сайте
            li
                a(href='') Все товары
