include ../../helpers/icons

// modal
#buyoneclick.modal(tabindex='-1', role='dialog', aria-labelledby='buyoneclickLabel', aria-hidden="true")
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
                        +icon("close")
                h4.modal-title КУПИТЬ В 1 КЛИК
            .modal-body
                .modal-body__caption Оставьте свой телефон. Менеджер перезвонит вам, узнает все детали и сам оформит заказ на ваше имя.

                .form-modal
                    .form-group
                        label.form-label Телефон
                        input.form-control(type="tel" placeholder="Например: +7 911 045 74-98")

            .modal-footer
                button.btn.btn-action(type='button') Отправить





#choose-delivery.modal.modal-delivery(tabindex='-1', role='dialog', aria-labelledby='chooseDeliveryclickLabel', aria-hidden="true")
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            +icon("close")
        h4.modal-title Выберите пункт выдачи
      .modal-body
        .modal-body__caption
          #delivery-list.custom-controls-stacked

      .modal-footer
        button.btn.btn-action(type='button') Подтвердить





#signup.modal(tabindex='-1', role='dialog', aria-labelledby='signupLabel', aria-hidden="true")
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            +icon("close")
        h4.modal-title Вход
      .modal-body
        .form-modal
          .form-group
            label.form-label Логин
            input.form-control(type="text")

          .form-group
            label.form-label Пароль
            input.form-control(type="password")

      .modal-footer
        button.btn.btn-action(type='submit') Войти
// end modal
