extends includes/default

block append vars
  - classPage = "page-yoga-studio"


block prepend title
    | Add Yoga Studio

block content
    include includes/header


    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                span Йога карта



      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              h1.page-title Добавление йога-центра

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .content__item
                  p #[strong Namaste]!
                  p Информация о студиях йоги публикуется после проверки модератором. Обычно проверка занимает 1–2 дня. Чем аккуратнее вы оформите свой анонс, тем быстрее информация появится на сайте.
                  p Пожалуйста, ознакомьтесь с правилами и отметьте пункты, которым будете следовать.

                .content__item
                  .form.form-add-yoga
                    .form-group
                      .custom-controls-stacked
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type="checkbox")
                          span.custom-control-indicator
                          span.custom-control-description Набирайте текст обычным шрифтом со всеми знаками препинания (во благо всех живых существ, не используйте Caps Lock)

                      .custom-controls-stacked
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type="checkbox")
                          span.custom-control-indicator
                          span.custom-control-description Для создания списков (например, «Что взять с собой») пользуйтесь возможностями визуального редактора (не используйте для выделения списков дополнительные знаки типа *, - и т.д.).

                      .custom-controls-stacked
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type="checkbox")
                          span.custom-control-indicator
                          span.custom-control-description Всему свое место — например, не стоит писать информацию о стоимости, расписании, методиках и преподавателях в поле «Описание», для этого предусмотрены отдельные поля.

                      .custom-controls-stacked
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type="checkbox")
                          span.custom-control-indicator
                          span.custom-control-description Обращайте внимание на серый текст, размещенный над полями ввода информации — это подсказки, которые помогут сделать страницу вашего события лучше.

                      .custom-controls-stacked
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type="checkbox")
                          span.custom-control-indicator
                          span.custom-control-description Все поля обязательны для заполнения — они созданы для того, чтобы практикующие получили всю необходимую информацию о мероприятии.

                    .form-actions
                      .col-lg-5.col-md-4
                        .row
                          button.btn.btn-action.btn-block(type="button" disabled)
                            span.btn-text Продолжить



            .col-lg-3.col-md-4
              .sidebar.offset-top
                .sidebar-m-offset
                  .sidebar-block
                    .social
                      include modules/social/social-buttons

                  h2 Каталог товаров

                  .sidebar-block
                    ul.sidebar-nav
                      li
                        a(href='') Распродажа -60%
                      li
                        a(href='') Коврики для йоги
                      li
                        a(href='') Коврики в бухтах
                      li
                        a(href='') Одежда для йоги
                      li
                        a(href='') Чехлы и сумки для ковриков
                      li
                        a(href='') Блоки, ремни, пропсы
                      li
                        a(href='') Подушки, болстеры, одеяла
                      li
                        a(href='') Массаж, спа, стоунтерапия
                      li
                        a(href='') Косметика
                      li
                        a(href='') Чай, питание, аюрведа
                      li
                        a(href='') Другие товары
                      li
                        a(href='') Реклама на сайте
                      li
                        a(href='') Все товары


    include includes/footer
