extends includes/default

block append vars
  - classPage = "page-add-yoga-studio"

block prepend title
    | Add Yoga Studio2

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                span Йога карта


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              h1.page-title Добавление йога-центра

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .add-yoga
                  form.form.form__add-yoga(data-validate="add-yoga")
                    .add-yoga__section
                      h2.add-yoga__title Общая информация

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Тип центра

                        .col-lg-4.col-md-12.col-sm-12
                            .city-selecter
                              select(data-placeholder="Выберите студию")
                                option Студия йоги
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Название студии
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text" data-name="text_and_number")
                            .form__errors

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Стоимость одного занятия
                        .col-lg-4.col-md-12.col-sm-12
                          .input-group
                            .input
                              input.form-control(type="text" data-name="number")
                              .form__errors
                            span.input-group-addon
                              i.rub

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Стили йоги

                        .col-lg-4.col-md-12.col-sm-12
                            .city-selecter
                              select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                option(selected="selected") Студия йоги
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград


                        .col-lg-8.col-md-12.col-sm-12
                          .form-group__text Выберите стили, по которым проходят занятия в вашей студии. Hе нашли нужного стиля? #[br] Напишите нам на #[a(href="mailto:editor@hanuman.ru") editor@hanuman.ru].


                    .add-yoga__section
                      h2.add-yoga__title Расположение студии

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Город

                        .col-lg-4.col-md-12.col-sm-12
                            .city-selecter
                              select
                                option(selected="selected") Студия йоги
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград
                                option Санкт-Петербург
                                option Калининград

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Адрес
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text" data-name="text_and_number")
                            .form__errors

                        .col-lg-8.col-md-12.col-sm-12
                          .form-group__text Укажите полный адрес расположения вашего центра (город, улица, дом)


                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Станции метро
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text" data-name="text_and_number")
                            .form__errors

                        .col-lg-8.col-md-12.col-sm-12
                          .form-group__text Ближайшие станции метро, не более двух


                    .add-yoga__section
                      h2.add-yoga__title Фотографии студии

                      .form-group.row
                        .col-lg-4.col-md-12.col-sm-12
                            .file_upload
                              button.btn.btn-action.btn-block(type='button') Добавить фото
                              input(type="file")

                        .col-lg-8.col-md-12.col-sm-12
                          .form-group__text Допустимые расширения: jpg jpeg png gif #[br] Размер не более 2Мб

                      .form-group.row
                        .col-lg-4.col-md-12.col-sm-12
                          .upload-progress
                            .upload-progress__item
                              .progress.done
                                .progress-icon
                                  +icon('file')
                                .progress-title Yoga-2
                                  +icon('check')

                            .upload-progress__item
                              .progress
                                .progress-icon
                                  +icon('file')
                                .progress-title Yoga-2
                                .progress-value 75%
                                .progress-line
                                  .progress-bar(role="progressbar" style="width: 75%")


                    .add-yoga__section
                      h2.add-yoga__title Описание студии

                      .form-group.row
                        .col-lg-7.col-md-12.col-sm-12
                          textarea.form-control(placeholder="Ваш комментарий")

                        .col-lg-5.col-md-12.col-sm-12
                          .form-group__text Расскажите практикующим о вашей студии: опишите помещения для занятий, удобства, дополнительные услуги, приятные мелочи. #[br] Максимальное количество знаков: 1500 знаков с пробелами.


                    .add-yoga__section.teachers-section
                      h2.add-yoga__title Преподаватели студии

                      .form-group.row
                        .col-md-12
                          label.form-control-label Имя

                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text" data-name="name" placeholder="Например: Ирина")
                            .form__errors


                      .form-group.row
                        .col-md-12
                          label.form-control-label Kраткая информация
                        .col-lg-7.col-md-12.col-sm-12
                          textarea.form-control


                      .form-group.row
                        .col-lg-4.col-md-12.col-sm-12
                            .file_upload
                              button.btn.btn-action.btn-block(type='button') Добавить фото
                              input(type="file")

                        .col-lg-8.col-md-12.col-sm-12
                          .form-group__text Допустимые расширения: jpg jpeg png gif #[br] Размер не более 2Мб


                      .form-group.row
                        .col-lg-4.col-md-12.col-sm-12
                            button.btn.btn-action.btn-block(type='button') Добавить преподавателя


                    .add-yoga__section.contacts-section
                      h2.add-yoga__title Контактная информация

                      .form-group.row
                        .col-md-12
                          label.label.form-control-label.required Телефон
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="tel" data-name="phone" placeholder="Например: +79115349876")
                            .form__errors


                      .form-group.row
                        .col-md-12
                          label.form-control-label Инструкции, как найти йога-центр
                        .col-lg-7.col-md-12.col-sm-12
                          textarea.form-control

                        .col-lg-5.col-md-12.col-sm-12
                          .form-group__text Укажите ориентиры места нахождения #[br] Вашего центра

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Электронная почта:
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="email" data-name="email" placeholder="Например info@yogastudio.com")
                            .form__errors

                      .form-group.row
                        .col-md-12
                          label.form-control-label Ссылка на страницу «Вконтакте»
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text")

                      .form-group.row
                        .col-md-12
                          label.form-control-label Ссылка на страницу «LiveJournal»
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text")

                      .form-group.row
                        .col-md-12
                          label.form-control-label Ссылка на страницу «Facebook»
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text")

                      .form-group.row
                        .col-md-12
                          label.form-control-label.required Ссылка на сайт
                        .col-lg-4.col-md-12.col-sm-12
                          .input
                            input.form-control(type="text" data-name="text_and_number")
                            .form__errors


                      .add-yoga__block
                        .form-description
                          p Пожалуйста, разместите на своем сайте обратную ссылку на наш сайт (см. #[a(href="#") Как правильно разместить ссылку на наш сайт]) и скоприруйте адрес страницы со ссылкой в форму ниже. Если ссылка размещена корректно, то на странице студии будет показана ссылка на ваш сайт.

                        .add-yoga__backlink
                          .form-group.row
                            .col-md-12
                              label.form-control-label Обратная ссылка
                            .col-lg-4.col-md-12.col-sm-12
                              .input
                                input.form-control(type="text")

                            .col-lg-8.col-md-12.col-sm-12
                              .form-group__text Адрес страницы на вашем сайте где размещена ссылка на наш сайт

                        .add-yoga__support
                          .form-group.row
                            .col-lg-4.col-md-12.col-sm-12
                                .custom-controls-stacked
                                  label.custom-control.custom-checkbox
                                    input.custom-control-input(type="checkbox")
                                    span.custom-control-indicator
                                    span.custom-control-description Принять участие в Программе поддержки новых студий и залов

                            .col-lg-8.col-md-12.col-sm-12
                              .form-group__text На йога-портале Хануман.ру работает Программа поддержки новых студий и залов. Если вы заинтересованы в информационной поддержке вашей студии, отметьте этот пункт, мы свяжемся с вами и расскажем подробности.

                        .form-description
                          p Eсли у вас возникли сложности с добавлением информации, напишите нам на #[a(href="mailto:editor@hanuman.ru") editor@hanuman.ru], мы поможем вам разобраться.


                      .add-yoga__actions
                        .form-action.row
                          .col-lg-4.col-md-12.col-sm-6
                            button.btn.btn-action.btn-block(type="button") Отправить модератору

                          .col-lg-4.col-md-12.col-sm-6
                            button.btn.btn-primary.btn-block(type="button") Предпросмотр




            .col-lg-3.col-md-4
              .sidebar.hidden-sm-down
                .sidebar-block
                  .social
                    include modules/social/social-buttons

                h2 Каталог товаров

                .sidebar-block
                  ul.sidebar-nav
                    li
                      a(href='') Распродажа -60%
                    li
                      a(href='') Коврики для йоги
                    li
                      a(href='') Коврики в бухтах
                    li
                      a(href='') Одежда для йоги
                    li
                      a(href='') Чехлы и сумки для ковриков
                    li
                      a(href='') Блоки, ремни, пропсы
                    li
                      a(href='') Подушки, болстеры, одеяла
                    li
                      a(href='') Массаж, спа, стоунтерапия
                    li
                      a(href='') Косметика
                    li
                      a(href='') Чай, питание, аюрведа
                    li
                      a(href='') Другие товары
                    li
                      a(href='') Реклама на сайте
                    li
                      a(href='') Все товары

    include includes/footer
