extends includes/default

block append vars
  - classPage = "page-blog"


block prepend title
    | Блог

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
              ul.breadcrumb
                li
                  a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                h1.page-title Блог

                .content__item.blog
                  .blog-list.row
                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-1.jpg', alt="")
                        .blog-list__body
                          .blog-list__description
                            span.date 24 августа 2016, 10:56
                            h3 Чакра Шуддхи Садхана: 7-дневный «чакровый» детокc
                            p В наши дни в обществе много конфликтов, стресса. Социальное неравенство, отсутствие воспитания, психология потребления и мелкие конфликтные…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-2.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 29 августа 2016, 11:12
                            h3 Нада-Йога в большом городе
                            p Не секрет, что в практике йоги важно правильное питание. О полезных и вредных для йога продуктах даже писал в своём…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-3.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 24 августа 2016, 10:56
                            h3 Практики йоги для весны
                            p Как увеличить подвижность суставов ног и таза для выполнения продвинутых поз йоги, в том числе сидячих? Как вылечиться а при…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-4.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 29 августа 2016, 11:12
                            h3 Медитация: знакомые трудности, неожиданные эффекты
                            p Говорят: «йога помогает наладить сексуальную жизнь»? Такая информация приходит и от…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-5.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 24 августа 2016, 10:56
                            h3 Зачем «желать всем счастья», или Мэтта-медитация
                            p В наши дни в обществе много конфликтов, стресса. Социальное неравенство, отсутствие воспитания, психология потребления и мелкие конфликтные…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-6.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 29 августа 2016, 11:12
                            h3 Йога Туммо — практика для наших широт?
                            p Не секрет, что в практике йоги важно правильное питание. О полезных и вредных для йога продуктах даже писал в своём…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-7.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 24 августа 2016, 10:56
                            h3 Как выбрать стиль йоги на основе тестового задания
                            p Как увеличить подвижность суставов ног и таза для выполнения продвинутых поз йоги, в том числе сидячих? Как вылечиться а при…

                    .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                      .blog-list__article
                        a.blog-list__absolute(href='/')
                        .blog-list__thumb
                          img(src='../images/blog/blog-8.jpg', alt='')
                        .blog-list__body
                          .blog-list__description
                            span.date 29 августа 2016, 11:12
                            h3 Микро-кафе «МОХ | Зелёная гастрономия»: приятный вечер «без мяса»
                            p Говорят: «йога помогает наладить сексуальную жизнь»? Такая информация приходит и от…



                  include modules/pagination/catalog




            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
              .sidebar
                .hidden-sm-down
                  h2 Рубрики

                  .sidebar-block
                    ul.sidebar-nav
                      li
                        a(href='') Видео-уроки йоги
                      li
                        a(href='') Интервью с мастером
                      li
                        a(href='') Истории о йоге
                      li
                        a(href='') Йога для начинающих
                      li
                        a(href='') Йога решает проблемы
                      li
                        a(href='') Йога-путешествия
                      li
                        a(href='') Новые йога-студии
                      li
                        a(href='') Питание йогов
                      li
                        a(href='') События
                      li
                        a(href='') Товары для йоги
                      li
                        a(href='') Юмор


                h2 Наши авторы

                .sidebar-block
                  .authors
                    .authors-card
                      .authors-thumb
                        img(src="images/user-3.png" alt="")

                      .authors-body
                        h3 Алексей Соколовский
                        p Алексей Соколовский — преподаватель классической Хатха-йоги («по Сатьянанде»), практикующий йогу более 15 лет. Ведущий выездных семинаров по йоге.


                .sidebar-block
                  .social
                    include modules/social/social-buttons
                    .vk-block
                      script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
                      // VK Widget
                      #vk_groups
                      script(type='text/javascript').
                        VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "auto"}, 9007597);

                    br

                    .fb-block
                      #fb-root
                      script.
                        (function (d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s);
                          js.id = id;
                          js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                      .fb-page(data-href='https://www.facebook.com/ru.hanuman', data-height='261', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                        blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ru.hanuman')
                          a(href='https://www.facebook.com/ru.hanuman') Hanuman



                .hidden-sm-down
                  h2 Каталог товаров

                  .sidebar-block
                    ul.sidebar-nav
                      li
                        a(href='') Распродажа -60%
                      li
                        a(href='') Коврики для йоги
                      li
                        a(href='') Коврики в бухтах
                      li
                        a(href='') Одежда для йоги
                      li
                        a(href='') Чехлы и сумки для клвриков
                      li
                        a(href='') Блоки, ремни, пропсы
                      li
                        a(href='') Подушки, болстеры, одеяла
                      li
                        a(href='') Массаж, спа, стоунтерапия
                      li
                        a(href='') Косметика
                      li
                        a(href='') Чай, питание, аюрведа
                      li
                        a(href='') Другие товары
                      li
                        a(href='') Реклама на сайте
                      li
                        a(href='') Все товары


    include includes/footer
