extends includes/default

block append vars
  - classPage = "page-blog-inside"


block prepend title
    | Блог

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
              ul.breadcrumb
                li
                  a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .blog-inner
                .content
                  h1.page-title Интервью с Кириллом Ржаным: йога-туры — путь к целостному развитию!
                  .date 29 августа 2016, 11:12

                  .content__item
                    p
                      img(src="images/kir_1.jpg" alt="")
                    p #[strong Кирилл Ржаной]: Разработчик учебных программ Московского Университета Йоги. Опыт практики йоги более 12ти лет. Учитель международного йога альянса. Изучал традиции основных индийских школ йоги, таких как: Бихарская школа, Шивананда йога, Аштанга виньяса и другие. Профессиональный психотерапевт. Путешественник. Художник.
                    p Провел более 80 учебных программ по всему миру.Создатель ряда учебных курсов: «Медитация в условиях мегаполиса», «Психология йоги», «Йога царского ума», «Осознанное питание в условиях мегаполиса, «Сила пробуждения». Ежегодно проводит обучение профессиональных преподавателей йоги. Имеет многолетний опыт проведения групповых и индивидуальных занятий, тематических семинаров и лекций в России и за рубежом. Преподает в центре йоги и здоровья #[a(href="/") YogaДостоевская].

                    p
                      img(src="images/blog/rzanoy_1.jpg" alt="")
                    p #[strong Хануман.ру]: Кирилл, какого типа выездные семинары ты проводишь?
                    p  В чем их специфика?
                    p #[strong Кирилл Ржаной]: Для того чтобы развитие было комплексным, мне интересно проводить разноплановые семинары, каждый из которых интересен по-своему. Например, 15-25 февраля будет мужской тренинг во Вьетнаме, где программа включает знакомство со славянскими практиками, наряду с хатха-йогой и тематическими лекциями, темы которых будут интересны в первую очередь мужчинам. Я вижу, что для мужчин меньше здоровых тематических мероприятий. Практики на обычных йога-семинарах во многом ориентированы на прекрасную половину человечества, потому что женщин в йоге 70-80%. Это значительно снижает эффективность развития мужчин в йоге. Здесь мы выберем другой подход к занятиям, язык объяснения техник, построение комплексов максимально ориентированно на мужские особенности и задачи. Будут специальные энергетические техники на пробуждение силы, очищение организма, пробуждение мужских архетипов, лекции на осознание своего предназначения. Будет погружение в практику, без лишних отвлечений и сравнений себя с гибкой йогиней на соседнем коврике. Для мужчин результат таких семинаров в 3-3,5 раза выше. (См. «Йога-тур для Мужчин. Южный Вьетнам»)
                    p #[strong Хануман.ру]: Кирилл, ты упомянул  в беседе, что планируешь провести второй семинар во Вьетнаме с астрологией? Можно пару слов о том, как возникла идея совместить йогу и астрологию?
                    p #[strong Кирилл Ржаной]: Лично я сам астрологией не занимаюсь, хотя знаю, что наука эта довольно интересная и может дать дополнительную информацию, подсказки для жизни, так сказать. А вот моя супруга Ольга пару лет назад основательно занялась погружением в это направление. У нее есть наставник по изучению астрологии — Ирина Поздеева (Индубала), она большой Гуру в этой сфере. А Ирине интересно перенять опыт в йоге, вот они и решили устроить совместный ретрит и поделиться с участниками знаниями, совмещая эти два направления. Я на этом семинаре больше гость. Проведу только пару занятий по медитации и психосоматике: недавно пришла довольно интересная информация на эту тему.
                    p
                      img(src="images/blog/rzanoy_2.jpg" alt="")



                .recommended
                  h2.recommended-title Популярные записи

                  .recommended-list.col-md-12
                    .row
                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-1.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Незаменимые упражнения йоги для женщин после 40 лет

                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-2.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Упражнения йоги на каждое утро: 15 минут — и вы в равновесии

                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-3.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Как сделать точечный массаж стоп самому себе

                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-4.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Простые средства от насморка — вылечись сам и перешли другу

                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-5.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Йога при ПМС и других нарушениях менструального цикла

                      .recommended-list__item.col-lg-6.col-md-12
                        .recommended-article
                          .recommended-article__thumb
                            img(src="images/r-6.jpg" alt="")
                          .recommended-article__title
                            a(href="#") Незаменимые упражнения йоги для женщин после 40 лет

                .comments.
                  <!-- Put this script tag to the <head> of your page -->
                  <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

                  <script type="text/javascript">
                    VK.init({apiId: API_ID, onlyWidgets: true});
                  </script>

                  <!-- Put this div tag to the place, where the Comments block will be -->
                  <div id="vk_comments"></div>
                  <script type="text/javascript">
                  VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
                  </script>


            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .hidden-sm-down
                    h2 Рубрики

                    .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Видео-уроки йоги
                        li
                          a(href='') Интервью с мастером
                        li
                          a(href='') Истории о йоге
                        li
                          a(href='') Йога для начинающих
                        li
                          a(href='') Йога решает проблемы
                        li
                          a(href='') Йога-путешествия
                        li
                          a(href='') Новые йога-студии
                        li
                          a(href='') Питание йогов
                        li
                          a(href='') События
                        li
                          a(href='') Товары для йоги
                        li
                          a(href='') Юмор


                    h2 Наши авторы

                    .sidebar-block
                      .authors
                        .authors-card
                          .authors-thumb
                            img(src="images/user-3.png" alt="")

                          .authors-body
                            h3 Алексей Соколовский
                            p Алексей Соколовский — преподаватель классической Хатха-йоги («по Сатьянанде»), практикующий йогу более 15 лет. Ведущий выездных семинаров по йоге.


                  .sidebar-block
                    .social
                      include modules/social/social-buttons
                      .vk-block
                        script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
                        // VK Widget
                        #vk_groups
                        script(type='text/javascript').
                          VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "auto"}, 9007597);

                      br

                      .fb-block
                        #fb-root
                        script.
                          (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                            fjs.parentNode.insertBefore(js, fjs);
                          }(document, 'script', 'facebook-jssdk'));
                        .fb-page(data-href='https://www.facebook.com/ru.hanuman', data-height='261', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                          blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ru.hanuman')
                            a(href='https://www.facebook.com/ru.hanuman') Hanuman


                  .hidden-sm-down
                    h2 Каталог товаров

                    .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Распродажа -60%
                        li
                          a(href='') Коврики для йоги
                        li
                          a(href='') Коврики в бухтах
                        li
                          a(href='') Одежда для йоги
                        li
                          a(href='') Чехлы и сумки для клвриков
                        li
                          a(href='') Блоки, ремни, пропсы
                        li
                          a(href='') Подушки, болстеры, одеяла
                        li
                          a(href='') Массаж, спа, стоунтерапия
                        li
                          a(href='') Косметика
                        li
                          a(href='') Чай, питание, аюрведа
                        li
                          a(href='') Другие товары
                        li
                          a(href='') Реклама на сайте
                        li
                          a(href='') Все товары


    include includes/footer
