extends includes/default

block prepend title
    | Корзина

block content
    include includes/header

    main.page-section
        .container-fluid
            .container
                .row
                    .col-sm-12
                        h1.page-title Корзина


                    .col-lg-9.col-md-8.col-sm-8
                        table.cart-table
                            tbody.cart-table__tbody
                                tr.cart-table__head
                                    td.cart-table__title.preview Фото
                                    td.cart-table__title.description(colspan="3") Описание
                                    td.cart-table__title.cost Цена
                                    td.cart-table__title.quantity Количество
                                    td.cart-table__title.sum Сумма
                                    td.cart-table__title.trash

                                tr.cart-table__row
                                    td.cart-table__cell
                                        a.card-thumb(href="/")
                                            img(src="images/catalog/item-5.jpg" alt="")

                                    td.cart-table__cell
                                        .card-name
                                            a(href="#") Лосины простые

                                    td.cart-table__cell
                                        .card-gamma
                                            .card-gamma__title Цвет
                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                    td.cart-table__cell
                                        .card-size
                                            .card-size__title Размер
                                            .card-size__box
                                                select.js-size.select-checkboxes(multiple="multiple")
                                                    option(value="" selected="selected") S
                                                    option(value="") M
                                                    option(value="") L
                                                    option(value="") XL

                                            .card-size__text Выберите размер на пимерку


                                    td.cart-table__cell
                                        .card-price
                                            span.card-price__old 1 580
                                                span.rub

                                            | 1 263
                                            span.rub

                                    td.cart-table__cell
                                        .card-quantity
                                            .quantity(data-id='quantity')
                                                .quantity-box
                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                    input.quantity-input(type='text', value='2')
                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                            .card-quantity__text К сожалению, на складе осталось всего 1 шт.

                                    td.cart-table__cell
                                        .card-price
                                            | 2 526
                                            span.rub

                                    td.cart-table__cell
                                        .card-trash
                                            a(href="#")
                                                i.icon-trash.fa.fa-trash-o(aria-hidden="true")


                                tr.cart-table__row
                                    td.cart-table__cell
                                        a.card-thumb(href="/")
                                            img(src="images/catalog/item-6.jpg" alt="")

                                    td.cart-table__cell
                                        .card-name
                                            a(href="#") Реклама на сайте Реклама в разделе «Йога-семинары»


                                    td.cart-table__cell
                                        .card-gamma
                                            .card-gamma__title Цвет
                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                    td.cart-table__cell
                                        .card-size
                                            .card-size__title Размер
                                            .card-size__box
                                                select.js-size.select-checkboxes(multiple="multiple")
                                                    option(value="") S
                                                    option(value="" selected="selected") M
                                                    option(value="" selected="selected") L
                                                    option(value="") XL

                                    td.cart-table__cell
                                        .card-price
                                            | 1 263
                                            span.rub

                                    td.cart-table__cell
                                        .card-quantity
                                            .quantity(data-id='quantity')
                                                .quantity-box
                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                    input.quantity-input(type='text', value='2')
                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                    td.cart-table__cell
                                        .card-price
                                            | 2 526
                                            span.rub

                                    td.cart-table__cell
                                        .card-trash
                                            a(href="#")
                                                i.icon-trash.fa.fa-trash-o(aria-hidden="true")


                                tr.cart-table__row
                                    td.cart-table__cell
                                        a.card-thumb(href="/")
                                            img(src="images/catalog/item-5.jpg" alt="")

                                    td.cart-table__cell
                                        .card-name
                                            a(href="#") Лосины короткие 3/4

                                    td.cart-table__cell
                                        .card-gamma
                                            .card-gamma__title Цвет
                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                    td.cart-table__cell
                                        .card-size
                                            .card-size__title Размер
                                            .card-size__box
                                                select.js-size.select-checkboxes(multiple="multiple")
                                                    option(value="" selected="selected") S
                                                    option(value="") M
                                                    option(value="") L
                                                    option(value="") XL

                                    td.cart-table__cell
                                        .card-price
                                            span.card-price__old 1 580
                                                span.rub

                                            | 1 263
                                            span.rub

                                    td.cart-table__cell
                                        .card-quantity
                                            .quantity(data-id='quantity')
                                                .quantity-box
                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                    input.quantity-input(type='text', value='2')
                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                    td.cart-table__cell
                                        .card-price
                                            | 2 526
                                            span.rub

                                    td.cart-table__cell
                                        .card-trash
                                            a(href="#")
                                                i.icon-trash.fa.fa-trash-o(aria-hidden="true")

                                tr.cart-table__row
                                    td.cart-table__cell
                                        a.card-thumb(href="/")
                                            img(src="images/catalog/item-6.jpg" alt="")

                                    td.cart-table__cell
                                        .card-name
                                            a(href="#") Лосины с отворачивающимся поясом

                                    td.cart-table__cell
                                        .card-gamma
                                            .card-gamma__title Цвет
                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                    td.cart-table__cell
                                        .card-size
                                            .card-size__title Размер
                                            .card-size__box
                                                select.js-size.select-checkboxes(multiple="multiple")
                                                    option(value="" selected="selected") S
                                                    option(value="") M
                                                    option(value="") L
                                                    option(value="") XL

                                    td.cart-table__cell
                                        .card-price
                                            | 1 263
                                            span.rub

                                    td.cart-table__cell
                                        .card-quantity
                                            .quantity(data-id='quantity')
                                                .quantity-box
                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                    input.quantity-input(type='text', value='2')
                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                    td.cart-table__cell
                                        .card-price
                                            | 2 526
                                            span.rub

                                    td.cart-table__cell
                                        .card-trash
                                            a(href="#")
                                                i.icon-trash.fa.fa-trash-o(aria-hidden="true")

                                tr.cart-table__row
                                    td.cart-table__cell
                                        a.card-thumb(href="/")
                                            img(src="images/catalog/item-5.jpg" alt="")

                                    td.cart-table__cell
                                        .card-name
                                            a(href="#") Лосины короткие 3/4

                                    td.cart-table__cell
                                        .card-gamma
                                            .card-gamma__title Цвет
                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                    td.cart-table__cell
                                        .card-size
                                            .card-size__title Размер
                                            .card-size__box
                                                select.js-size.select-checkboxes(multiple="multiple")
                                                    option(value="" selected="selected") S
                                                    option(value="") M
                                                    option(value="") L
                                                    option(value="") XL

                                    td.cart-table__cell
                                        .card-price
                                            span.card-price__old 1 580
                                                span.rub

                                            | 1 263
                                            span.rub

                                    td.cart-table__cell
                                        .card-quantity
                                            .quantity(data-id='quantity')
                                                .quantity-box
                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                    input.quantity-input(type='text', value='2')
                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                    td.cart-table__cell
                                        .card-price
                                            | 2 526
                                            span.rub

                                    td.cart-table__cell
                                        .card-trash
                                            a(href="#")
                                                i.icon-trash.fa.fa-trash-o(aria-hidden="true")



                    .col-lg-3.col-md-4.col-sm-4.sidebar
                        .sidebar-indent
                            h3 Постоянным покупателям
                            | Вы уже делали покупки в нашем магазине? <a href="#">Авторизуйтесь</a> и вам не придется заново указывать параметры доставки.

                        .sidebar-block
                            .sidebar-inset
                                h2 Ваш заказ

                                dl.cart-price
                                    dt Сумма
                                    dd 5 053
                                        span.rub
                                    dt Скидка
                                    dd 253
                                        span.rub
                                    dt Итого
                                    dd 4 800
                                        span.rub
                                        .footnote Без учета доставки


                                a.btn.btn-action.btn-block(href="#") Оформить заказ


                            .sidebar-indent
                                .cards
                                    i.icon.icon-visa
                                    i.icon.icon-master
                                    i.icon.icon-yamoney



    include includes/footer
