extends includes/default

block append vars
  - classPage = "page-cart"

block prepend title
    | Корзина

block content
    include includes/header

    main.page-section
        .container-fluid
            .container
                .row
                    .col-sm-12
                        h1.page-title Корзина


                    .col-lg-9.col-md-8.col-sm-12
                        .cart-table
                            .cart-table__tbody.col-md-12
                                .row
                                    .cart-table__head
                                        .row
                                            .col-md-1
                                                .cart-table__title.preview Фото
                                            .col-md-11
                                                .row
                                                    .cart-table__title.description.col-md-2 Описание
                                                    .cart-table__title.col-md-1
                                                    .cart-table__title.col-md-2
                                                    .cart-table__title.cost.col-md-2 Цена
                                                    .cart-table__title.quantity.col-md-3 Количество
                                                    .cart-table__title.sum.col-md-2 Сумма
                                                    .cart-table__title.trash.col-md-1

                                    .cart-table__row
                                        .row.cart-table__align
                                            .cart-table__cell.col-lg-1.col-md-6.col-sm-6.col-xs-4
                                                a.card-thumb(href="/")
                                                    img(src="images/catalog/item-5.jpg" alt="")

                                            .cart-table__cell.col-lg-11.col-md-6.col-sm-6.col-xs-8
                                                .row.cart-table__align
                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-name
                                                            a(href="#") Лосины простые

                                                    .cart-table__cell.col-lg-1.col-md-3.col-sm-3.col-xs-3
                                                        .card-gamma
                                                            .card-gamma__title Цвет
                                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                                    .cart-table__cell.col-lg-2.col-md-9.col-sm-9.col-xs-9
                                                        .card-size
                                                            .card-size__title Размер
                                                            .card-size__box
                                                                select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                                                    option(value="" selected="selected") S
                                                                    option(value="") M
                                                                    option(value="") L
                                                                    option(value="") XL

                                                            .card-size__text Выберите размер на пимерку


                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-price
                                                            span.card-price__title Цена
                                                            span.card-price__old 1 580
                                                                span.rub

                                                            | 1 263
                                                            span.rub

                                                    .cart-table__cell.col-lg-3.col-md-12.col-sm-12.col-xs-12
                                                        .card-quantity
                                                            span.card-quantity__title Количество
                                                            .quantity(data-id='quantity')
                                                                .quantity-box
                                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                    input.quantity-input(type='text', value='2')
                                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                                            .card-quantity__text К сожалению, на складе осталось всего 1 шт.

                                                    .cart-table__cell.col-lg-2.col-md-10.col-sm-10.col-xs-10
                                                        .card-price
                                                            span.card-price__title Итого
                                                            | 2 526
                                                            span.rub

                                                    .cart-table__cell.cart-table__cell--trash.col-sm-2.col-xs-2
                                                        .card-trash
                                                            a(href="#")
                                                              +icon('trash')


                                    .cart-table__row
                                        .row.cart-table__align
                                            .cart-table__cell.col-lg-1.col-md-6.col-sm-6.col-xs-4
                                                a.card-thumb(href="/")
                                                    img(src="images/catalog/item-6.jpg" alt="")

                                            .cart-table__cell.col-lg-11.col-md-6.col-sm-6.col-xs-8
                                                .row.cart-table__align
                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-name
                                                            a(href="#") Реклама на сайте Реклама в разделе «Йога-семинары»


                                                    .cart-table__cell.col-lg-1.col-md-3.col-sm-3.col-xs-3
                                                        .card-gamma
                                                            .card-gamma__title Цвет
                                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                                    .cart-table__cell.col-lg-2.col-md-9.col-sm-9.col-xs-9
                                                        .card-size
                                                            .card-size__title Размер
                                                            .card-size__box
                                                                select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                                                    option(value="") S
                                                                    option(value="" selected="selected") M
                                                                    option(value="" selected="selected") L
                                                                    option(value="") XL

                                                            .card-size__text Выберите размер на пимерку

                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-price
                                                            span.card-price__title Цена
                                                            | 1 263
                                                            span.rub

                                                    .cart-table__cell.col-lg-3.col-md-12.col-sm-12.col-xs-12
                                                        .card-quantity
                                                            span.card-quantity__title Количество
                                                            .quantity(data-id='quantity')
                                                                .quantity-box
                                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                    input.quantity-input(type='text', value='2')
                                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                                    .cart-table__cell.col-lg-2.col-md-10.col-sm-10.col-xs-10
                                                        .card-price
                                                            span.card-price__title Итого
                                                            | 2 526
                                                            span.rub

                                                    .cart-table__cell.cart-table__cell--trash.col-sm-2.col-xs-2
                                                        .card-trash
                                                            a(href="#")
                                                              +icon('trash')


                                    .cart-table__row
                                        .row.cart-table__align
                                            .cart-table__cell.col-lg-1.col-md-6.col-sm-6.col-xs-4
                                                a.card-thumb(href="/")
                                                    img(src="images/catalog/item-5.jpg" alt="")

                                            .cart-table__cell.col-lg-11.col-md-6.col-sm-6.col-xs-8
                                                .row.cart-table__align
                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-name
                                                            a(href="#") Лосины короткие 3/4

                                                    .cart-table__cell.col-lg-1.col-md-3.col-sm-3.col-xs-3
                                                        .card-gamma
                                                            .card-gamma__title Цвет
                                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                                    .cart-table__cell.col-lg-2.col-md-9.col-sm-9.col-xs-9
                                                        .card-size
                                                            .card-size__title Размер
                                                            .card-size__box
                                                                select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                                                    option(value="" selected="selected") S
                                                                    option(value="") M
                                                                    option(value="") L
                                                                    option(value="") XL

                                                            .card-size__text Выберите размер на пимерку

                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-price
                                                            span.card-price__title Цена
                                                            span.card-price__old 1 580
                                                                span.rub

                                                            | 1 263
                                                            span.rub

                                                    .cart-table__cell.col-lg-3.col-md-12.col-sm-12.col-xs-12
                                                        .card-quantity
                                                            span.card-quantity__title Количество
                                                            .quantity(data-id='quantity')
                                                                .quantity-box
                                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                    input.quantity-input(type='text', value='2')
                                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                                    .cart-table__cell.col-lg-2.col-md-10.col-sm-10.col-xs-10
                                                        .card-price
                                                            span.card-price__title Итого
                                                            | 2 526
                                                            span.rub

                                                    .cart-table__cell.cart-table__cell--trash.col-sm-2.col-xs-2
                                                        .card-trash
                                                            a(href="#")
                                                              +icon('trash')

                                    .cart-table__row
                                        .row.cart-table__align
                                            .cart-table__cell.col-lg-1.col-md-6.col-sm-6.col-xs-4
                                                a.card-thumb(href="/")
                                                    img(src="images/catalog/item-6.jpg" alt="")

                                            .cart-table__cell.col-lg-11.col-md-6.col-sm-6.col-xs-8
                                                .row.cart-table__align
                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-name
                                                            a(href="#") Лосины с отворачива&shy;ющимся поясом

                                                    .cart-table__cell.col-lg-1.col-md-3.col-sm-3.col-xs-3
                                                        .card-gamma
                                                            .card-gamma__title Цвет
                                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                                    .cart-table__cell.col-lg-2.col-md-9.col-sm-9.col-xs-9
                                                        .card-size
                                                            .card-size__title Размер
                                                            .card-size__box
                                                                select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                                                    option(value="" selected="selected") S
                                                                    option(value="") M
                                                                    option(value="") L
                                                                    option(value="") XL

                                                            .card-size__text Выберите размер на пимерку

                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-price
                                                            span.card-price__title Цена
                                                            | 1 263
                                                            span.rub

                                                    .cart-table__cell.col-lg-3.col-md-12.col-sm-12.col-xs-12
                                                        .card-quantity
                                                            span.card-quantity__title Количество
                                                            .quantity(data-id='quantity')
                                                                .quantity-box
                                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                    input.quantity-input(type='text', value='2')
                                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                                    .cart-table__cell.col-lg-2.col-md-10.col-sm-10.col-xs-10
                                                        .card-price
                                                            span.card-price__title Итого
                                                            | 2 526
                                                            span.rub

                                                    .cart-table__cell.cart-table__cell--trash.col-sm-2.col-xs-2
                                                        .card-trash
                                                            a(href="#")
                                                              +icon('trash')

                                    .cart-table__row
                                        .row.cart-table__align
                                            .cart-table__cell.col-lg-1.col-md-6.col-sm-6.col-xs-4
                                                a.card-thumb(href="/")
                                                    img(src="images/catalog/item-5.jpg" alt="")

                                            .cart-table__cell.col-lg-11.col-md-6.col-sm-6.col-xs-8
                                                .row.cart-table__align
                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-name
                                                            a(href="#") Лосины короткие 3/4

                                                    .cart-table__cell.col-lg-1.col-md-3.col-sm-3.col-xs-3
                                                        .card-gamma
                                                            .card-gamma__title Цвет
                                                            .card-gamma__box(style="background-image: url('../images/colors/color-1.png');")

                                                    .cart-table__cell.col-lg-2.col-md-9.col-sm-9.col-xs-9
                                                        .card-size
                                                            .card-size__title Размер
                                                            .card-size__box
                                                                select.js-select2-multiple.select-checkboxes(multiple="multiple")
                                                                    option(value="" selected="selected") S
                                                                    option(value="") M
                                                                    option(value="") L
                                                                    option(value="") XL

                                                            .card-size__text Выберите размер на пимерку

                                                    .cart-table__cell.col-lg-2.col-md-12.col-sm-12.col-xs-12
                                                        .card-price
                                                            span.card-price__title Цена
                                                            span.card-price__old 1 580
                                                                span.rub

                                                            | 1 263
                                                            span.rub

                                                    .cart-table__cell.col-lg-3.col-md-12.col-sm-12.col-xs-12
                                                        .card-quantity
                                                            span.card-quantity__title Количество
                                                            .quantity(data-id='quantity')
                                                                .quantity-box
                                                                    span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                    input.quantity-input(type='text', value='2')
                                                                    span.quantity-btn.quantity-btn__plus(data-quantity='plus')

                                                    .cart-table__cell.col-lg-2.col-md-10.col-sm-10.col-xs-10
                                                        .card-price
                                                            span.card-price__title Итого
                                                            | 2 526
                                                            span.rub

                                                    .cart-table__cell.cart-table__cell--trash.col-sm-2.col-xs-2
                                                        .card-trash
                                                            a(href="#")
                                                              +icon('trash')



                    .col-lg-3.col-md-4.col-sm-12
                        .sidebar(data-toggle="sticky-onscroll")
                            .sidebar-indent
                                h3 Постоянным покупателям
                                | Вы уже делали покупки в нашем магазине? <a href="#">Авторизуйтесь</a> и вам не придется заново указывать параметры доставки.

                            .sidebar-block
                                .sidebar-inset
                                    h2 Ваш заказ

                                    dl.cart-price
                                        dt Сумма
                                        dd 5 053
                                            span.rub
                                        dt Скидка
                                        dd 253
                                            span.rub
                                        dt Итого
                                        dd 4 800
                                            span.rub
                                            .footnote Без учета доставки


                                    a.btn.btn-action.btn-block(href="#") Оформить заказ


                                .sidebar-indent
                                    .cards
                                      .cards-inner
                                        +icon('visa')
                                        +icon('mastercard')
                                        +icon('yamoney')



    include includes/footer
