extends includes/default

block append vars
  - classPage = "page-catalog-category"

block prepend title
    | Каталог

block content
    include includes/header

    main.page-section
        .page-section-top
            .container-fluid
                .container
                    .col-inner
                        ul.breadcrumb
                            li
                                a(href='/') Главная
                            li
                                span Магазин


        .container-fluid
            .container
                .row
                    .col-lg-3.col-md-4.col-sm-12.hidden-xs
                        .sidebar(data-toggle="sticky-onscroll")

                            .sidebar-heading.hidden-md-up
                                a.btn-filter.js-filter-trigger(href="#")
                                    span.filter-icon
                                      +icon("filter")
                                    span.btn__text Фильтры
                                    +icon("close")

                            .sidebar-overlay
                                .sidebar-block
                                    .sidebar-inset
                                        .filter
                                            .filter-item
                                                .filter-title Цена,#[i.rub]
                                                ul.price
                                                    li
                                                        a(href='#') 0 — 1 000
                                                    li.active
                                                        a(href='#') 1 000 — 2 000
                                                    li
                                                        a(href='#') 2 000 — 3 000
                                                    li
                                                        a(href='#') от 3 000
                                            .filter-actions
                                                button.btn.btn-action(type='button') Показать
                                                button.btn.btn-primary(type='button') Сбросить


                                .sidebar-block
                                    ul.sidebar-nav
                                        li
                                            a(href='') Распродажа -60%
                                        li
                                            a(href='') Коврики для йоги
                                        li
                                            a(href='') Коврики в бухтах
                                        li
                                            a(href='') Одежда для йоги
                                        li
                                            a(href='') Чехлы и сумки для ковриков
                                        li
                                            a(href='') Блоки, ремни, пропсы
                                        li
                                            a(href='') Подушки, болстеры, одеяла
                                        li
                                            a(href='') Массаж, спа, стоунтерапия
                                        li
                                            a(href='') Косметика
                                        li
                                            a(href='') Чай, питание, аюрведа
                                        li
                                            a(href='') Другие товары
                                        li
                                            a(href='') Реклама на сайте
                                        li
                                            a(href='') Все товары

                            .clear-both


                    .col-lg-9.col-md-8.col-sm-12.col-sx-12
                        .col-inner.column-content
                            .description
                                .content-block
                                    .content-block__item
                                        h2 Коврики для йоги
                                        p.text-sm
                                            | Ваш незаменимый помощник в практике йоги. У нас есть коврики на любой вкус: #[a(href='/') доступные], #[a(href='/') нескользящие], #[a(href='/') женские].

                            .catalog-list
                                .row
                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-1.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Кайлаш»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Эко про»

                                            .card-price
                                                span.card-price__true
                                                    | 5 999
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-3.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Кайлаш»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub


                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-4.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Аштанга колор»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub


                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-1.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Кайлаш»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Эко про»

                                            .card-price
                                                span.card-price__true
                                                    | 5 999
                                                    i.rub


                                    .col-lg-12.catalog__actions
                                        .row.clearfix
                                            .col-lg-4.col-md-6.col-sm-6.col-xs-12
                                                a.btn.btn-action.btn-block(href='') Все коврики



                            .description
                                .content-block
                                    .content-block__item
                                        h2 Оджеда для йоги
                                        p.text-sm
                                            | Правильная одежда для йоги не стесняет движений и не отвлекает от практики. #[a(href='/') женские маечки], #[a(href='/') женские штаны], #[a(href='/') мужская одежда для йоги].

                            .catalog-list
                                .row
                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-5.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Брюки свободные

                                            .card-price
                                                span.card-price__true
                                                    | 1 263
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-6.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Лосины простые

                                            .card-price
                                                span.card-price__old
                                                    | 1 580
                                                    i.rub

                                                span.card-price__true
                                                    | 1 263
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-7.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Лосины с открытой пяткой

                                            .card-price
                                                span.card-price__true
                                                    | 1 263
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-9.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Лосины короткие 3/4

                                            .card-price
                                                span.card-price__old
                                                    | 1 580
                                                    i.rub

                                                span.card-price__true
                                                    | 1 263
                                                    i.rub


                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-10.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Лосины с открытой пяткой

                                            .card-price
                                                span.card-price__old
                                                    | 1 580
                                                    i.rub

                                                span.card-price__true
                                                    | 1 263
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-11.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Лосины с отворачивающимся поясом

                                            .card-price
                                                span.card-price__true
                                                    | 1 263
                                                    i.rub


                                    .col-lg-12.catalog__actions
                                        .row.clearfix
                                            .col-lg-4.col-md-6.col-sm-6.col-xs-12
                                                a.btn.btn-action.btn-block(href='') Вся одежда



                            .description
                                .content-block
                                    .content-block__item
                                        h2 Чехлы и сумки для ковриков
                                        p.text-sm Предлагаем широкий ассортимент удобных, стильных, долговечных чехлов и сумок для переноски и хранения йога-матов. Кроме ковриков, в них поместятся и важные мелочи.

                            .catalog-list
                                .row
                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-1.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Чехол для коврика «Практи»

                                            .card-price
                                                span.card-price__true
                                                    | 540
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-2.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Чехол для коврика «карнатака»

                                            .card-price
                                                span.card-price__old
                                                    | 390
                                                    i.rub

                                                span.card-price__true
                                                    | 540
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-3.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Чехол для коврика «Практи»

                                            .card-price
                                                span.card-price__true
                                                    | 540
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-4.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Сумка «бара мини»

                                            .card-price
                                                span.card-price__old
                                                    | 990
                                                    i.rub

                                                span.card-price__true
                                                    | 1 100
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-5.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Чехол для коврика «Практи»

                                            .card-price
                                                span.card-price__true
                                                    | 540
                                                    i.rub

                                    .catalog__item.col-lg-4.col-md-6.col-sm-6.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-labels.labels
                                                span.label скидка 20%
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/mat-6.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Чехол для коврика «карнатака»

                                            .card-price
                                                span.card-price__old
                                                    | 390
                                                    i.rub

                                                span.card-price__true
                                                    | 351
                                                    i.rub


                                    .col-lg-12.catalog__actions
                                        .row.clearfix
                                            .col-lg-4.col-md-6.col-sm-6.col-xs-12
                                                a.btn.btn-action.btn-block(href='') Все товары


        .content-wrap
            .container-fluid
                .container
                    .main-content
                        .description
                            .content-block
                                .content-block__item
                                    h1 Почему выгодно покупать товары для йоги в нашем магазине
                                    p В магазине Хануман.ру есть все, необходимое как для начинающего, так и для опытного йога. Купить приспособления для йоги в нашем интернет-магазине легко просто. Мы помогаем вам сделать выбор, быстро обрабатываем заказы и быстро доставляем их по всей России. Мы выполняем максимум работы, чтобы вам оставалось только протянуть руки и получить покупку.

                            .features
                                .row
                                    .col-md-4.features__item
                                        .features__thumb-block
                                            img(src='../images/yoga.png', alt='')

                                        .features__caption
                                            h3 Большой выбор ковриков для йоги
                                            p Это та характерная особенность, из-за которой йога магазин Хануман.ру запоминают и советуют лучшим друзьям. Наши консультанты помогут вам разобраться со всеми характеристиками ковриков: упругость и эластичность, длина, вес и толщина, цвет или особенности материалов. Из огромного разнообразия мы подберем то, что нужно именно вам.

                                    .col-md-4.features__item
                                        .features__thumb-block
                                            img(src='../images/yoga.png', alt='')

                                        .features__caption
                                            h3 Cамые низкие цены
                                            p Если в вашу жизнь прочно вошла йога, цены вас вряд ли интересуют — все, что нужно для практики, становится бесценным. И все-таки мы поставили перед собой задачу продавать самые необходимые товары для практики хатха-йоги по ценам, которые устроят любого русского йога. Купить все, что нужно для практики по приятной цене, находясь Хабаровске или Иркутске, теперь так же просто, как в Москве.

                                    .col-md-4.features__item
                                        .features__thumb-block
                                            img(src='../images/yoga.png', alt='')

                                        .features__caption
                                            h3 Удобно платить, удобно получать покупки
                                            p  Мы предлагаем несколько способов оплаты и доставки товаров, в том числе бесплатную— почтой России. Как бы далеко вы ни находились от Москвы, с нашей помощью вы легко получите все, что необходимо для вашей практики: коврики, одежду, вспомогательные приспособления — любые товары для йоги!



        .container-fluid
            .container
                .content.inside
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-sx-12
                            .content-block
                                h2 Чем йога-магазин Хануман.ру отличается от других?
                                ul
                                    li Бесплатная доставка Почтой России в регионы при заказе на сумму 2000 рублей и более;
                                    li Примерка одежды. Если вы выбираете курьерскую доставку, то можете заказать несколько размеров выбрать наиболее подходящий.
                                    li Возврат без проблем. Если полученные товары для йоги вас чем-то не устроили (даже если цвет не подошел), вы можете вернуть заказ, оплатив обратную доставку;

                        .col-lg-6.col-md-6.col-sm-6.col-sx-12
                            .content-block
                                h2 Предложение для оптовых клиентов
                                p В магазине Хануман.ру всегда в наличии товары, необходимые для студии, где преподается и практикуется йога. Цены на оптовые поставки вас порадуют! Мы предоставляем вам уникальную возможность развить собственный бизнес в любом направлении, которое предлагает йога. Купить все необходимое оборудование оптом и открыть собственный магазин или йога-центр очень просто. Наш йога магазин предоставляет вам возможность приобретать товары оптом или по представительской программе и зарабатывать до 45% от розничной стоимости.



    include includes/footer
