extends includes/default

block append vars
  - classPage = "page-checkout"

block prepend title
    | Оформление заказа

block content
    header.header.header--checkout
        .header-top
            .container
                .row
                    .col-lg-2.col-md-3.col-sm-4.col-xs-7
                        a.logo(href='/')
                            +icon('logo').logo-xs


    main.page-section
        .container-fluid
          .container
            .checkout.row
              .col-sm-12
                h1.page-title Оформление заказа


              form.checkout-form(data-validate="checkout")
                .col-sm-12
                  .row

                    .col-lg-9.col-md-8.col-sm-12
                      .order
                        .order-inside
                          .order-container.order-delivery(id="checkout-step-1")
                            h2 Доставка

                            .city
                              .delivery__city.form-group.row
                                .col-md-12
                                  label.form-control-label Город

                                .col-lg-4.col-md-6.col-sm-12
                                  .city-selecter
                                    select.select-city(id="city")
                                      option(selected="selected") Москва
                                      option Санкт-Петербург
                                      option Калининград
                                      option Екатеринбург
                                      option Владивосток

                                .col-lg-8.col-md-12.col-sm-12
                                  .col-form-description
                                    | Мы автоматически определили ваш город. Если мы сделали это неправильно, вы можете выбрать другой.


                            .delivery
                              h3 Способ доставки

                              #delivery-choice.delivery__choice.form-group.row
                                .col-md-12
                                  .custom-controls-stacked
                                    #delivery-more
                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option1" checked)
                                          span.custom-control-indicator
                                          span.custom-control-description Самовывоз со склада (-180 рублей)

                                        .form-check__description
                                          | Вы самостоятельно забираете заказ с нашего склада, мы предоставляем дополнительную скидку -3%.


                                        // пункты выдачи
                                        #delivery-warehouse.delivery-points
                                          ul.contacts
                                            li
                                              strong Адрес:
                                              span г. Москва, ул. Крылатские холмы, дом 7, кор 2.
                                            li
                                              strong Время работы:
                                              span с 10:00 до 18:00, ежедневно
                                            li
                                              strong Телефон:
                                              span 8 (495) 669-68-40 доб. 061

                                          .point
                                            .point-tabs
                                              a(href="#") Как до нас добраться?
                                              a(href="#") Схема проезда
                                              a(href="#") Яндекс карта

                                            .point-content
                                              p #[b 1]) м. Молодежная: Выход из 1-го вагона от центра, на улицу, обойти торговый центр и выйти к конечной остановке автобусов. Сесть на автобус №829 и ехать до остановки «Ул. Крылатские холмы, д. 5» (около 5 минут, вторая остановка). От остановки пройдите 50 м вперёд по ходу движения и перейдите через дорогу.
                                              p #[b 2]) м. Крылатское: Выйти на остановке метро Крылатское из последнего вагона от центра. Из стеклянных дверей налево, затем наверх. Пройти мимо магазина «Седьмой континент», миновать следующий за ним жилой дом, за ним повернуть налево. Идти прямо до упора (вы попадёте на ул. Крылатские холмы), повернуть направо. Далее идти по ул. Крылатские холмы никуда не сворачивая (по левую руку от вас через дорогу всё время будет парк «Крылатские холмы»). Перейти по пешеходному переходу через дорогу и идти дальше. По правую руку вы увидите цилиндрическое белое здание, к нему вверх ведет ответвляющаяся дорожка, по ней идти НЕ надо! Нужно пройти 50м дальше по улице.
                                              p Затем между двумя ресторанами «Hills» и «Бульон Крутон» вы увидите вывеску «Паркет». Нужно зайти на склад (большие двойные серые двери), справа от дверей звонок — жмите, пока не услышите мелодию. Спросите Ирину, сообщите, что вы за заказом, вас проводят.


                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option2")
                                          span.custom-control-indicator
                                          span.custom-control-description Самовывоз (бесплатно)

                                        .form-check__description
                                          | Вы самостоятельно забираете заказ в пункте выдачи.


                                        // пункты выдачи
                                        #delivery-free.delivery-points.hidden
                                          .row
                                            .col-md-12
                                              label.form-control-label Ближайшая к вам станция метро

                                            .col-lg-4.col-md-6.col-sm-12
                                              .selecter
                                                select#stations.select-point

                                          .point
                                            ul.point-list
                                              //
                                                li.point-list__item.active
                                                  .point-list__content
                                                    p
                                                      strong 500 м до метро Волгоградский проспект
                                                    p #[strong Адрес]: м. Волгоградский проспект, Волгоградский проспект 32 к 8, ТЦ «Техно холл» 2 эт. Пав. D54

                                                  .point-tabs
                                                    a(href="#") Как до нас добраться?
                                                    a(href="#") Схема проезда
                                                    a(href="#") Яндекс карта

                                                  .point-content

                                                li.point-list__item
                                                  .point-list__content
                                                    p
                                                      strong 800 м до метро Волгоградский проспект
                                                    p #[strong Адрес]: м. Братиславская, ТЦ Брайт, ул. Перерва д. 45, 2 этаж, 19 павильон

                                                  .point-tabs
                                                    a(href="#") Как до нас добраться?
                                                    a(href="#") Схема проезда
                                                    a(href="#") Яндекс карта

                                                  .point-content

                                                li.point-list__item
                                                  .point-list__content
                                                    p
                                                      strong 2 км до метро Волгоградский проспект
                                                    p #[strong Адрес]: м. Щелковская, ТЦ «Вектор», ул. 9-я парковая вл. 61а стр. 1, 2 этаж, павильон 16

                                                  .point-tabs
                                                    a(href="#") Как до нас добраться?
                                                    a(href="#") Схема проезда
                                                    a(href="#") Яндекс карта

                                                  .point-content

                                                li.point-list__item
                                                  .point-list__content
                                                    p
                                                      strong 4 км до метро Волгоградский проспект
                                                    p #[strong Адрес]: м. Новые Черемушки, ул. Профсоюзная д. 58, к. 4

                                                  .point-tabs
                                                    a(href="#") Как до нас добраться?
                                                    a(href="#") Схема проезда
                                                    a(href="#") Яндекс карта

                                                  .point-content


                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option3")
                                          span.custom-control-indicator
                                          span.custom-control-description Курьерская доставка Грастин (+150 рублей)

                                        .form-check__description
                                          | Заказ будет доставлен до вашей двери курьером в удобное для вас время в ближайшие дни (на следующий день при заказе до 17:00 по Москве).

                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option4")
                                          span.custom-control-indicator
                                          span.custom-control-description Экспедиционная компания ПЭК (+450 рублей)

                                        .form-check__description
                                          | Заказ будет доставлен до склада компании ПЭК в одном из городов, где есть филиалы. Забор груза производится заказчиком самостоятельно. Филиал ПЭК для доставки в г. Москва восток.

                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option5")
                                          span.custom-control-indicator
                                          span.custom-control-description Индивидуальные условия доставки (стоимость рассчитывается отдельно)

                                        .form-check__description
                                          | Если вам не подходит ни один из вышеперечисленных способов, это не беда! Наши менеджеры свяжутся с вами по телефону и подберут способ доставки, который подойдет именно под ваши требования.

                                    #delivery-kd.hidden
                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option6")
                                          span.custom-control-indicator
                                          span.custom-control-description Почта России (бесплатно от 2000 р)

                                        .form-check__description
                                          | Ваш заказ можно будет забрать в ближайшем почтовом отделении. Срок доставки 8 дн.

                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option7")
                                          span.custom-control-indicator
                                          span.custom-control-description Курьерская служба СДЭК

                                        .form-check__description
                                          | Заказ будет доставлен до склада компании СДЭК в одном из городов, где есть филиалы. Забор груза производится заказчиком самостоятельно. Срок доставки 2 дн. (бесплатно)

                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option8")
                                          span.custom-control-indicator
                                          span.custom-control-description Экспедиционная компания ПЭК (+450 рублей)

                                        .form-check__description
                                          | Заказ будет доставлен до склада компании ПЭК в одном из городов, где есть филиалы. Забор груза производится заказчиком самостоятельно. Филиал ПЭК для доставки в г. Москва восток.

                                      .form-check
                                        label.custom-control.custom-radio
                                          input.custom-control-input(type="radio" name="a" value="option9")
                                          span.custom-control-indicator
                                          span.custom-control-description Индивидуальные условия доставки (стоимость рассчитывается отдельно)

                                        .form-check__description
                                          | Если вам не подходит ни один из вышеперечисленных способов, это не беда! Наши менеджеры свяжутся с вами по телефону и подберут способ доставки, который подойдет именно под ваши требования.



                              #courier-info.hidden
                                .delivery__pickup.form-group.row
                                  .col-md-12
                                    label.form-control-label Адрес пункта выдачи

                                  .col-lg-4.col-md-6.col-sm-12
                                    .input-group.pickup
                                      select.select-city
                                        option ул. Озерная, 41а
                                        option ул. 1812 года, 126


                                .delivery__date.form-group.row
                                  .col-md-12
                                    label.form-control-label Дата доставки

                                  .col-lg-4.col-md-6.col-sm-12
                                    .input-group.date
                                      input.js-date.form-control(type="text" placeholder="2 августа 2016")
                                      .input-group-addon
                                        +icon('calendar')

                                  .col-lg-8.col-md-12.col-sm-12
                                    .col-form-description
                                      | Заказ будет доставлен до вашей двери курьером в удобное для вас время в ближайшие дни (на следующий день при заказе до 17:00). Сейчас 16:53


                                .delivery__times.form-group.row
                                  .col-lg-4.col-md-12.col-sm-12
                                    .time
                                      label.form-control-label Время доставки

                                      .form-group.row
                                        .col-md-6.col-xs-6
                                          .input-group
                                            select.select-time
                                              option с 00:00
                                              option с 01:00
                                              option с 02:00
                                              option с 03:00
                                              option с 04:00
                                              option с 05:00
                                              option с 06:00
                                              option с 07:00
                                              option с 08:00
                                              option с 09:00
                                              option с 10:00
                                              option с 11:00
                                              option с 12:00
                                              option с 13:00
                                              option с 14:00
                                              option с 15:00
                                              option с 16:00
                                              option с 17:00
                                              option с 18:00
                                              option с 19:00
                                              option с 20:00
                                              option с 21:00
                                              option с 22:00
                                              option с 23:00

                                        .col-md-6.col-xs-6
                                          .input-group
                                            select.select-time
                                              option до 00:00
                                              option до 01:00
                                              option до 02:00
                                              option до 03:00
                                              option до 04:00
                                              option до 05:00
                                              option до 06:00
                                              option до 07:00
                                              option до 08:00
                                              option до 09:00
                                              option до 10:00
                                              option до 11:00
                                              option до 12:00
                                              option до 13:00
                                              option до 14:00
                                              option до 15:00
                                              option до 16:00
                                              option до 17:00
                                              option до 18:00
                                              option до 19:00
                                              option до 20:00
                                              option до 21:00
                                              option до 22:00
                                              option до 23:00


                                #delivery-post.hidden
                                  .delivery__post.form-group.row
                                    .col-md-12
                                      .custom-controls-stacked
                                        .form-check
                                          label.custom-control.custom-checkbox
                                            input.custom-control-input(type="checkbox")
                                            span.custom-control-indicator
                                            span.custom-control-description Доставка до двери (+800 рублей)

                                          .form-check__description Срок доставки 6–8 дней


                            #delivery-address.address.hidden
                              h3 Адрес доставки

                              .form-group.row
                                .col-lg-4.col-md-6.col-sm-12
                                  .address__index.form-group
                                    label.form-control-label.required Индекс
                                    .input
                                      input.form-control(type="text" name="index" data-name="number" placeholder="Например: 163002" required)
                                      .form__errors

                                  .address__street.form-group
                                    label.form-control-label.required Улица
                                    .input
                                      input.form-control(type="text" name="street" data-name="text" placeholder="Например: Каргопольская ул." required)
                                      .form__errors

                                  .address__house.form-group
                                    label.form-control-label.required Дом
                                    .input
                                      input.form-control(type="text" name="house" data-name="text_and_number" placeholder="Например: дом 1" required)
                                      .form__errors

                              .address__office.form-group.row
                                .col-md-12
                                  label.form-control-label.required Квартира / офис

                                .col-lg-4.col-md-6.col-sm-12
                                  .input
                                    input.form-control(type="text" name="office" data-name="text_and_number" placeholder="Например: офис 10" required)
                                    .form__errors

                                .col-lg-8.col-md-6.col-sm-12
                                  .col-form-description
                                    a(href="#" data-toggle="private-house") Частный дом

                            .order-actions
                              a.btn.btn-primary.order-actions__back(href="#")
                                +icon('button_arrow')


                              button.btn.btn-action(type="button" data-id="checkout-step-2") Далее
                                +icon('button_arrow')
                              span.order-actions__text К заполнению личной информации


                          .order-container.order-data(id="checkout-step-2")
                            h2 Личные данные

                            .form-group.row
                              .col-lg-4.col-md-6.col-sm-12
                                .order-data__choice.custom-controls-stacked
                                  label.custom-control.custom-radio
                                    input.custom-control-input(type="radio" name="c" value="option1" checked)
                                    span.custom-control-indicator
                                    span.custom-control-description Физическое лицо

                                  label.custom-control.custom-radio
                                    input.custom-control-input(type="radio" name="c" value="option1")
                                    span.custom-control-indicator
                                    span.custom-control-description Юридическое лицо

                                #company.order-data__company.form-group
                                  label.form-control-label.required Название компании
                                  .input
                                    input.form-control(type="text" name="company" data-name="text" placeholder="Например: ООО Хануман" required)
                                    .form__errors

                                .order-data__surname.form-group
                                  label.form-control-label.required Фамилия
                                  .input
                                    input.form-control(type="text" name="surname" data-name="text" placeholder="Например: Иванов" required)
                                    .form__errors

                                .order-data__name.form-group
                                  label.form-control-label.required Имя
                                  .input
                                    input.form-control(type="text" name="name" data-name="name" placeholder="Например: Андрей" required)
                                    .form__errors

                                .order-data__middlename.form-group
                                  label.form-control-label.required Отчество
                                  .input
                                    input.form-control(type="text" name="middlename" data-name="text" placeholder="Например: Алексеевич" required)
                                    .form__errors

                                .order-data__phone.form-group
                                  label.form-control-label.required Телефон
                                  .input
                                    input.form-control(type="tel" name="phone" data-name="phone" data-mask placeholder="Например: +79115349876" required)
                                    .form__errors

                                .order-data__email.form-group
                                  label.form-control-label.required Электронная почта
                                  .input
                                    input.form-control(type="email" name="email" data-name="email" placeholder="Например: name@gmail.com" required)
                                    .form__errors


                            .order-data__comments.form-group.row
                              .col-md-8
                                label.form-control-label Комментарий
                                textarea.form-control(rows="3" placeholder="Ваш комментарий")


                            .order-actions
                              a.btn.btn-primary.order-actions__back(href="#checkout-step-1")
                                +icon('button_arrow')

                              button.btn.btn-action(type="button" data-id="checkout-step-3") Далее
                                +icon('button_arrow')
                              span.order-actions__text К выбору способа оплаты



                          .order-container.order-payment(id="checkout-step-3")
                            h2 Способ оплаты

                            .order-payment__choice.form-group
                              .custom-controls-stacked
                                label.custom-control.custom-radio
                                  input.custom-control-input(type="radio" name="f" value="option1" checked)
                                  span.custom-control-indicator
                                  span.custom-control-description
                                    +icon('visa')
                                    +icon('mastercard')
                                    span.text Банковской картой
                                  span.note Без комиссии

                                label.custom-control.custom-radio
                                  input.custom-control-input(type="radio" name="f" value="option1")
                                  span.custom-control-indicator
                                  span.custom-control-description Банковский перевод
                                  span.note Без комиссии

                                label.custom-control.custom-radio
                                  input.custom-control-input(type="radio" name="f" value="option1")
                                  span.custom-control-indicator
                                  span.custom-control-description
                                    +icon('yamoney')
                                    span.text Яндекс деньги
                                  span.note Без комиссии


                            .order-actions
                              a.btn.btn-primary.order-actions__back(href="#checkout-step-2")
                                +icon('button_arrow')

                              button.btn.btn-action(type="button") Оплатить
                              span.order-actions__text На страницу оплаты

                          .order-required
                            | * — Поля обязательные для заполнения


                    .col-lg-3.col-md-4.col-sm-12
                      .sidebar
                        .order-check.sidebar-block
                          .block
                            h2.order-check__title Ваш заказ

                            dl.cart-price
                              dt Товары
                              dd 5 053
                                span.rub
                              dt Скидка
                              dd 253
                                span.rub
                              dt Доставка
                                dd 1200
                                  span.rub
                              dt Итого
                              dd 4 800
                                span.rub


                          .contacts
                            .block
                              h3.contacts-title Если у вас возникли вопросы, мы рады помочь:
                              ul.contact-list
                                li
                                  +icon("phone")
                                  a(href="tel:+78007758731") (800) 775-87-31
                                  span.footnote звонок по России бесплатный
                                li
                                  +icon("mail-fill")
                                  a(href="mailto:mail@hanuman.ru") mail@hanuman.ru
                                li
                                  +icon("skype")
                                  a(href="skype:hanuman_ru") hanuman_ru


    include includes/footer
