extends includes/default

block append vars
  - classPage = "page-encyclopedia"

block prepend title
    | Блог

block content
    include includes/header

    .ad-top
      img(src="images/ad-top.jpg")

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная



      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                h1.page-title Балансы

                .asana-list
                  .asana-list__item.col-md-12
                    .row
                      .asana-list__container
                        .asana-list__image.col-md-5
                          img(src="images/asana-1.jpg" alt)

                        .asana-list__header.col-md-7
                          h3 Поза половины луны (Ардхачандрасана)

                        .asana-list__content.col-md-7
                          p Ардхачандрасана является основным терапевтическим упражнением при повреждении подколенных связок и для профилактики, поскольку укрепляет мышцы вокруг колена. Она задействует все мышц ног, боковые мышцы тела, поясницу и даже мышцы брюшного пресса. Растягивает связки в паху и подколенные сухожилия. Улучшает координацию, снимает…
                          a(href="#") Читать дальше…

                  .asana-list__item.col-md-12
                    .row
                      .asana-list__container
                        .asana-list__image.col-md-5
                          img(src="images/asana-2.jpg" alt)

                        .asana-list__header.col-md-7
                          h3 Поза героя III (Вирабхадрасана III)

                        .asana-list__content.col-md-7
                          p Вирабхадрасана III укрепляет мышцы поясницы, тонизирует органы брюшной полости, придает крепость и красивую форму мышцам ног. Эта асана рекомендуется бегунам, так как развивает подвижность. Укрепляя подколенные мышцы, эта асана восстанавливает подвижность коленей после травм и их способность переносить нагрузки.
                          a(href="#") Читать дальше…

                  .asana-list__item.col-md-12
                    .row
                      .asana-list__container
                        .asana-list__image.col-md-5
                          img(src="images/asana-3.jpg" alt)

                        .asana-list__header.col-md-7
                          h3 Поза Орла (Гарудасана)

                        .asana-list__content.col-md-7
                          p Гарудасана относится к «балансовым» позам йоги. Она укрепляет мышцы ног, учит координировать напряжение (напрягать одни мышцы, одновременно расслабляя другие) – навык помогающий в любой жизненной ситуации. Гарудасана тонизирует ноги, расслабляя при этом суставы, помогает при болях в спине, развивает чувство равновесия.
                          a(href="#") Читать дальше…

                  .asana-list__item.col-md-12
                    .row
                      .asana-list__container
                        .asana-list__image.col-md-5
                          img(src="images/asana-4.jpg" alt)

                        .asana-list__header.col-md-7
                          h3 Полная поза лодки (Парипурна Навасана)

                        .asana-list__content.col-md-7
                          p Парипурна Навасана относится к позам йоги, укрепляющим мышцы брюшного пресса, спины и бедер. Она усиливает кровообращение в области живота, улучшая пищеварение, снимает боли в пояснице, стимулирует работу щитовидной железы.
                          a(href="#") Читать дальше…



            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar.offset-top
                  .ad
                    img(src="images/ad.jpg")

                  .sidebar-block
                   h2 Подобрать асаны

                   .accordion(data-accordion)
                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Вид фигуры
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Санскритское название
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                     .accordion-item.show(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Перевод
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение


                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Показания
                            +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Противопоказания
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Анатомический принцип
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                   .sidebar-last
                     .sidebar-last__block
                       .sidebar-action
                         .sidebar-action__row
                           button.btn.btn-action.btn-block(type='button') Показать

                         .sidebar-action__row
                           button.btn.btn-primary.btn-block(type='button') Сбросить



                   .sidebar-block
                      .social
                        include modules/social/social-buttons

                   h2 Каталог товаров

                   .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Распродажа -60%
                        li
                          a(href='') Коврики для йоги
                        li
                          a(href='') Коврики в бухтах
                        li
                          a(href='') Одежда для йоги
                        li
                          a(href='') Чехлы и сумки для ковриков
                        li
                          a(href='') Блоки, ремни, пропсы
                        li
                          a(href='') Подушки, болстеры, одеяла
                        li
                          a(href='') Массаж, спа, стоунтерапия
                        li
                          a(href='') Косметика
                        li
                          a(href='') Чай, питание, аюрведа
                        li
                          a(href='') Другие товары
                        li
                          a(href='') Реклама на сайте
                        li
                          a(href='') Все товары



    include includes/footer
