extends includes/default

block append vars
  - classPage = "page-yoga-styles"

block prepend title
    | Encyclopedia Yoga Styles

block content
    include includes/header


    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                a(href='/') Энциклопедия
              li
                span Стили йоги


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              h1.page-title Раджадхираджа-йога

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                figure.figure
                  img.img-fluid(src="images/raja.jpg" alt="")

                .content__item
                  p «Раджадхираджа» в переводе с санскрита означает «царь царей». В человеческом организме разум считается царём, а душа (атман) – царём царей. Таким образом, раджадхираджа-йога – это система практик, которая нацелена на то, чтобы духовный искатель мог преодолеть свою тождественность с телом или разумом, чертами характера или эмоциями и мог осознать себя душой.
                  p Раджадхираджа-йога возникла около 2000 лет назад и впитала в себя лучшие части тантра-йоги. Её создателем был Махариши Аштавакра, который описал её в своей книге «Аштавакра Самгита». Упоминания об этом направлении йоги можно встретить в таких трактатах как «Куларнава Тантра» и «Шива Самгита». Выдающийся мастер йоги XX века Шри Шри Анандамурти возродил древние практики, дополнив их и приспособив для современного человека.

                  h2 Особенности
                  p Согласно традиции в раджадхираджа-йоге медитации обучают ачарьи-санньясины (монахи), прошедшие специальную подготовку и имеющие большой опыт медитации. Кроме того, они дают ученикам индивидуальный комплекс асан, в зависимости от физических и психических особенностей ученика. Платы за обучение не взимается.
                  p Техника выполнения асан в системе раджадхираджа-йоги имеет следующие особенности:
                  ul
                    li первоочередная цель выполнения асан – привести в баланс вритти (наклонности разума), что способствует лучшему выполнению медитации;
                    li асаны выполняются в определённом режиме дыхания, таким образом, происходит вовлечение праны (жизненной энергии) и концентрация её в определенных местах;
                    li выполнение асан сопровождается мысленным повторением ишта-мантры (индивидуальной мантры, получаемой от ачарьи);
                    li после выполнения каждой асаны, во время расслабления йогин концентрирует разум на высших чакрах (как правило анахата или агья-чакра).

                  h2 Эффект
                  p Для духовного развития необходимо здоровое тело, сбалансированные эмоции и сильная нервная система. Асаны, йогические танцы, правильное питание и голодание служат развитию на физическом уровне. Ступенчатая система уроков медитации раджадхираджа-йоги обеспечивает развитие разных уровней разума, эмоций, интеллекта и интуиции.

                  h2 Кому подходит
                  p Некоторые элементы раджадхираджа-йоги можно выполнять с 5 лет, а полноценно практиковать – с 12 лет.
                  p Индивидуальный подход к обучению каждого ученика позволяет максимально учитывать его возможности и особенности. При необходимости ученику даются облегчённые варианты выполнения техник.

                .comments.
                  <!-- Put this script tag to the <head> of your page -->
                  <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

                  <script type="text/javascript">
                    VK.init({apiId: API_ID, onlyWidgets: true});
                  </script>

                  <!-- Put this div tag to the place, where the Comments block will be -->
                  <div id="vk_comments"></div>
                  <script type="text/javascript">
                  VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
                  </script>


            .col-lg-3.col-md-4
              .sidebar
                .yoga-styles__wrap
                  h2 Стиль йоги

                  .sidebar-block
                    .yoga-styles
                      ul.yoga-styles__list
                        li
                          a(href='#') А
                        li.active
                          a(href='#') Б
                        li
                          a(href='#') В
                        li
                          a(href='#') Г
                        li
                          a(href='#') Д
                        li
                          a(href='#') И
                        li
                          a(href='#') Й
                        li
                          a(href='#') К
                        li
                          a(href='#') М
                        li
                          a(href='#') П
                        li
                          a(href='#') Р
                        li
                          a(href='#') С
                        li
                          a(href='#') Т
                        li
                          a(href='#') У
                        li
                          a(href='#') Х
                        li
                          a(href='#') Ш
                        li
                          a(href='#') Ю
                        li
                          a(href='#') Я

                      ul.sidebar-nav
                        li
                          a(href='') Бикрам-Йога
                        li
                          a(href='') Бихарская школа йоги
                        li
                          a(href='') Бодхи-Йога
                        li
                          a(href='') Брахмачари йога
                        li
                          a(href='') Бхакти йога


                .sidebar-block
                  .social
                    include modules/social/social-buttons

                h2 Каталог товаров
                .sidebar-block
                  ul.sidebar-nav
                    li
                      a(href='') Распродажа -60%
                    li
                      a(href='') Коврики для йоги
                    li
                      a(href='') Коврики в бухтах
                    li
                      a(href='') Одежда для йоги
                    li
                      a(href='') Чехлы и сумки для клвриков
                    li
                      a(href='') Блоки, ремни, пропсы
                    li
                      a(href='') Подушки, болстеры, одеяла
                    li
                      a(href='') Массаж, спа, стоунтерапия
                    li
                      a(href='') Косметика
                    li
                      a(href='') Чай, питание, аюрведа
                    li
                      a(href='') Другие товары
                    li
                      a(href='') Реклама на сайте
                    li
                      a(href='') Все товары


    include includes/footer
