extends includes/default

block append vars
  - classPage = "page-encyclopedia-category"

block prepend title
    | Блог

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-8.col-md-8.col-sm-12.col-sx-12
              h1.page-title Асаны йоги, позы йоги, упражнения для начинающих

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .content__item
                  p В каталоге асан мы собрали самые популярные и необходимые упражнения йоги, подходящие для начинающих. Все упражнения описаны достаточно подробно. В подготовке описаний и фотографий асан йоги мы использовали рекомендации известнейшего в мире учителя йоги #[a(href="#") Б.К.С. Айенгара]. Каждую асану «пропускали через себя», чтобы дать более подробные комментарии и советы. Несмотря на это, мы настоятельно рекомендуем регулярно (хотя бы раз в неделю) посещать занятия йогой в группе, чтобы поправлять ошибки. Подходящего преподавателя и студию йоги вы легко найдете на нашей #[a(href="#") йога-карте России].


                .exercises
                  .row
                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Балансы
                        .exercises__thumb
                          img(src='../images/exercises-1.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Наклоны
                        .exercises__thumb
                          img(src='../images/exercises-2.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Перевернутые позы
                        .exercises__thumb
                          img(src='../images/exercises-3.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Позы лежа
                        .exercises__thumb
                          img(src='../images/exercises-4.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Позы сидя
                        .exercises__thumb
                          img(src='../images/exercises-5.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Позы стоя
                        .exercises__thumb
                          img(src='../images/exercises-6.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Прогибы
                        .exercises__thumb
                          img(src='../images/exercises-7.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Скручивания
                        .exercises__thumb
                          img(src='../images/exercises-8.jpg', alt='')

                    .exercises__item.col-lg-4.col-md-6.col-sm-12.col-sx-12
                      .exercises__card
                        a.exercises__absolute(href='/')
                        .exercises__block
                          h3.exercises__title Упоры на руках
                        .exercises__thumb
                          img(src='../images/exercises-9.jpg', alt='')


                .content__item
                  p Если вы решили заниматься йогой самостоятельно, вот несколько советов:
                  p Начните со стоячих поз йоги, исключив скручивания и прогибы. Ваша первая задача в йоге — научиться стоять, правильно размещая центр тяжести, выравнивая позвоночник, вытягиваясь всем телом в разные стороны. Без этого навыка выполнение сложных упражнений может нанести вам вред.
                  p Некоторые упражнения #[strong йоги для начинающих] в детальном рассмотрении, а также советы по практике от разных учителей вы найдете в разделах нашего блога «#[a(href="#") Йога для начинающих]» и «#[a(href="#") Йога решает проблемы]».

                .safety
                  h3 Техника безопасности в самостоятельных занятиях йогой:
                  ul
                    li Всегда начинайте с самого простого варианта упражнения;
                    li Равномерно чередуйте напряжение и растяжение;
                    li Чередуйте прогибы с наклонами, чтобы они компенсировали друг друга;
                    li Напрягайте руки и ноги по очереди;
                    li Не выполняйте упражнения йоги при острой боли в позвоночнике, суставах, внутренних органах;
                    li Не выполняйте сильных прогибов, поз лотоса и полулотоса, стоек на голове и лопатках без рекомендации специалиста. Эти упражнения йоги чаще всего приводят к травмам.

                  p #[strong Проконсультируйтесь с тренером]. Прежде чем приступать к практике йоги, надо быть уверенным, что вы правильно выбрали упражнения, их порядок и ритм дыхания. Помните: йога — не «просто гимнастика» и уж совсем не акробатика. Она требует разумного подхода, без спешки и лишнего рвения. Тогда она позволяет обрести здоровье и гармонию. Удачной практики!

                  h3 Ссылки по теме
                  ul
                    li #[a(href="#") Проект по Йога Асанам] — Натан Дубижанский. Перечень Асан в Йоге и их классификация по положению тела в пространстве, по алфавиту, по корневым словам, по древу эволюции.




            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .sidebar-block
                   h2 Подобрать асаны

                   .accordion(data-accordion)
                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Вид фигуры
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Санскритское название
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                     .accordion-item.show(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Перевод
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение


                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Показания
                            +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Противопоказания
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Анатомический принцип
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                   .sidebar-last
                     .sidebar-last__block
                       .sidebar-action
                         .sidebar-action__row
                           button.btn.btn-action.btn-block(type='button') Показать

                         .sidebar-action__row
                           button.btn.btn-primary.btn-block(type='button') Сбросить



    include includes/footer
