extends includes/default

block append vars
  - classPage = "page-encyclopedia-asana"

block prepend title
    | Блог

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                a(href='/') Энциклопедия
              li
                a(href='/') Асаны
              li
                span Балансы


      .container-fluid
        .container
          .row
            .col-lg-8.col-md-8.col-sm-12.col-sx-12
              h1.page-title Ардхачандрасана поза половины луны

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .alert-danger
                  a.alert-danger__close(href="#" data-close)
                    +icon('close_alert')
                  .alert-danger__title
                    +icon('danger')
                    span.text Внимание!
                  .alert-danger__text.
                    Описание упражнений ориентировано на здорового человека, знакомого с техникой
                    безопасности. Начинать занятия йогой лучше при помощи инструктора. Неумелая самостоятельная практика
                    может оказаться бесполезной и даже разрушительной для организма.

                .technique
                  .technique__teaser
                    img(src="images/encyclopedia.jpg" alt)

                  .content__item
                    h2 Техника выполнения:
                    ul.list-styled
                      li Поставить стопы параллельно.
                      li Вдоль внешнего края правой стопы провести воображаемую линию и на расстоянии 15—20 сантиметров от стопы поставить правую ладонь (опирайтесь на пальцы: мизинец ближе к стопе — большой палец на той же линии, дальше от стопы).
                      li Придерживаясь левой рукой о пол, поднять левую ногу, выпрямить ее, развернуть стопу кверху, развернуть таз влево. Сделать несколько вдохов и выдохов.
                      li Вытянуть левую руку вперед, накрыв плечом левое ухо, ладонь повернуть к полу.
                      li Взгляд направить в пол.


                  .content__item.info-block
                    .col-md-12
                      .row
                        .col-md-6
                          h2 Отстройка
                          p #[strong Стопы]: опорная стопа плотно прижата к полу, пальцы вытянуты. Верхняя стопа развернута пальцами вверх.
                          p #[strong Ноги]: опорная нога выпрямлена в колене и напряженно толкает пол. Поднятая нога располагается выше положения параллельного полу (насколько это позволяет раскрытие таза).
                          p #[strong Таз]: развернут в сторону.
                          p #[strong Грудная клетка]: максимально развернута в сторону.
                          p #[strong Руки]: опорная рука — на полу под плечевым суставом.
                          p #[strong Шея]: вытянута.
                          p #[strong Голова]: развернута к полу.

                        .col-md-6
                          h2 Тонкости
                          p Чтобы удержать баланс, найдите три опорные точки в стопе (две спереди, одна — в пятке) и плотно прижимайте их к полу.
                          p Отстраивайте асану «из центра»: толкайте пол опорной ногой из середины живота, из этой же точки начинайте вытяжение корпуса в сторону вытянутой руки и ноги.


                .content__item
                  .col-md-12
                    .row
                      .col-md-6
                        .theme-day
                          .theme-day__col
                            h4 Правильно
                              +icon('check')
                            p Располагайте тело в одной плоскости.

                        .theme-day
                          .theme-day__col
                            h4 Неправильно
                              +icon('error')
                            p Не разворачивайте таз к полу. Не поднимайте руку вверх до тех пор пока не сможете как следует развернуть грудную клетку и выпрямить опорную ногу.
                            p
                              a(data-fancybox="gallery" href="images/asana-1.jpg")
                                img(src="images/asana-1.jpg" alt="")
                            p Не отрывайте внутреннюю часть стопы от пола.
                            p
                              a(data-fancybox="gallery" href="images/asana-2.jpg")
                                img(src="images/asana-2.jpg" alt="")

                      .col-md-6
                        .instruction
                          h2.title Как облегчить
                          p Ослабленным людям можно вместо выполнять вместо Ардхачандрасаны #[a(href="#") Утхитта Триконасану] или #[a(href="#") Утхитта Паршваконасану].
                          h2.title Как углубить
                          p В наиболее интенсивном варианте Ардхачандрасаны верхняя рука вытягивается вперед и накрывает плечом затылок. Ладонь развернута к полу. В этом положении следует вытягивать все тело между рукой и ногой, располагая их на одной линии.
                          h2.title Эффект
                          p Ардхачандрасана является основным терапевтическим упражнением при повреждении подколенных связок и для профилактики, поскольку укрепляет мышцы вокруг колена. Она задействует все мышц ног, боковые мышцы тела, поясницу и даже мышцы брюшного пресса. Растягивает связки в паху и подколенные сухожилия. Улучшает координацию, снимает стресс, улучшает пищеварение.

                        .theme-day
                          .theme-day__col
                            h4 Показания
                              +icon('check')
                            p Артрит плечевых суставов, травмы поколенных связок (на стадии реабилитации), остеохондроз, заболевания желудочно-кишечного тракта, запор.

                        .theme-day
                          .theme-day__col
                            h4 Противопоказания
                              +icon('error')
                            p Слабое кровяное давление, головная боль, мигрень, диарея, бессонница.


            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .sidebar-block
                   h2 Подобрать асаны

                   .accordion(data-accordion)
                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Вид фигуры
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                          h5
                            a(href="#" data-accordion-toggle) Санскритское название
                              +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                     .accordion-item.show(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Перевод
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение


                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Показания
                            +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul.yoga-styles__list
                           li
                             a(href='#') А
                           li.active
                             a(href='#') В
                           li
                             a(href='#') И
                           li
                             a(href='#') Н
                           li
                             a(href='#') П
                           li
                             a(href='#') С

                         ul.sidebar-nav
                           li
                             a(href='') Интенсивное боковое вытягивание
                           li
                             a(href='') Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Противопоказания
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение

                     .accordion-item(data-accordion-item)
                       .accordion-header(data-accordion-header)
                         h5
                           a(href="#" data-accordion-toggle) Анатомический принцип
                             +icon('arrow')

                       .accordion-content(data-accordion-content)
                         ul
                           li
                             a(href="#") Интенсивное боковое вытягивание
                           li
                             a(href="#") Интенсивное боковое вытяжение


                   .sidebar-last
                     .sidebar-last__block
                       .sidebar-action
                         .sidebar-action__row
                           button.btn.btn-action.btn-block(type='button') Показать

                         .sidebar-action__row
                           button.btn.btn-primary.btn-block(type='button') Сбросить


                   .sidebar-block
                      .social
                        include modules/social/social-buttons

                   h2 Каталог товаров

                   .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Распродажа -60%
                        li
                          a(href='') Коврики для йоги
                        li
                          a(href='') Коврики в бухтах
                        li
                          a(href='') Одежда для йоги
                        li
                          a(href='') Чехлы и сумки для ковриков
                        li
                          a(href='') Блоки, ремни, пропсы
                        li
                          a(href='') Подушки, болстеры, одеяла
                        li
                          a(href='') Массаж, спа, стоунтерапия
                        li
                          a(href='') Косметика
                        li
                          a(href='') Чай, питание, аюрведа
                        li
                          a(href='') Другие товары
                        li
                          a(href='') Реклама на сайте
                        li
                          a(href='') Все товары




    include includes/footer
