extends includes/default

block append vars
  - classPage = "page-encyclopedia-main"

block prepend title
    | Блог

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                h1.page-title Энциклопедия йоги


                .encyclopedia
                  .row
                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Наши преимущества
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Йога означает слияние с Богом (Йо, Я, Йахве, Ягве, Иегова — в разных языках означает Бог). В тоже время йогой называют путь к этому слиянию, духовные и физические практики индуизма, буддизма и других религий Востока.

                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Как выбрать стиль йоги?
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Существуют сотни способов идти к состоянию йоги, но все они проходят через обретение здоровья и самообладания. Выбирайте стиль йоги с учетом темперамента, состояния здоровья и собственных целей.

                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Все вопросы и ответы начинающего
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Существуют сотни способов идти к состоянию йоги, но все они проходят через обретение здоровья и самообладания. Выбирайте стиль йоги с учетом темперамента, состояния здоровья и собственных целей.

                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Как открыть йога-центр?
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Существуют сотни способов идти к состоянию йоги, но все они проходят через обретение здоровья и самообладания. Выбирайте стиль йоги с учетом темперамента, состояния здоровья и собственных целей.

                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Мастера йоги
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Существуют сотни способов идти к состоянию йоги, но все они проходят через обретение здоровья и самообладания. Выбирайте стиль йоги с учетом темперамента, состояния здоровья и собственных целей.

                    .blog-card__item.col-lg-6.col-md-6.col-sm-6.col-sx-12
                      .blog-card
                        a.blog-list__absolute(href='/')
                        .blog-card__block
                          h3.blog-card__title Асаны
                        .blog-card__thumb
                          img(src='../images/news/item.jpg', alt='')
                        .blog-card__block
                          p.blog-card__text Существуют сотни способов идти к состоянию йоги, но все они проходят через обретение здоровья и самообладания. Выбирайте стиль йоги с учетом темперамента, состояния здоровья и собственных целей.




                .selected-articles
                  h2.selected-articles__title Избранные статьи

                  .row
                    .col-lg-3.col-md-6.col-sm-6.col-sx-12.article-item
                      .article-card
                        a.article-card__absolute(href="/")
                        .article-card__thumb
                          img(src="images/news/item.jpg" alt="")

                        .article-card__block
                          span.article-card__date 29 августа 2016, 11:12
                          h3.article-card__title Наши преимущества
                          p.article-card__text В наши дни в обществе много конфликтов, стресса. Социальное неравенство, отсутствие воспитания, психология потребления и мелкие конфликтные…

                    .col-lg-3.col-md-6.col-sm-6.col-sx-12.article-item
                      .article-card
                        a.article-card__absolute(href="/")
                        .article-card__thumb
                          img(src="images/news/item.jpg" alt="")

                        .article-card__block
                          span.article-card__date 29 августа 2016, 11:12
                          h3.article-card__title Пища для тела, пища для ума
                          p.article-card__text Не секрет, что в практике йоги важно правильное питание. О полезных и вредных для йога продуктах даже писал в своём знаменитом…

                    .col-lg-3.col-md-6.col-sm-6.col-sx-12.article-item
                      .article-card
                        a.article-card__absolute(href="/")
                        .article-card__thumb
                          img(src="images/news/item.jpg" alt="")

                        .article-card__block
                          span.article-card__date 29 августа 2016, 11:12
                          h3.article-card__title Йогические упражнения для суставов ног и таза
                          p.article-card__text Как увеличить подвижность суставов ног и таза для выполнения продвинутых поз йоги, в том числе сидячих? Как вылечиться а при…

                    .col-lg-3.col-md-6.col-sm-6.col-sx-12.article-item
                      .article-card
                        a.article-card__absolute(href="/")
                        .article-card__thumb
                          img(src="images/news/item.jpg" alt="")

                        .article-card__block
                          span.article-card__date 29 августа 2016, 11:12
                          h3.article-card__title Гостиная «Ханумана»: «Йога и секс на шпагате» с Оксаной Роговой
                          p.article-card__text Говорят: «йога помогает наладить сексуальную жизнь»? Такая информация приходит и от звёзд Голливуда…


            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar.offset-top
                  .sidebar-block
                    .social
                      include modules/social/social-buttons

                      .vk-block
                        script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
                        // VK Widget
                        #vk_groups
                        script(type='text/javascript').
                          VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "auto"}, 9007597);

                      br

                      .fb-block
                        #fb-root
                        script.
                          (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                            fjs.parentNode.insertBefore(js, fjs);
                          }(document, 'script', 'facebook-jssdk'));
                        .fb-page(data-href='https://www.facebook.com/ru.hanuman', data-height='261', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                          blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ru.hanuman')
                            a(href='https://www.facebook.com/ru.hanuman') Hanuman


                  .hidden-xs-down
                    h2 Каталог товаров

                    .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Распродажа -60%
                        li
                          a(href='') Коврики для йоги
                        li
                          a(href='') Коврики в бухтах
                        li
                          a(href='') Одежда для йоги
                        li
                          a(href='') Чехлы и сумки для клвриков
                        li
                          a(href='') Блоки, ремни, пропсы
                        li
                          a(href='') Подушки, болстеры, одеяла
                        li
                          a(href='') Массаж, спа, стоунтерапия
                        li
                          a(href='') Косметика
                        li
                          a(href='') Чай, питание, аюрведа
                        li
                          a(href='') Другие товары
                        li
                          a(href='') Реклама на сайте
                        li
                          a(href='') Все товары


    include includes/footer
