extends includes/default

block append vars
  - classPage = "page-event"

block prepend title
    | Event

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                  a(href='/') Энциклопедия
              li
                span Асаны


      .container-fluid
        .container
          .row
            .col-md-12
                h1.page-title Йога-тур на шри-ланку
                .date 11-21 февраля 2016

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .content-block
                  figure.figure
                    img.img-fluid(src="images/events/image.jpg" alt="")


                  .content-block__item
                    .content-block__item
                      p Шри-Ланка-райский уголок планеты, утопающий в изумрудных джунглях, идеальное место для того, чтобы привести тело и мысли в порядок, сделать перерыв посреди изнуряющей зимы, получить заряд солнца, океана и, конечно же, йоги! На Шри-Ланке интересно абсолютно все! Во-первых, пляжи и купание в океане. Закрытые бухты отлично прогреты, вода ласковая и теплая, дно твердое и песчаное, волны разбиваются о рифы поодаль, поэтому у берега можно спокойно плавать, качаться на волнах и подолгу не выходить на берег.
                      p Во-вторых, джунгли и тропические леса. Практически все отели и виллы окружены красивейшими деревьями, цветами и растениями, можно любоваться красотой природы, не покидая территории, или отправится на экскурсию в джунгли и наслаждаться потрясающими видами и удивительными представителями флоры и фауны.
                      p В-третьих, большой выбор экскурсий и просто красивых мест, которые можно посетить, находясь здесь. Вы сможете увидеть своими глазами буддийские храмы, бескрайние чайные плантации, реликтовые леса и города, сохранившие свой стиль со времен колонизаторов.
                      p Климат здесь экваториальный, теплый и влажный. Дневная температура около +30, вечером +24–26, температура воды около +26 градусов. Иногда случаются дожди и грозы, но не затяжные, и, как правило, ночью. Из-за близости к экватору солнце встает и садится весь год в одно и то же время: рассвет около 6.00, а закат начинается в 18 часов.
                      p Перелет очень комфортный, как правило, осуществляется компаниями Эмирейтс или Катар, предлагающими своим гостям высококачественный сервис на борту. Пересадки чаще всего не длиннее 1,5 часов.


                  .content-block__item.jumbotron
                      h2 Кто проводит
                      img.float-left(src="images/events/image-profile.png" alt="")
                      h3 Полуэктова Ольга
                      p Полуэктова Ольга-сертифицированный инструктор по Хатха йоге Yoga Profi. Преподает йогу с 2008 года. Прошла обучение в международной федерации йоги Патанджали (Индия) и Йога Альянс(о.Бали). В течение 2-х лет жила на юге Индии, проводила классы для русскоязычного населения, также совершенствовала свою практику. В 2013 году прошла повышение квалификации в центре подготовки инструкторов YogaProfi по программе “Хатха йога”, а также получила дополнительное образование, посетив тренинги ”Позвоночник. Ортопедическибезопасные асаны” и “Йога-практика и остеопатия". «Мой девиз: "Йога доступна каждому". Убеждена, что каждый человек может практиковать йогу, необходимо лишь желание. Регулярная практика обязательно принесет положительные изменения: вы научитесь прислушиваться к своему телу, принимать его любым, получать радость от движения. Многие задают вопрос:"А когда я смогу сесть на шпагат? Когда я смогу отключать мысли и не испытывать негатив и раздражение?" Я обычно отвечаю:"Возможно все, стоит сильно захотеть, но суть йоги не в освоении сложной асаны, а в умении выполнять действие осознанно, удерживать внимание внутри, быть здесь и сейчас. Относительно негативных эмоций - сиюминутного результата, безусловно, не ждите, но отношение ко многим вещам вокруг вас изменится непременно. Практикую мягкий, осознанный подход, детально объясняю отстройку асан, много внимания уделяю дыханию. Во время практики ориентируюсь на эмоциональное и физическое состояние группы, реализую индивидуальный подход к каждому".


                  .content-block__item.programm
                    .content-block__item
                      h2 Программа
                      p #[b 7.00-8.30] (или 6.30-8.00) Пранаяма и медитация у океана. Выполняем дыхательные техники, направленные на пробуждение и очищение, настраиваемся проживать наступающий день, получая максимум радости от каждого мгновения. Дыхание Капалабхати, Бхастрика, Сурья бхедана пранаяма и многие другие. Практка Хатха-йоги.
                      p #[b 16.30-17.30] Медитация и пранаяма. Учимся выполнять техники, помогающие дышать максимально глубоко и полно, активизирующие окислительно-восстановительные процессы. Изучаем техники, помогающие бороться с волнением и тревогой, снижающие уровень гормона стресса. Учимся концентрировать и удерживать внимание с помощью визуализации, отпускать мысли и успокаивать ум. Дыхание Уджайи, Вилома пранаяма, кумбхаки, бандхи и многие другие техники.
                      p #[b 17.30-18.30] Вечерняя практика Хатха йоги. Практика на закате более глубокая и статичная, тело в течение дня хорошо разогревается, мышцы и связки становятся мягче и податливей, благодаря чему можно достичь максимального раскрытия. Глубокая шавасана в конце занятия включает процессы расслабления, настраивает на отдых и хороший сон.
                      p Кроме того, нас ждут увлекательные беседы-лекции о йоге за чашкой великолепного цейлонского чая.

                  .content-block__item.gallery
                    .gallery__item
                      a(data-fancybox="gallery" href="images/event-img-1.jpg")
                        img(src="images/event-img-1.jpg" alt)
                    .gallery__item
                      a(data-fancybox="gallery" href="images/event-img-2.jpg")
                        img(src="images/event-img-2.jpg" alt)
                    .gallery__item
                      a(data-fancybox="gallery" href="images/event-img-3.jpg")
                        img(src="images/event-img-3.jpg" alt)

                  .content-block__item.price-block
                    .content-block___item
                      h2 Стоимость
                      p #[b Авиабилеты Москва-Коломбо-Москва] 11.01.16-21.01.16 и 19.02.16-29.02 31000 руб. Время в пути 11 часов.
                      p #[b Виза: 30 долларов, 1800 руб]. Ставится по прилету в аэропорту. Есть возможность оплатить визу заранее, заполнив электронную форму. После вам нужно лишь распечатать бумажный вариант визы и показать его сотрудникам пограничной службы.
                      p #[b Трансфер до отеля и обратно 3000 руб]. с человека, время в пути 2 часа.
                      p #[b Размещение: 2000 руб. в день на человека] при двухместном размещении. В номере 2 раздельные кровати, кондиционер, душ и туалет.
                      p #[b 20 000 руб. за 10 дней]. Возможно одноместное размещение, 3000 руб. в день.
                      p #[b Йога-программа: 10 000 руб].
                      p #[b Итого: 65 800 руб. или 62 500 руб]. при покупке авиабилета по акции Air Arabia.


                  .content-block__item.contact-block
                    .content-block__item
                      h2 Контакты
                      p #[b Номер телефона]: +7 (499) 391-31-40
                      p #[b Email]: #[a(href="mailto:info@yogaprofi.ru") info@yogaprofi.ru]


                  .content-block__item.info-block
                    .content-block__item
                      h2 Дополнительная информация
                      h3 Где мы будем жить и заниматься?
                      p Проживание в небольшом уютном отеле Ocean Reach Holiday 3* с тропическим садом и закрытой территорией в 1 минуте неспешной ходьбы от океана. Отель имеет высокий рейтинг и большое количество положительных отзывов на TripAdvisor,также участники предыдущего тура на Шри-Ланку с радостью поделятся с вами впечатлением, контакты предоставляются по запросу.
                      p Отель расположен в самом живописном местечке Шри-Ланки, в бухте Мирисса. Здесь тонкий белый песок, изящные кокосовые пальмы и небесного цвета океан. Множество кафе и ресторанчиков, столики и шезлонги расположены прямо у кромки воды, можно лениво потягивать свежевыжатый тропически сок, читать книгу или наблюдать за трюками серферов, которые уплывают далеко в океан в поисках волны. В Мириссе есть две лагуны, поэтому каждый найдет пляж по своему вкусу. Одна из бухт закрыта рифами, поэтому вода здесь спокойная, что очень нравится любителям заплывов. В шаговой доступности расположена вторая, с волнами, на которых так приятно качаться! В Мириссе также есть вся необходимая инфраструктура: магазинчики, фруктовые лавки, точки мобильной связи, сувениры. В 10 км расположен довольно крупный город Матара, куда легко добраться на тук-туке или муниципальном автобусе. Здесь вы сможете ощутить весь азиатский колорит, увидеть яркую разнообразную жизнь, посетить большой рынок, современный и стильный супермаркет Арпико, погулять в старом форте, купить лотосы и обжигающую острую еду у уличных торговцев.
                      p Наш отель представляет собой уютное пространство, где есть все необходимое для комфортного пребывания: горячая вода и туалет в каждой комнате, кондиционер и вентилятор, холодильник, wi-fi, пляжные полотенца. Смена постельного белья и полотенец по требованию, хоть каждый день, регулярная уборка. В саду стоят стулья и столы, есть ресторанчик на свежем воздухе, где можно посидеть, отдохнуть, поработать за ноутбуком, если необходимо. Хозяин отеля очень радушный и гостеприимный, старается сделать пребывание в отеле максимально комфортным, поэтому персонал обязательно сделает все возможное, чтобы удовлетворить самого взыскательного гостя. Практика Хатха йоги будет проходить на площадке на территории на территории отеля, а в утреннее время на берегу океана, пока безлюдно и можно насладиться свежестью бриза и красотой пробуждающейся природы.

                      h3 Как мы будем питаться?
                      p Завтрак входит в стоимость тура. В Мириссе есть большое количество кафе и ресторанчиков, где можно недорого и вкусно обедать и ужинать. Ланкийская кухня, правда, не балует разнообразием: как правило, это традиционный рис, овощи и курица карри, лапша с овощами или курицей, лепешки ротти, фаршированные сыром или другими ингредиентами, сладкие блины с бананом, кокосом или медом. Блюда довольно острые, но всегда можно попросить сделать по вашему вкусу. Владельцы кафе с радостью приготовят для вас некоторые блюда европейской кухни: омлет, яичница с тостами, супы, паста, рыба и морепродукты. Всегда в меню свежевыжатые соки, превосходный цейлонский чай. " Недалеко есть продуктовые магазины популярной сети Food City, правда стоит учитывать, что из-за островного расположения страны цены на импортную продукцию довольно высокие, поэтому выгоднее приобретать продукты местного производства: овощи, фрукты, рис, макаронные изделия, рыбу, морепродукты и т.д.
                      p Стоимость обеда и ужина зависит от ваших пожеланий: суп, порция риса или лапши с овощами или курицей, напиток стоят около 600 рупий. Порции большие, поэтому, как правило, достаточно одного блюда. Рис с любыми наполнителями-250 рублей. Картофельное рагу «Чопсаи» с овощами или мясом стоит также около 250 руб. Рыба от 700 до 1000 рублей за целую, гарнир и салат входят в стоимость. Вы можете ежедневно покупать тропические фрукты, персонал отеля с радостью почистит и порежет их для вас.

                      h3 Курс валюты.
                      p Местная валюта — Ланкийская рупия, 100 долларов США = 14100 рупий. Для того, чтобы быстро перевести цену в российские рубли, нужно поделить цену в рупиях на 2.

                  .comments.
                    <!-- Put this script tag to the <head> of your page -->
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

                    <script type="text/javascript">
                      VK.init({apiId: API_ID, onlyWidgets: true});
                    </script>

                    <!-- Put this div tag to the place, where the Comments block will be -->
                    <div id="vk_comments"></div>
                    <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
                    </script>



                .events
                  h2 Ближайшие семинары в этом месте

                  .events-items
                    .row
                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-1.jpg', alt='')
                              .events-content
                                .events-title
                                  | «Использование мышечно-фасциальных цепей и нейропсихотерапевтических инструментов в практике Аштанга йоги», семинар
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-2.jpg', alt='')
                              .events-content
                                .events-title
                                  | Йога лагерь
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-3.jpg', alt='')
                              .events-content
                                .events-title
                                  | Йога-ретрит в горах Красной Поляны
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-4.jpg', alt='')
                              .events-content
                                .events-title
                                  | Курс инструкторов женской йоги онлайн
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-5.jpg', alt='')
                              .events-content
                                .events-title
                                  | «Грузия: Батуми, Сванетия, Казбеги», йога-путешествие
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                  h2 Другие семинары по Хатха йоге

                  .events-items
                    .row
                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-1.jpg', alt='')
                              .events-content
                                .events-title
                                  | «Использование мышечно-фасциальных цепей и нейропсихотерапевтических инструментов в практике Аштанга йоги», семинар
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-2.jpg', alt='')
                              .events-content
                                .events-title
                                  | Йога лагерь
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-3.jpg', alt='')
                              .events-content
                                .events-title
                                  | Йога-ретрит в горах Красной Поляны
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                      .events-items__item.col-md-12.col-sm-6.col-xs-12
                        .events-items__article
                          .row
                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                              .events-thumb.hidden-sm-up
                                a(href='/')
                                  img.img-responsive(src='../images/events/event-4.jpg', alt='')
                              .events-content
                                .events-title
                                  | Курс инструкторов женской йоги онлайн
                                .date 12–14 августа
                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                              a.events-items__lnk(href='#') Санкт-Петербург
                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                              .events-items__lnks
                                | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]



            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-sm-down
              .sidebar
                .sidebar-block
                  .social
                    include modules/social/social-buttons

                h2 Каталог товаров

                .sidebar-block
                  ul.sidebar-nav
                    li
                        a(href='') Распродажа -60%
                    li
                        a(href='') Коврики для йоги
                    li
                        a(href='') Коврики в бухтах
                    li
                        a(href='') Одежда для йоги
                    li
                        a(href='') Чехлы и сумки для клвриков
                    li
                        a(href='') Блоки, ремни, пропсы
                    li
                        a(href='') Подушки, болстеры, одеяла
                    li
                        a(href='') Массаж, спа, стоунтерапия
                    li
                        a(href='') Косметика
                    li
                        a(href='') Чай, питание, аюрведа
                    li
                        a(href='') Другие товары
                    li
                        a(href='') Реклама на сайте
                    li
                        a(href='') Все товары


    include includes/footer
