extends includes/default

block append vars
  - classPage = "page-faq-question"

block prepend title
    | Задайте свой вопрос

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-8.col-md-8.col-sm-12.col-sx-12
              h1.page-title Задайте свой вопрос

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .faq-question.col-lg-11.col-md-12
                  .faq-question__content На все ваши вопросы отвечают практикующие тренеры по йоге. Мы ответим на ваш вопрос и вы получите ответ в письме. Самые интересные вопросы будут выложены в раздел Вопросы и ответы на Хануман.ру

                  form.faq-question__form(data-validate="faq-question")
                    .row
                      .col-lg-8.col-lg-12
                        .row
                          .form-group.col-lg-12
                            .row
                              .col-lg-4.col-md-12
                                label.form-control-label Ваше имя
                                .input
                                  input.form-control(type="text" data-name="name" name="text" placeholder="Например: Влад" required)
                                  .form__errors

                          .form-group.col-lg-12
                            .row
                              .col-lg-4.col-md-12
                                label.form-control-label Эл. почта
                                  span Не публикуется
                                .input
                                  input.form-control(type="email" data-name="email" name="email" placeholder="Например: vlad19@gmail.com" required)
                                  .form__errors

                          .form-group.col-lg-12
                            .row
                              .col-lg-8.col-md-12
                                label.form-control-label Ваш вопрос
                                .textarea
                                  textarea.form-control(placeholder="Ваш комментарий")

                          .form-action.col-lg-12
                            .row
                              .col-lg-4.col-md-12
                                button.btn.btn-action.btn-block(type="button") Отправить


            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .sidebar-block.hidden-sm-down
                    .filter
                      .filter-item
                        ul.type
                          li
                            a(href='#') Общие вопросы
                          li.active
                            a(href='#') Занятие йогой
                          li
                            a(href='#') Йога и здоровье


                  .sidebar-block
                    ul.help-list
                      li.help-list__subscribe
                        a(href="#") Подпишитесь на еженедельную рассылку о йоге
                          span.help-list__icon
                            +icon('big-mail')


                  .sidebar-block
                    .social
                      include modules/social/social-buttons

                  h2 Каталог товаров

                  .sidebar-block
                    ul.sidebar-nav
                      li
                        a(href='') Распродажа -60%
                      li
                        a(href='') Коврики для йоги
                      li
                        a(href='') Коврики в бухтах
                      li
                        a(href='') Одежда для йоги
                      li
                        a(href='') Чехлы и сумки для ковриков
                      li
                        a(href='') Блоки, ремни, пропсы
                      li
                        a(href='') Подушки, болстеры, одеяла
                      li
                        a(href='') Массаж, спа, стоунтерапия
                      li
                        a(href='') Косметика
                      li
                        a(href='') Чай, питание, аюрведа
                      li
                        a(href='') Другие товары
                      li
                        a(href='') Реклама на сайте
                      li
                        a(href='') Все товары



    include includes/footer
