extends includes/default

block append vars
  - classPage = "page-faq"

block prepend title
    | Вопросы и ответы

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-8.col-md-8.col-sm-12.col-sx-12
              h1.page-title Вопросы и ответы

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                h2 Общие вопросы

                .accordion(data-accordion)
                  .accordion-item(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) А я не попаду в секту?
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.


                  .accordion-item(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) Что такое Капалабхати и как его выполнять?
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.



                  .accordion-item.show(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) Что такое мантры и зачем их петь?
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.



                  .accordion-item(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) Что такое Раджа йога?
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.


                  .accordion-item(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) Что такое Хатха йога?
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.



                  .accordion-item(data-accordion-item)
                    .accordion-header(data-accordion-header)
                      h5
                        a(href="#" data-accordion-toggle) Что такое Яма и Нияма
                          +icon('arrow')

                    .accordion-content(data-accordion-content)
                      h3 Проще всего найти йога-центр #[a(href="#") на интерактивной йога-карте].
                      p Вам достаточно указать, где вы находитесь, — и инструмент поиска покажет все йога-центры поблизости, отсортировав их по степени удаленности. Вы также можете задать приемлемую стоимость занятия и стиль йоги. Тогда карта покажет, где находятся йога-центры, которые вы ищете. Мы ежедневно пополняем базу данных йога-центров, залов йоги и фитнес-центров, где проходят занятия по йоге в разных городах нашей страны.
                      h3 Чтобы выбрать стиль йоги, загляните в раздел «Стили йоги».
                      p Здесь мы описали наиболее популярные стили йоги в России. В каждой статье мы указали уровень сложности занятий и высказали наши предположения – каким людям эти занятия подходят, а каким – не очень. Для экономии времени, Вы также можете прочесть инструкцию – как выбрать стиль йоги для себя.
                      h3 Где еще искать место для занятия йогой?
                      p Если вашего города еще нет на нашей йога-карте, не отчаивайтесь! Сегодня йогу преподают практически в каждом фитнес-центре. Но, если вы решили заняться йогой всерьез, а не раз в две недели, в промежутках между танцами и тренажерным залом, то лучше поискать специализированный йога-центр. Занятия йогой требуют хорошей концентрации, а это трудно доступно, если в соседнем зале под громкую музыку проводится степ-аэробика.
                      p Задавшись целью – будьте уверены! - вы очень скоро найдете учителя. Когда это случится, мы будем вам очень благодарны, если вы отметите новый центр йоги на нашей йога-карте. Тогда другим жителям вашего города будет легче найти йогу.





            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .sidebar-block
                    .filter
                      .filter-item
                        ul.type
                          li
                            a(href='#') Общие вопросы
                          li.active
                            a(href='#') Занятие йогой
                          li
                            a(href='#') Йога и здоровье


                  .sidebar-block
                    ul.help-list
                      li.help-list__question
                        a(href="#") Задайте свой вопрос
                          span.help-list__icon
                            +icon('question')
                      li.help-list__subscribe
                        a(href="#") Подпишитесь на еженедельную рассылку о йоге
                          span.help-list__icon
                            +icon('big-mail')


                  .sidebar-block
                    .social
                      include modules/social/social-buttons

                  h2 Каталог товаров

                  .sidebar-block
                    ul.sidebar-nav
                      li
                        a(href='') Распродажа -60%
                      li
                        a(href='') Коврики для йоги
                      li
                        a(href='') Коврики в бухтах
                      li
                        a(href='') Одежда для йоги
                      li
                        a(href='') Чехлы и сумки для ковриков
                      li
                        a(href='') Блоки, ремни, пропсы
                      li
                        a(href='') Подушки, болстеры, одеяла
                      li
                        a(href='') Массаж, спа, стоунтерапия
                      li
                        a(href='') Косметика
                      li
                        a(href='') Чай, питание, аюрведа
                      li
                        a(href='') Другие товары
                      li
                        a(href='') Реклама на сайте
                      li
                        a(href='') Все товары



    include includes/footer
