doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='robots', content='noindex, follow')
        title GUI - Hanuman
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/font-awesome.css')
        link(rel='stylesheet', href='../css/styles.css')
    body
        .navigation
            .container
                ul.navtop.clearfix
                    li.navtop__item
                        a.navtop__link.navtop__link--dropdown(href='/')
                            span.text Магазин
                            i.navtop__arr.fa.fa-chevron-down(aria-hidden='true')
                        ul
                            li
                                a(href='') Распродажа -60%
                            li
                                a(href='') Коврики для йоги
                            li
                                a(href='') Коврики в бухтах
                            li
                                a(href='') Чехлы и сумки для клвриков
                            li
                                a(href='') Блоки, ремни, пропсы
                            li
                                a(href='') Подушки, болстеры, одеяла
                            li
                                a(href='') Массаж, спа, стоунтерапия
                            li
                                a(href='') Косметика
                            li
                                a(href='') Чай, питание, аюрведа
                            li
                                a(href='') Другие товары
                            li
                                a(href='') Реклама на сайте
                            li
                                a(href='') Все товары
                    li.navtop__item
                        a.navtop__link.navtop__link--dropdown(href='/')
                            span.text Оптом
                            i.navtop__arr.fa.fa-chevron-down(aria-hidden='true')
                        ul
                            li
                                a(href='') Распродажа -60%
                            li
                                a(href='') Коврики для йоги
                            li
                                a(href='') Коврики в бухтах
                            li
                                a(href='') Чехлы и сумки для клвриков
                            li
                                a(href='') Блоки, ремни, пропсы
                            li
                                a(href='') Подушки, болстеры, одеяла
                            li
                                a(href='') Массаж, спа, стоунтерапия
                            li
                                a(href='') Косметика
                            li
                                a(href='') Чай, питание, аюрведа
                            li
                                a(href='') Другие товары
                            li
                                a(href='') Реклама на сайте
                            li
                                a(href='') Все товары
                    li.navtop__item
                        a.navtop__link.navtop__link--dropdown(href='/')
                            span.text Йога-карта
                            i.navtop__arr.fa.fa-chevron-down(aria-hidden='true')
                        ul
                            li
                                a(href='') Распродажа -60%
                            li
                                a(href='') Коврики для йоги
                            li
                                a(href='') Коврики в бухтах
                            li
                                a(href='') Чехлы и сумки для клвриков
                            li
                                a(href='') Блоки, ремни, пропсы
                            li
                                a(href='') Подушки, болстеры, одеяла
                            li
                                a(href='') Массаж, спа, стоунтерапия
                            li
                                a(href='') Косметика
                            li
                                a(href='') Чай, питание, аюрведа
                            li
                                a(href='') Другие товары
                            li
                                a(href='') Реклама на сайте
                            li
                                a(href='') Все товары
                    li.navtop__item
                        a.navtop__link(href='/')
                            span.text Семинары
                    li.navtop__item
                        a.navtop__link(href='/')
                            span.text Блог
                    li.navtop__item
                        a.navtop__link.navtop__link--dropdown(href='/')
                            span.text Энциклопедия
                            i.navtop__arr.fa.fa-chevron-down(aria-hidden='true')
                        ul
                            li
                                a(href='') Распродажа -60%
                            li
                                a(href='') Коврики для йоги
                            li
                                a(href='') Коврики в бухтах
                            li
                                a(href='') Чехлы и сумки для клвриков
                            li
                                a(href='') Блоки, ремни, пропсы
                            li
                                a(href='') Подушки, болстеры, одеяла
                            li
                                a(href='') Массаж, спа, стоунтерапия
                            li
                                a(href='') Косметика
                            li
                                a(href='') Чай, питание, аюрведа
                            li
                                a(href='') Другие товары
                            li
                                a(href='') Реклама на сайте
                            li
                                a(href='') Все товары
        .container
            .row
                .col-lg-12
                    .col-lg-4
                        ul.sidebar-nav
                            li
                                a(href='') Распродажа -60%
                            li
                                a(href='') Коврики для йоги
                            li
                                a(href='') Коврики в бухтах
                            li
                                a(href='') Чехлы и сумки для клвриков
                            li
                                a(href='') Блоки, ремни, пропсы
                            li
                                a(href='') Подушки, болстеры, одеяла
                            li
                                a(href='') Массаж, спа, стоунтерапия
                            li
                                a(href='') Косметика
                            li
                                a(href='') Чай, питание, аюрведа
                            li
                                a(href='') Другие товары
                            li
                                a(href='') Реклама на сайте
                            li
                                a(href='') Все товары
                    .col-lg-8
                        .product-sizes
                            .product-sizes__title
                                span Размер
                                span Обхват бедер
                            .product-sizes__content
                                .sizes.clearfix
                                    label.size-item
                                        input.size-control(type='radio', name='s')
                                        span.size-box
                                            span.size-title XS
                                            span.size-size 86-90
                                    label.size-item
                                        input.size-control(type='radio', name='s', disabled='')
                                        span.size-box
                                            span.size-title S/42
                                            span.size-size 90-94
                                    label.size-item
                                        input.size-control(type='radio', name='s')
                                        span.size-box
                                            span.size-title M
                                            span.size-size 94-98
                                    label.size-item
                                        input.size-control(type='radio', name='s', disabled='')
                                        span.size-box
                                            span.size-title L
                                            span.size-size 98-102
                                    label.size-item
                                        input.size-control(type='radio', name='s')
                                        span.size-box
                                            span.size-title XL
                                            span.size-size 102-106
                                a(href='/') Как выбрать?
                        .product-colors
                            .product-colors__title
                                span Цвет
                            .product-colors__content
                                .gamma
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-1.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-2.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-3.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-4.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-5.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-6.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-7.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-8.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-9.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-10.png');")
                                    label.gamma-item
                                        input(type='radio', name='c')
                                        span.gamma-box(style="background-image: url('../images/colors/color-11.png');")
                                    label.gamma-item
                                        input(type='radio', name='c', disabled='')
                                        span.gamma-box(style="background-image: url('../images/colors/color-12.png');")
                                    label.gamma-item
                                        input(type='radio', name='c', disabled='')
                                        span.gamma-box(style="background-image: url('../images/colors/color-13.png');")
                                    label.gamma-item
                                        input(type='radio', name='c', disabled='')
                                        span.gamma-box(style="background-image: url('../images/colors/color-14.png');")
                        .product-actions
                            .product-status
                                span.product-status__available
                                    | В наличии
                                span.product-status__not-available
                                    | Нет в наличии
                            .product-notify
                                | Добавлено в корзину
                            .row
                                .col-lg-6
                                    button.btn.btn-action.product-actions__add(type='button', onclick='Buy()')
                                        span.btn__cart
                                            i.fa.fa-shopping-cart.icon(aria-hidden='true')
                                        |                                 В корзину
                                    .quantity(data-id='quantity')
                                        .quantity-box
                                            span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                            input.quantity-input(type='text', value='2')
                                            span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                    .product-price__total
                                        i.icon.icon-candy
                                        |                                 Сумма 2 528
                                        span.rub
                                    .product-bonus
                                        | Вы получите
                                        span 126 бонусов
                                .col-lg-6
                                    button.btn.btn-primary.product-actions__oneclick(type='button', disabled='', onclick='BuyOneClick()') Купить в 1 клик
                .col-lg-12
                    h4 Кнопки
                    button.btn.btn-primary(type='button') Показать
                    button.btn.btn-action(type='button') Сбросить
                .col-lg-12
                    h4 Фильтр
                    .col-lg-4
                        .block-content
                            .block-title Одежда для йоги
                            .filter
                                .filter-item
                                    .filter-title Категория
                                    ul.category
                                        li.active
                                            a(href='#') Женская одежда
                                        li
                                            a(href='#') Мужская одежда
                                    .filter-title Тип
                                    ul.type
                                        li
                                            a(href='#') Верх
                                        li.active
                                            a(href='#') Низ
                                        li
                                            a(href='#') Комбинезоны
                                .filter-item
                                    .filter-title Размер
                                    ul.size
                                        li
                                            a(href='#') XS
                                        li.active
                                            a(href='#') S
                                        li
                                            a(href='#') M
                                        li
                                            a(href='#') L
                                        li
                                            a(href='#') XL
                                .filter-item
                                    .filter-title Цена
                                    ul.price
                                        li
                                            a(href='#') 0 — 1 000
                                        li
                                            a(href='#') 1 000 — 2 000
                                        li
                                            a(href='#') 2 000 — 3 000
                                        li
                                            a(href='#') от 3 000
                                .filter-actions
                                    button.btn.btn-action(type='button') Показать
                                    button.btn.btn-primary(type='button') Сбросить
                    .col-lg-8
                        .sort
                            span.sort-title Сортировать по:
                            ul#sort.sort-list
                                li
                                    a(href='#') Цене
                                li.active
                                    a(href='#') Популярности
                                li
                                    a(href='#') Новизне
                                li
                                    a(href='#') Акциям
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li.active
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a(href='#') 5
                            li
                                a(href='#') Последняя
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src='../libs/bxslider-4/dist/jquery.bxslider.min.js')
        script(src='../libs/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
        script(src='../libs/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
        script(src='../js/main.js')
        script(src='../js/ajax.js')