extends includes/default

block prepend title
    | Чеклист

block content

    .container-fluid
      .container
          h2 Checklist

          ol
            li
              a(href="main.html") Main
            li
              a(href="catalog-category.html") Catalog Category
            li
              a(href="catalog.html") Catalog
            li
              a(href="item.html") Item
            li
              a(href="item-to-cart.html") Item To Cart
            li
              a(href="item-not-avalible.html") Item Not Avalible
            li
              a(href="cart.html") Cart
            li
              a(href="checkout.html") Checkout
            li
              a(href="blog.html") Blog
            li
              a(href="blog-inside.html") Blog Inside
            li
              a(href="encyclopedia-main.html") Encyclopedia Main
            li
              a(href="encyclopedia-category.html") Encyclopedia Category
            li
              a(href="encyclopedia-list-of-asanas.html") Encyclopedia List Of Asanas
            li
              a(href="encyclopedia-asana.html") Encyclopedia Asana
            li
              a(href="encyclopedia-yoga-styles.html") Encyclopedia Yoga Styles
            li
              a(href="add-yoga-studio.html") Add Yoga Studio
            li
              a(href="add-yoga-studio2.html") Add Yoga Studio2
            li
              a(href="yoga-events.html") Yoga Events
            li
                a(href="events.html") Event
            li
                a(href="faq.html") FAQ
            li
              a(href="faq-question.html") FAQ Question
            li
                a(href="music.html") Music
            li
                a(href="opt.html") Opt
            li
              a(href="opt-cart.html") Opt Cart
            li
              a(href="representatives.html") Representatives
            li
              a(href="reviews.html") Reviews
            li
              a(href="text.html") Text
            li
              a(href="yoga-map-city.html") Yoga Map City
            li
                a(href="yoga-map-russia.html") Yoga Map Russia
