extends includes/default

block append vars
  - classPage = "page-product"

block prepend title
    | Карточка товара

block content
    include includes/header

    main.page-section
        .page-section-top
            .container-fluid
                .container
                    .col-inner
                        ul.breadcrumb
                            li
                                a(href='#') Главная
                            li
                                a(href='#') Магазин
                            li
                                a(href='#') Одежда для йоги
                            li
                                a(href='#') Женская одежда
                            li
                                a(href='#') Низ
                            li
                                span Лосины


        .product-single
            .product-main
                .container-fluid
                    .container
                        .row
                            .product-container
                                .product-head.col-md-6.col-sm-12
                                    .row
                                        h1.product-head__title Лосины простые

                                .product-image.clearfix.col-md-6.col-sm-12
                                    include modules/slider/product

                                .product-inner.column-content.col-md-6.offset-md-6.offset-sm-0
                                    .product-inside
                                        .product-short
                                            p Эта модель — непререкаемая классика. Анатомический крой в ней отлично сочетается с высококачественной тканью (хлопок с небольшим добавлением эластана), которая не только отлично впитывает пот, но и позволяет коже дышать, что обеспечивает ее здоровье. И в то же время ее эластичность предотвращает вытяжение «коленок» и сохраняет форму лосин на долгое время.
                                            p Яркий цвет этих лосин сделают их украшением вашего тренировочного гардероба. И можете не волноваться — краски не потускнеют и не вылиняют даже после большого числа стирок.

                                        hr

                                        .product-sizes
                                            .product-sizes__title
                                                span Размер
                                                span Обхват бедер

                                            .product-sizes__content
                                                .sizes.clearfix
                                                    label.size-item
                                                        input.size-control(type='radio', name='s')
                                                        span.size-box
                                                            span.size-title XS
                                                            span.size-size 86-90
                                                    label.size-item
                                                        input.size-control(type='radio', name='s', disabled='')
                                                        span.size-box
                                                            span.size-title S/42
                                                            span.size-size 90-94
                                                    label.size-item
                                                        input.size-control(type='radio', name='s')
                                                        span.size-box
                                                            span.size-title M
                                                            span.size-size 94-98
                                                    label.size-item
                                                        input.size-control(type='radio', name='s', disabled='')
                                                        span.size-box
                                                            span.size-title L
                                                            span.size-size 98-102
                                                    label.size-item
                                                        input.size-control(type='radio', name='s')
                                                        span.size-box
                                                            span.size-title XL
                                                            span.size-size 102-106
                                                a(href='#' data-popup="howtochoose") Как выбрать?

                                                #howtochoose.popup
                                                    .popup-content
                                                        .howtochoose
                                                            .vector
                                                                +icon('girl')

                                                            ol
                                                                li Измерьте обхват бедер, как показано на рисунке
                                                                li Выберите размер, который соответствует вашему обхвату бедер
                                                                li Если сомневаетесь — позвоните нашему консультанту#[br](800) 775-87-31

                                        .product-colors
                                            .product-colors__title
                                                span Цвет

                                            .product-colors__content
                                                .gamma
                                                    label.gamma-item
                                                        input(type='radio', name='c')
                                                        span.gamma-box
                                                            span.gamma-box__color(style="background-image: url('../images/colors/color-1.png');")
                                                    label.gamma-item
                                                        input(type='radio', name='c', disabled='')
                                                        span.gamma-box
                                                            span.gamma-box__color(style="background-image: url('../images/colors/color-2.png');")
                                                    label.gamma-item
                                                        input(type='radio', name='c', disabled='')
                                                        span.gamma-box
                                                            span.gamma-box__color(style="background-image: url('../images/colors/color-3.png');")
                                                    label.gamma-item
                                                        input(type='radio', name='c')
                                                        span.gamma-box
                                                            span.gamma-box__color(style="background-image: url('../images/colors/color-4.png');")

                                        .product-actions
                                            .product-status
                                                span.product-status__not-available
                                                    | Нет в наличии
                                            .row
                                                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                                    button.btn.btn-action.product-actions__add(type='button', disabled='')
                                                        span.btn-action__icon
                                                          +icon('cart')
                                                        | В корзину

                                                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                                    button.btn.btn-primary.product-actions__oneclick(type='button' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик


        .product-description
            .container-fluid
                .container
                    .col-md-12
                        .row.col-inner
                            .product-info.clearfix(data-accordion)
                                .product-info__wrap.row
                                    .col-lg-8.col-md-12.col-sm-12.col-sx-12.product-info__column
                                        ul.nav-tabs.clearfix
                                            li.active
                                                a(href='#tab-1', data-toggle='tab') Описание
                                            li
                                                a(href='#tab-2', data-toggle='tab') Видео
                                            li
                                                a(href='#tab-3', data-toggle='tab') Отзывы
                                            li
                                                a(href='#tab-4', data-toggle='tab') Оптом

                                        .tab-content.tab-content--left.offset-right
                                            .tab-content__inner
                                                #tab-1.tab-content__item.active
                                                    include modules/tabs/tab-1

                                                #tab-2.tab-content__item
                                                    include modules/tabs/tab-2

                                                #tab-3.tab-content__item
                                                    include modules/tabs/tab-3

                                                #tab-4.tab-content__item
                                                    include modules/tabs/tab-4


                                    .col-lg-4.col-md-12.col-sm-12.col-sx-12.product-info__column
                                        ul.nav-tabs.clearfix
                                            li.active
                                                a(href='#tab-5', data-toggle='tab') Оплата
                                            li
                                                a(href='#tab-6', data-toggle='tab') Доставка

                                        .tab-content.tab-content--right
                                            .tab-content__inner
                                                #tab-5.tab-content__item.active
                                                    include modules/tabs/tab-5

                                                #tab-6.tab-content__item
                                                    include modules/tabs/tab-6

        .product-recommend
            .container-fluid
                .container
                    .col-md-12
                        h2 С этим товаром покупают

                        .row.col-inner
                            .catalog
                                .row
                                    .catalog__item.col-lg-3.col-md-3.col-sm-4.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-1.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Кайлаш»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub



                                    .catalog__item.col-lg-3.col-md-3.col-sm-4.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Эко про»

                                            .card-price
                                                span.card-price__true
                                                    | 5 999
                                                    i.rub

                                    .catalog__item.col-lg-3.col-md-3.col-sm-4.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-3.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Кайлаш»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub


                                    .catalog__item.col-lg-3.col-md-3.col-sm-4.col-xs-6
                                        .card
                                            a.card-absolute(href='/')
                                            .card-thumb
                                                img.card-img-top(src='../images/catalog/item-4.jpg', alt='')
                                            .card-block
                                                .card-buy
                                                    a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                                a.card-link(href='/') Коврик для йоги «Аштанга колор»

                                            .card-price
                                                span.card-price__true
                                                    | 2 849
                                                    i.rub



    include includes/footer
