extends includes/default

block append vars
  - classPage = "page-main"

block prepend title
    | Главная

block content
    include includes/header

    main.page-section
        .container-fluid
            .container
                .row
                    .col-lg-9.col-md-12.col-sm-12.main-content
                        .description
                            .content-block
                                .content-block__item
                                    h1.page-title В нашем магазине есть все необходимое для занятий йогой
                                    p Большой выбор #[a(href='') ковриков для йоги], #[a(href='') одежды для йоги], #[a(href='') косметики] и #[a(href='') других товаров] на любой вкус и кошелек. Отличный сервис, быстрая доставка.

                                .content-block__item
                                    h2 Коврики для йоги
                                    p Ваш незаменимый помощник в практике йоги. У нас есть коврики на любой вкус: #[a(href='') доступные], #[a(href='') нескользящие], #[a(href='') женские].

                        .catalog-list
                            .row
                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-1.jpg', alt='')

                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Кайлаш» Коврик для йоги «Кайлаш»

                                        .card-price
                                            span.card-price__true
                                                | 2 849
                                                i.rub



                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Эко про»

                                        .card-price
                                            span.card-price__true
                                                | 5 999
                                                i.rub

                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-3.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Кайлаш»

                                        .card-price
                                            span.card-price__true
                                                | 2 849
                                                i.rub


                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-4.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Аштанга колор»

                                        .card-price
                                            span.card-price__true
                                                | 2 849
                                                i.rub


                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-1.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Кайлаш»

                                        .card-price
                                            span.card-price__true
                                                | 2 849
                                                i.rub

                                .catalog__item.col-lg-4.col-md-4.col-sm-6.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Эко про»

                                        .card-price
                                            span.card-price__true
                                                | 5 999
                                                i.rub


                                .col-lg-12.catalog__actions
                                    .row.clearfix
                                        .col-lg-4.col-md-4.col-sm-6.col-xs-12
                                            a.btn.btn-action.btn-block(href='') Все коврики


                    .col-lg-3.col-md-12.sidebar
                        .row
                            .col-lg-12.col-md-4.col-sm-6.sidebar-content
                                h2 Каталог товаров
                                .sidebar-block
                                    ul.sidebar-nav
                                        li
                                            a(href='') Распродажа -60%
                                        li
                                            a(href='') Коврики для йоги
                                        li
                                            a(href='') Коврики в бухтах
                                        li
                                            a(href='') Чехлы и сумки для ковриков
                                        li
                                            a(href='') Блоки, ремни, пропсы
                                        li
                                            a(href='') Подушки, болстеры, одеяла
                                        li
                                            a(href='') Массаж, спа, стоунтерапия
                                        li
                                            a(href='') Косметика
                                        li
                                            a(href='') Чай, питание, аюрведа
                                        li
                                            a(href='') Другие товары
                                        li
                                            a(href='') Реклама на сайте
                                        li
                                            a(href='') Все товары


                            .col-lg-12.col-md-8.col-sm-6
                                .social
                                    include modules/social/social-widgets


                    .col-sm-12.sale
                        h2 Товары со скидками
                        .catalog-list
                            .row
                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-5.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Брюки свободные

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub


                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-2.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги «Эко про»

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-7.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Лосины с открытой пяткой Лосины с открытой пяткой

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-8.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Лосины простые

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-9.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Лосины короткие 3/4

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-10.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Лосины с открытой пяткой

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-11.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Лосины с отворачивающимся поясом

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .catalog__item.col-lg-3.col-md-4.col-sm-4.col-xs-6
                                    .card
                                        a.card-absolute(href='/')
                                        .card-labels.labels
                                            span.label скидка 20%
                                        .card-thumb
                                            img.card-img-top(src='../images/catalog/item-3.jpg', alt='')
                                        .card-block
                                            .card-buy
                                                a.btn.btn-primary(href='#' data-toggle="modal" data-target="#buyoneclick") Купить в 1 клик

                                            a.card-link(href='/') Коврик для йоги Кайлаш

                                        .card-price
                                            span.card-price__old
                                                | 1 580
                                                i.rub

                                            span.card-price__true
                                                | 1 263
                                                i.rub

                                .col-lg-12.catalog__actions
                                    .row
                                        .col-lg-3.col-md-4.col-sm-6.col-xs-12
                                            a.btn.btn-action.btn-block(href='') Вся одежда
                    .col-sm-12.secrets
                        .secrets-content
                            h2 «Хануман» раскрывает секреты правильной йоги
                            .row
                                .col-lg-6.col-md-6.col-sm-6.col-sx-12
                                    p Интернет-магазин #[strong товаров для йоги] «Хануман» — это, прежде всего, команда единомышленников, которые стремятся сделать все, чтобы занятия йогой стали полноценной частью вашей жизни.
                                    p Хотите купить #[strong коврик для йоги]? Вы пришли в правильное место! Настоящие гуру знают, что йога — это великое искусство, труд и, самое главное, верный путь приблизиться к здоровью и долголетию.
                                .col-lg-6.col-md-6.col-sm-6.col-sx-12
                                    p Многие думают, что для медитации подойдет какой-угодно коврик для йоги, старая футболка и приятная музыка. Мы знаем, что это не так. В нашем магазине мы собрали огромный ассортимент товаров для йоги, который поможет вам полюбить самую таинственную и духовно богатую восточную практику.

                        .row
                            .col-lg-3.col-md-4.col-sm-4.col-xs-12
                                a.btn.btn-primary.btn-block(href='') Читать больше

                    .col-sm-12.blog
                        h2 Все о йоге
                        .row.blog-list
                            .col-lg-8.col-md-8.col-sm-12.col-sx-12
                                .col-inner
                                    .row
                                        .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                                            .blog-list__article
                                                a.blog-list__absolute(href='/')
                                                .blog-list__thumb
                                                    img(src='../images/news/item.jpg', alt='')
                                                .blog-list__body
                                                    .blog-list__description
                                                        span.date 24 августа 2016, 10:56
                                                        h3 Техники йоги для «энергетической» защиты
                                                        p Не секрет, что в практике йоги важно правильное питание. О полезных и вредных для йога продуктах даже писал в своём…

                                        .col-lg-6.col-md-6.col-sm-6.col-sx-12.blog-list__item
                                            .blog-list__article
                                                a.blog-list__absolute(href='/')
                                                .blog-list__thumb
                                                    img(src='../images/news/item-2.jpg', alt='')
                                                .blog-list__body
                                                    .blog-list__description
                                                        span.date 29 августа 2016, 11:12
                                                        h3 Наши преимущества
                                                        p В наши дни в обществе много конфликтов, стресса. Социальное неравенство, отсутствие воспитания, психология потребления и мелкие конфликтные…

                            .col-lg-4.col-md-4.col-sm-12.col-sx-12
                                .news-list__horizontal
                                    h4.hidden-md-up Популярные записи
                                    .news-list__item
                                        .news-list__thumb
                                            a(href='/')
                                                img(src='../images/news/item.jpg', alt='')
                                        .news-list__body
                                            .news-list__section.hidden-xs-down Йога решает проблемы
                                            a.news-list__link(href='/') Незаменимые упражнения йоги для женщин после 40 лет
                                    .news-list__item
                                        .news-list__thumb
                                            a(href='/')
                                                img(src='../images/news/item-2.jpg', alt='')
                                        .news-list__body
                                            .news-list__section.hidden-xs-down Йога для начинающих
                                            a.news-list__link(href='/') Как сделать точечный массаж стоп самому себе
                                    .news-list__item
                                        .news-list__thumb
                                            a(href='/')
                                                img(src='../images/news/item.jpg', alt='')
                                        .news-list__body
                                            .news-list__section.hidden-xs-down Йога-путешествия
                                            a.news-list__link(href='/') Йога при ПМС и других нарушениях менструального цикла
                                    .news-list__item
                                        .news-list__thumb
                                            a(href='/')
                                                img(src='../images/news/item-2.jpg', alt='')
                                        .news-list__body
                                            .news-list__section.hidden-xs-down События
                                            a.news-list__link(href='/') Упражнения йоги на каждое утро: 15 минут — и вы в равновесии

                    .col-sm-12.theme-day
                        h2 Асана дня

                        .theme-day__container
                            .row.clearfix
                                .col-lg-4.col-md-6.col-sm-12.col-xs-12.theme-day__col
                                    h4
                                        | #[a(href="#") Ардхачандрасана поза#[br]половины луны]
                                    img(src='../images/asana.jpg', alt='')

                                .col-lg-5.col-md-6.col-sm-12.col-xs-12.theme-day__col
                                    h4 Техника выполнения:
                                    ul.list-styled
                                        li Поставить стопы параллельно.
                                        li Вдоль внешнего края правой  стопы провести воображаемую линию и на расстоянии 15—20 сантиметров от стопы поставить правую ладонь (опирайтесь на пальцы: мизинец ближе к стопе — большой палец на той же линии, дальше от стопы).
                                        li Придерживаясь левой рукой о пол, поднять левую ногу, выпрямить ее, развернуть стопу кверху, развернуть таз влево. Сделать несколько вдохов и выдохов.
                                        li Вытянуть левую руку вперед, накрыв плечом левое ухо, ладонь повернуть к полу.
                                        li Взгляд направить в пол.

                                .col-lg-3.col-md-12.col-sm-12.col-xs-12.theme-day__col
                                    h4 Показания
                                      +icon('check')
                                    p Артрит плечевых суставов, травмы поколенных связок (на стадии реабилитации), остеохондроз, заболевания желудочно-кишечного тракта, запор.
                                    h4 Противопоказания
                                      +icon('error')
                                    p Слабое кровяное давление, головная боль, мигрень, диарея, бессонница.


                    .col-sm-12.yoga-map
                        h2 Йога карта

                        .map
                            .map-content
                                a(href='#') В Калининграде 16 йога-центров
                                |  Выберите себе один из них рядом с домом или работой
                            .map-container(id="yoga-map-city" data-ajax-url="/data/getpinlist.php" data-ajax-method="post" data-ajax-card-url="/data/getcardbyid.php" data-ajax-card-method="post")



                    .col-sm-12.events
                        h2 Календарь событий

                        .events-items
                            .row
                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-1.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | «Использование мышечно-фасциальных цепей и нейропсихотерапевтических инструментов в практике Аштанга йоги», семинар
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-2.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | Йога лагерь
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-3.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | Йога-ретрит в горах Красной Поляны
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-4.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | Курс инструкторов женской йоги онлайн
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-5.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | «Грузия: Батуми, Сванетия, Казбеги», йога-путешествие
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-1.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | Джапа на достаток и процветание
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                                .events-items__item.col-md-12.col-sm-6.col-xs-12
                                    .events-items__article
                                        .row
                                            .col-lg-5.col-md-6.col-sm-12.col-xs-12
                                                .events-thumb
                                                    a(href='/')
                                                        img.img-responsive(src='../images/events/event-2.jpg', alt='')
                                                .events-content
                                                    .events-title
                                                        | «Преодоление страхов», медитация
                                                    .date 12–14 августа
                                            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                a.events-items__lnk(href='#') Санкт-Петербург
                                            .col-lg-4.col-md-3.col-sm-12.col-xs-12
                                                .events-items__lnks
                                                    | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]


                        .row
                            .col-lg-3.col-md-4.col-sm-12.col-xs-12.hidden-sm-down
                                a.btn.btn-action.btn-block(href='') Больше событий


    include includes/footer
