extends includes/default

block append vars
  - classPage = "page-music"

block prepend title
    | Music

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная
              li
                span Энциклопедия


      .container-fluid
        .container
          .music.row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              h1.page-title Музыка для йоги

            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                .content__item
                  p За годы нашей йогической практики мы собрали музыкальную коллекцию, которую назвали «музыка для занятий». Она была собрана нами из дисков, привезенных из Индии и Непала, получена в виде музыкальных подарков на различных йоговских семинарах, частично скачена через Интернет. Теперь вы можете #[strong скачать музыку для йоги бесплатно].
                  p Теперь вы можете с удовольствием заниматься дома, ведь у вас есть эта музыка!

                .content__item
                  h2 Какую музыку ставят инструкторы?
                  p Мы связались с популярными инструкторами йоги и спросили у них, какую музыку они ставят на своих занятиях. #[a(href="#") Читайте обзор в блоге Хануман]


                .music-articles
                  h2 Целые альбомы

                  .music__article
                    .col-md-12
                      .row
                        .col-md-4.col-sm-12
                          .music__thumb
                            img(src="images/music/item-1.jpg" alt="")

                        .col-md-8
                          .music__description
                            h3 Deva premal
                            p «Beautiful music, beautiful…» - H.H. The Dalai Lama
                            p Целиком согласны с его Святейшеством Далай Ламой: «прекрасная, прекрасная музыка». Альбомы:
                            ol
                              li
                                  a(href="#") Dakshina
                              li
                                  a(href="#") Embrace
                              li
                                  a(href="#") Love is Space
                              li
                                  a(href="#") The Essence


                  .music__article
                    .col-md-12
                      .row
                        .col-md-4.col-sm-12
                          .music__thumb
                            img(src="images/music/item-2.jpg" alt="")

                        .col-md-8
                          .music__description
                            h3 Бхакти музыка «Bhaishjaya»
                            p Medicine Buddha and other Mantras in «close harmony»
                            ol
                              li
                                  a(href="#") Om Sarabee
                                  span 4:54
                              li
                                  a(href="#") Teyatha Om Bekandze
                                  span 6:16
                              li
                                  a(href="#") Om Poornamadaha
                                  span 8:35
                              li
                                  a(href="#") Sriman Laxmi
                                  span 4:56
                              li
                                  a(href="#") Kali Mantra
                                  span 7:58
                              li
                                  a(href="#") He Nath Narayana
                                  span 6:58
                              li
                                  a(href="#") Namo Amitabhaya
                                  span 5:38
                              li
                                  a(href="#") ParameshVara-Vari
                                  span 8:42
                              li
                                  a(href="#") Kohe Ram Bole
                                  span 4:42
                              li
                                  a(href="#") Ganesha Sharanam
                                  span 5:32
                              li
                                  a(href="#") Mahamrityorma
                                  span 4:55


                  .music__article
                    .col-md-12
                      .row
                        .col-md-4.col-sm-12
                          .music__thumb
                              img(src="images/music/item-3.jpg" alt="")

                        .col-md-8
                          .music__description
                            h3 Putumayo presents yoga
                            p Всемирно известная серия Putumayo World Music выпустила первый диск, целиком посвященный йоге. Отличная подборка спокойной мелодичной музыки, которая настроит вас на практику и не будет отвлекать ваше внимание. #[a(href="#") Скачать весь сборник].



                .content__item
                  h2 Отдельные мантры
                  p Классическая тибетская мантра #[a(href="#") "Om Mani Padme Hum"]. В исполнении Янгчен Лхамо. Нежная сердечная вибрация обитает в слогах этой мантры. Лепестки анахаты начинаюют резонировать, открывая своим сиянием неизмеримые просторы человеческой души.
                  p Красивая мелодичная мантра #[a(href="#") "Jaya Ma"]. Что в переводе с санскрита означает "славься мать". Материнская любовь - это первое, что человек получает в этом мире. Напоминание о безграничной и всеобъемлющей любви матери к своим детям, позволяющей им вырасти полноценными людьми, самодостаточными и сильными, хранится в звуках #[a(href="#") "Jaya Ma"].
                  p Бинджа-мантра #[a(href="#") "Ом-Аум"]. Данная мантра обращает сознание слушателя вовнутрь, опустошая голову от стремительного бега мыслей. Состояние созерцательности наступаетсамо само собой, время замедляет свой бег. В этот миг происходит прикосновение к своей внутренней природе.
                  p Мантра #[a(href="#") "Om Namah Shivaya"]. Из альбома Natalie. "The Art of Living". Исполняется под гитару.
                  p Мантра #[a(href="#") "Om Namah Shivaya"]. Очень бодро ее исполняет Krishna Das в сопровождении хора.
                  p Знаменитый "Ом с птичками" - "Om (as chanting in Putapati)". В течение получаса звучит бинджа мантра Ом, вызывая спонтанное медитативное состояние. Периодически слышимое пение птиц, наполняет радостью сердце. "Suprabhatam (as chanted in Puttapati)" - еще одна композиция с этого же альбома.
                  p #[a(href="#") Мантра самопознания — Soham]. Жизнь – это звук, в котором каждая вибрация исполняют свою роль. Йоги, исследовавшие лабиринты человеческого сознания, установили: вибрации «Сохам» способствуют самопознанию. «СоХам» - это озвученная модель жизни,  ее называют аджапа гаятри — спонтанная песня дыхания. Это мантра, которая возникает автоматически при каждом вдохе и выдохе. Этот звук связан с естественным ритмом дыхания. И эту мантру каждый человек поет постоянно, независимо от того, знает он ее или не знает, хочет он этого или не хочет.

                .content__item
                  h2 Ссылки на другие сайты с музыкой
                  ul
                      li #[a(href="#") Традиционная индийская музыка] - мантры, бхаджаны, песнопения. Большой выбор традиционной музыки, доступный для скачивания в MP3.
                      li #[a(href="#") Раздел Музыка] на сайте Лотоса. Здесь находится много-много полезной информации, за что ему огромное мерси.
                      li #[a(href="#") Форум о музыке] на сайте Лотоса
                      li #[a(href="#") Огромный каталог музыки] на сайте «Свирель Кришны». Есть возможность прослушать перед скачиванием.
                      li #[a(href="#") Музыка для медитации] на этом сайте сделана таким образом, что играет бесконечно
                      li #[a(href="#") Несколько альбомов с музыкой] на сайте Yoga Open Air
                      li #[a(href="#") Сообщество в ЖЖ mantra_ru], посвященное мантрам
                      li #[a(href="#") Блог «Музыка для йоги и медитации»] на сайте Yayog.ru
                      li #[a(href="#") Музыка для йоги] на сайте Yfest.ru
                      li #[a(href="#") YogiTunes] — много музыки, которую можно чуть-чуть послушать и потом купить в онлайне
                      li #[a(href="#") Каталог ссылок на интернет-ресурсы по йоге], тантре и смежным традициям. На данном портале представлены ссылки на все сайты, имеющие отношение к йоге, тантре, буддизму и другим традициям, направлениям, школам и авторским системам духовного развития.

                .content__item
                  h2 Вам понравилась музыка на этой странице?
                  p #[a(href="#") Поставьте на нас ссылку] на своем блоге или сайте. Тогда другие люди тоже смогут насладиться йоговской музыкой вместе с вами! Ваши «спасибочки» и благодарности за скаченную музыку, если таковые будут :-) посвящаем благу всех живых существ.

                .content__item
                  h2 У вас есть йога музыка?
                  p Мы всегда рады пополнить коллекцию и выложить интересные композиции на наш сайт. Присылайте ссылку на #[a(href="mailto:mail@hanuman.ru") mail@hanuman.ru] и мы постараемся разместить её на нашем сайте.


            .col-lg-3.col-md-4.col-sm-12.col-sx-12
              .sidebar
                .sidebar-block
                  .social
                    include modules/social/social-buttons

                .hidden-sm-down
                  h2 Каталог товаров
                  .sidebar-block
                    ul.sidebar-nav
                      li
                          a(href='') Распродажа -60%
                      li
                          a(href='') Коврики для йоги
                      li
                          a(href='') Коврики в бухтах
                      li
                          a(href='') Одежда для йоги
                      li
                          a(href='') Чехлы и сумки для клвриков
                      li
                          a(href='') Блоки, ремни, пропсы
                      li
                          a(href='') Подушки, болстеры, одеяла
                      li
                          a(href='') Массаж, спа, стоунтерапия
                      li
                          a(href='') Косметика
                      li
                          a(href='') Чай, питание, аюрведа
                      li
                          a(href='') Другие товары
                      li
                          a(href='') Реклама на сайте
                      li
                          a(href='') Все товары


    include includes/footer
