extends includes/default

block append vars
  - classPage = "page-opt"


block prepend title
    | Opt cart

block content
    include includes/header


    main.page-section
            .container-fluid
                .container
                    .row
                        .col-md-12
                            ul.breadcrumb
                                li
                                    a(href='/') Главная
                                li
                                  span Оптом


                        .col-lg-9.col-md-8
                            .search.hidden-sm-up
                              .search-box
                                input.form-control.form-control__search(type="search" placeholder="Название товара / Артикул")
                                span.search-icon

                            h1.page-title Форма заказа

                            .opt-menu__wrap(id="opt")
                              .opt-products.hidden-sm-up(id="opt-products")
                                .opt-products__item
                                  a.opt-products__link(href="#")
                                    .article Лосины простые A12-040-1XS14
                                    .color
                                      .color-title Цвет
                                      .color-value
                                        span.color.color-brown
                                    .size
                                      .size-title Размер
                                      .size-value L
                                    .quantity
                                      .quantity-title Кол-во
                                      .quantity-value 6
                                    .price
                                      .price-title Цена
                                      .price-value 1580 #[span(class="rub")]
                                    +icon('arrow')

                                .opt-products__item
                                  a.opt-products__link(href="#")
                                    .article Лосины простые A12-040-1XS20
                                    .quantity
                                      .quantity-title Кол-во
                                      .quantity-value 6
                                    .price
                                      .price-title Цена
                                      .price-value 1580 #[span(class="rub")]
                                    +icon('arrow')

                                .opt-products__item
                                  a.opt-products__link(href="#")
                                    .article Коврик для йоги «эко про» A12-040-1XS14
                                    .size
                                      .size-title Размер
                                      .size-value L
                                    .quantity
                                      .quantity-title Кол-во
                                      .quantity-value 6
                                    .price
                                      .price-title Цена
                                      .price-value 1580 #[span(class="rub")]
                                    +icon('arrow')
                                .opt-products__item
                                  a.btn.btn-primary.btn-block(href="#" id="add-product" data-title="Категории") Добавить товары


                              mixin folder
                                span.opt-menu__icon
                                  +icon('folder_open')
                                  +icon('folder')

                              ul.opt-menu(id="opt-menu" data-opt-menu)
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.opt-menu__text(data-name) Коврики для йоги
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.opt-menu__text(data-name) Коврики в бухтах
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.opt-menu__text(data-name) Одежда для йоги
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                      ul(data-opt-menu)
                                          li.opt-menu__action
                                            a.btn.btn-primary.btn-block(href="#" data-toggle="back" data-title="Форма заказа") Назад
                                          li
                                              a(href="#" data-toggle="link")
                                                +folder
                                                span.opt-menu__text(data-name) Женская
                                                span.opt-menu__icon--arrow
                                                  +icon('arrow')
                                              ul(data-opt-menu)
                                                  li.opt-menu__action
                                                    a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                  li
                                                      a(href="#" data-toggle="link")
                                                        +folder
                                                        span.opt-menu__text(data-name) Низ
                                                        span.opt-menu__icon--arrow
                                                          +icon('arrow')
                                                      ul(data-opt-menu)
                                                          li.opt-menu__action
                                                            a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.opt-menu__text(data-name) Брюки свободные
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.opt-menu__text(data-name) Лосины короткие 3/4
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.opt-menu__text(data-name) Лосины простые
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')


                                                              ul(data-opt-menu)
                                                                li.opt-menu__action
                                                                  a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.opt-menu__text(data-name data-title="Размер") XS
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')

                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                            a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину

                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-turquoise
                                                                          span.text(data-name) Бирюзовый
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-pink
                                                                          span.text(data-name) Розовый
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину

                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-brown
                                                                          span.text(data-name) Коричневый
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-red
                                                                          span.text(data-name) Красный
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-darkblue
                                                                          span.text(data-name) Синий
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color" disabled)
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-lilac
                                                                          span.text(data-name) Сиреневый
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color" disabled)
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-green
                                                                          span.text(data-name) Зеленый
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li(data-item="color" disabled)
                                                                      a(href="#" data-toggle="link")
                                                                          span.color.color-not
                                                                          span.text(data-name) Без цвета
                                                                          span.opt-menu__icon--arrow
                                                                            +icon('arrow')
                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price
                                                                                            span(data-price) 1 580
                                                                                            span(class="rub")
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#") Вернуться к заказу

                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.text(data-name data-title="Размер") S
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')
                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price 1 580 #[span(class="rub")]
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.text(data-name data-title="Размер") M
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')
                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price 1 580 #[span(class="rub")]
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.text(data-name data-title="Размер") L
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')
                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price 1 580 #[span(class="rub")]
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.text(data-name data-title="Размер") XL
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')
                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price 1 580 #[span(class="rub")]
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину


                                                                li(data-item="size")
                                                                  a(href="#" data-toggle="link")
                                                                    span.text(data-name data-title="Размер") Без размера
                                                                    span.opt-menu__icon--arrow
                                                                      +icon('arrow')
                                                                  ul(data-opt-menu)
                                                                    li.opt-menu__action
                                                                      a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                    li(data-item="color")
                                                                      a(href="#" data-toggle="link")
                                                                        span.color.color-blue
                                                                        span.text(data-name) Голубой
                                                                        span.opt-menu__icon--arrow
                                                                          +icon('arrow')


                                                                      ul(data-opt-menu)
                                                                        li.opt-menu__action
                                                                          a.btn.btn-primary.btn-block(href="#" data-toggle="back") Назад
                                                                        li
                                                                          .opt-table
                                                                            .opt-table__body.col-md-12
                                                                              .opt-table__row.row
                                                                                .opt-table__items.col-md-12
                                                                                  .row
                                                                                    .opt-table__item.col-md-12
                                                                                      .row
                                                                                        .opt-table__col.col-lg-3.col-md-6.col-xs-6.opt-table__col-article
                                                                                          .title.hidden-lg-up Артикул
                                                                                          .article A12-040-1XS14
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-quantity
                                                                                          .title.hidden-lg-up На складе
                                                                                          .quantity 4 шт.
                                                                                        .opt-table__col.col-lg-2.col-md-6.col-xs-6.opt-table__col-price
                                                                                          .title.hidden-lg-up Цена
                                                                                          .price 1 580 #[span(class="rub")]
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-value
                                                                                          .title.hidden-lg-up Количество
                                                                                          .value
                                                                                            .quantity(data-id='quantity')
                                                                                              .quantity-box
                                                                                                span.quantity-btn.quantity-btn__minus(data-quantity='minus')
                                                                                                input.quantity-input(type='text', value='2')
                                                                                                span.quantity-btn.quantity-btn__plus(data-quantity='plus')
                                                                                        .opt-table__col.col-lg-2.col-md-12.col-xs-6.opt-table__col-total
                                                                                          .title.hidden-lg-up Сумма
                                                                                          .total-price
                                                                                            span(data-total) 0
                                                                                            span(class="rub")

                                                                        li.opt-menu__action
                                                                          a.btn.btn-action.btn-block(href="#" data-id="add-to-card") Добавить в корзину

                                                                li.opt-menu__action
                                                                  a.btn.btn-primary.btn-block(href="#") Вернуться к заказу

                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Лосины с отворачивающимся поясом
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Лосины с открытой пяткой
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Лосины с поясом крест-накрест
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Шорты
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Шорты короткие
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li(disabled)
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Бриджи для йоги
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li(disabled)
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Брюки свободные
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li(disabled)
                                                              a(href="#" data-toggle="link")
                                                                +folder
                                                                span.text(data-name) Лосины короткие 3/4
                                                                span.opt-menu__icon--arrow
                                                                  +icon('arrow')
                                                          li.opt-menu__action
                                                            a.btn.btn-primary.btn-block(href="#") Вернуться к заказу
                                                  li
                                                      a(href="#" data-toggle="link")
                                                        +folder
                                                        span.text(data-name) Верх
                                                        span.opt-menu__icon--arrow
                                                          +icon('arrow')
                                                  li
                                                      a(href="#" data-toggle="link")
                                                        +folder
                                                        span.text(data-name) Комбинезоны
                                                        span.opt-menu__icon--arrow
                                                          +icon('arrow')
                                                  li.opt-menu__action
                                                    a.btn.btn-primary.btn-block(href="#") Вернуться к заказу


                                          li
                                              a(href="#" data-toggle="link")
                                                +folder
                                                span.text(data-name) Мужская
                                                span.opt-menu__icon--arrow
                                                  +icon('arrow')

                                          li
                                              a(href="#" data-toggle="link")
                                                +folder
                                                span.text(data-name) Детская
                                                span.opt-menu__icon--arrow
                                                  +icon('arrow')
                                          li.opt-menu__action
                                            a.btn.btn-primary.btn-block(href="#") Вернуться к заказу

                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Чехлы и сумки для ковриков
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Блоки, ремни, пропсы
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Подушки, болстеры, одеяла
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Массаж, спа, стоунтерапия
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Аудио, видео диски
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Книги, журналы и плакаты
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Косметика
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Чай, питание, аюрведа
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Ароматерапия и благовония
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Другие товары
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item
                                      a(href="#" data-toggle="link").opt-menu__link
                                          +folder
                                          span.text(data-name) Реклама на сайте
                                          span.opt-menu__icon--arrow
                                              +icon('arrow')
                                  li.opt-menu__item.opt-menu__action
                                    a.btn.btn-primary.btn-block(href="#" data-toggle="back") Вернуться к заказу



                              ul.opt-menu__final(id="opt-final")
                                li
                                  .final-text Ваш товар успешно добавлен в корзину
                                li.opt-menu__action
                                  a.btn.btn-action.btn-block(href="#" data-id="category" data-title="Категории") Добавить еще товары
                                li.opt-menu__action
                                  a.btn.btn-primary.btn-block(href="#" data-id="form" data-title="Форма заказа") Вернуться к закзу


                        .col-lg-3.col-md-4
                            .sidebar
                                .order-check.sidebar-block
                                    .sidebar-inset.offset-top
                                        h2.order-check__title Ваш заказ

                                        dl.cart-price
                                            dt Товаров
                                            dd 38
                                            dt Сумма
                                            dd 58 450
                                                span.rub
                                            dt Доставка
                                                dd 1 200
                                                    span.rub
                                            dt Итого
                                            dd 58 650
                                                span.rub

                                        .form-actions
                                            .form-group
                                                a.btn.btn-action.btn-block(href="#") Оформить заказ
                                            .form-group
                                                a.btn.btn-primary.btn-block(href="#") Очистить корзину


                                        .sidebar__text Вы делаете оптовый заказ. #[br] О более выгодных условиях сотрудничества читайте в #[a(href="#") представительской программе] или позвоните нам #[br] (495) 649-69-62

                                        .help-block
                                            h3 Нужна помощь?
                                            p Укажите ваш телефон и наш менеджер перезвонит вам

                                            .form
                                                .form-group
                                                    input.form-control.form-control--bordered(type="text" data-mask placeholder='+7 ___ ___ __ __')
                                                .form-actions
                                                    .form-group
                                                        a.btn.btn-primary.btn-block(href="#") ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ


                                        .contact-block
                                            h3 Не хотите ждать?
                                            p Свяжитесь с нами самостоятельно
                                            ul.contact-list
                                                li
                                                    +icon('phone')
                                                    a(href="tel:+78007758731") (800) 775-87-31
                                                li
                                                    +icon('mail-fill')
                                                    a(href="mailto:mail@hanuman.ru") mail@hanuman.ru
                                                li
                                                    +icon('skype')
                                                    a(href="skype:hanuman_ru") hanuman_ru


    include includes/footer
