extends includes/default

block append vars
  - classPage = "page-opt"

block prepend title
    | Opt

block content
    include includes/header


    main.page-section
      .page-section-top
        .container-fluid
          .container
            .col-inner
              ul.breadcrumb
                li
                  a(href='/') Главная
                li
                  span Оптом


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8
              h1.page-title Товары для йоги оптом

              .content
                .content__item
                    p Ваш незаменимый помощник в практике йоги. У нас есть коврики на любой вкус: #[a(href="#") доступные], #[a(href="#") нескользящие], #[a(href="#") женские].
                    p Вы можете купить коврики для йоги оптом, получив скидку до 45% от их розничной цены и одежду со скидкой до 45%. На сайте Хануман.ру созданы оптимальные условия для оптовых покупок товаров. Мы всячески поддерживаем наших представителей и оптовых покупателей, помогая в развитии вашего бизнеса. #[a(href="#") Отзывы наших благодарных клиентов] — лучшее тому подтверждение!
                    p Наш магазин является крупнейшим оптовым поставщиком йога-продукции. Наши товары покупают все, кто связан с йогой: сети фитнес-клубов, федерации йоги, йога-студии, инструктора и даже те, кто занимается йогой дома.
                    p
                        img(src="images/opt/img-1.jpg" alt="")
                    h2 Наши преимущества
                    p #[strong Бесплатная доставка]. По Москве и регионам мы #[a(href="#") доставляем свои товары] бесплатно.
                    p #[strong Скоростная доставка]. Все товары находятся на складе. Если сегодня вы сделали и оплатили заказ, то мы сегодня же его скомплектуем, а завтра он будет в любой точке Москвы или в транспортной компании, которая повезет его в регионы.
                    p #[strong Отличное обслуживание]. Наши сотрудники всегда на связи и оперативно решат все вопросы. Мы всегда идем навстречу нашим клиентам, многие из которых стали нашими друзьями. #[a(href="#") Прочитайте отзывы] и убедитесь сами!
                    p #[strong Низкие цены]. Большинство товаров мы призводим сами или закупаем напрямую у поставщиков, поэтому у нас самые низкие цены на многие товары. Убедитесь в этом сами!
                    p #[strong Товары постоянно в наличии]. Все что вы видите на сайте, доступно для заказа прямо сейчас. Цвета, размеры — мы специально держим запас товаров, чтобы ваш выбор был максимальным.
                    p #[strong Широкий ассортимент]. Все основные товары для занятий йогой есть в нашем магазине, вам не придется обращаться в другие места.
                    p #[strong Возврат товара]. Вы можете вернуть товар без объяснения причин в течение 1 месяца с момента отгрузки.
                    p
                        img(src="images/opt/img-2.jpg" alt="")
                    p В нашем магазине действует Представительская схема сотрудничества с оптовыми покупателями. Мы уверены, что у нас вы сможете купить коврики для йоги оптом с удовольствием и выгодой для бизнеса.
                    p #[a(href="#") Представительская схема] — скидка до 45%
                    p Идеально подходит для йога-студий, инструкторов, небольших магазинов. Мы предлагаем вам максимальную скидку, продвигаем ваш магазин на нашем сайте. Наша сеть насчитывает #[a(href="#") 95 представительств] в 45 городах России, что подтверждает интерес к нашему предложению.

                    .opt-discounts
                        h2 Подробные условия скидок

                        table.table-accordion
                            thead
                                th
                                th Сумма заказа
                                th Ваша скидка
                            tbody
                                tr
                                    td(align="left" valign="top")
                                        .headline
                                            h3 Коврики для йоги и аксессуары компаний Bodhi и Wunderlich
                                            span.icon
                                                +icon("arrow")
                                        .description
                                            p Хануман являемся официальным дистрибьютором компаний Bodhi и Wunderlich. В нашем магазине всегда представлен максимальный ассортимент от этих брендов, а также оптимальные условия скидок.

                                            .discount.hidden-md-up
                                                h3.discount-title Сумма заказа #[span (в розничных ценах)]
                                                .discount-filter
                                                    select.js-discount(placeholder="от 50 000 до 100 000")
                                                        option от 50 000 до 100 000
                                                span.discount-total Ваша скидка — 33%
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 0–30*
                                            li от 30
                                            li от 50
                                            li от 100
                                            li от 150
                                            li от 200
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 15%
                                            li 30%
                                            li 33%
                                            li 35%
                                            li 40%
                                            li 45%
                                tr
                                    td(align="left" valign="top")
                                        .headline
                                            h3 Одежда для йоги Адимурти
                                            span.icon
                                                +icon("arrow")
                                        .description
                                            p Продажа одежды требует особых условий. Мы предлагаем скидку 45% при покупке от 50 тыс. рублей в розничных ценах сайта, то есть фактически вы платите за товар 27 500 руб. Это позволит вам делая небольшие заказы, поддерживать постоянный ассортимент цветов и размеров одежды.
                                    td(align="left" valign="top")
                                        ul.sum
                                            li от 20*
                                            li от 30
                                            li от 50
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 15%
                                            li 30%
                                            li 45%
                                tr
                                    td(align="left" valign="top")
                                        .headline
                                            h3 Другие товары Адимурти
                                            span.icon
                                                +icon("arrow")
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 0–20*
                                            li 20–30
                                            li 30–50
                                            li 50–100
                                            li 100–200
                                            li 200+
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 15%
                                            li 30%
                                            li 35%
                                            li 40%
                                            li 43%
                                            li 45%
                                tr
                                    td(align="left" valign="top")
                                        .headline
                                            h3 Коврики для йоги в бухтах
                                            span.icon
                                                +icon("arrow")
                                        .description
                                            p Тем, кто предпочитают нарезать коврики из большого рулона 30м, мы предлагаем скидки на бухты. Мы сразу учли оптовую скидку 20% в цене на бухты, поэтому скидка меньше остальных товаров. Но если вы посчитаете цену коврика, который получается из нарезанной бухты, она вам понравится.
                                    td(align="left" valign="top")
                                        ul.sum
                                            li от 30
                                            li от 50
                                            li от 100
                                            li от 150
                                            li от 200
                                    td(align="left" valign="top")
                                        ul.sum
                                            li 10%
                                            li 13%
                                            li 15%
                                            li 20%
                                            li 25%

                    p Обратите внимание, что так как скидка рассчитывается от суммы оптового заказа, по факту #[strong вы заплатите меньше] на величину скидки. Например, при покупке ковриков Адимурти в розничных ценах на 20 тысяч рублей, вы заплатите за товар только 14 тысяч.

                    .preorder
                      h2 Предзаказ на товары бодхи из германии
                      ol
                          li Вы выбираете нужные вам товары на сайте Бодхи на нашем сайте
                          li Доставка товаров заказчику осуществляется в течение 35-45 дней.
                          li Предоплата 100%
                          li Величина скидки рассчитываются индивидуально в зависимости от суммы заказа.
                          li Минимальный объем заказа 1500 евро.

                    h2 Запутались в условиях скидок?
                    p Не переживайте, наш сайт автоматически рассчитывает скидки. Получите статус представителя, заходите на #[a(href="#") страницу оптового заказа] и все скидки будут перед вами как на ладони.

                    p.footnote * Скидки при покупке от 0 до 20 000 рублей предоставляются только постоянным оптовым клиентам, а также представителям.


            .col-lg-3.col-md-4
              .sidebar
                .sidebar-block
                  .sidebar-inset
                    .sidebar-block__item
                      h4 Готовы сделать заказ?
                      p Вы можете самостоятельно оформить оптовый заказ на товары для йоги через удобную форму.

                      .form-actions
                        .form-group
                            a.btn.btn-action.btn-block(href="#") Заказать

                    .sidebar-block__item.download-price
                      h4 Сколько это стоит?
                      .form-actions
                        .form-group
                          .download
                            a.btn.btn-primary.btn-block(href="#")
                                span.text Скачать прайс-лист


                    .sidebar-block__item.contacts-block
                      h4 Остались вопросы?
                      p Укажите ваш телефон и наш менеджер перезвонит вам

                      .form
                        .form-group
                            input.form-control.form-control--bordered(type="text" data-mask placeholder='+7 ___ ___ __ __')
                        .form-actions
                            .form-group
                                a.btn.btn-primary.btn-block(href="#") ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ


                    .sidebar-block__item
                      .contact-block
                        h4 Не хотите ждать?
                        p Свяжитесь с нами самостоятельно
                        ul.contact-list
                          li
                              +icon('phone')
                              a(href="tel:+78007758731") (800) 775-87-31
                          li
                              +icon('mail-fill')
                              a(href="mailto:mail@hanuman.ru") mail@hanuman.ru
                          li
                              +icon('skype')
                              a(href="skype:hanuman_ru") hanuman_ru


    include includes/footer
