extends includes/default

block append vars
  - classPage = 'page-representatives'

block prepend title
    | Отзывы

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            .col-inner
              ul.breadcrumb
                li
                  a(href='/') Главная
                li
                  a(href='/') Энциклопедия
                li
                  span Асаны


      .container-fluid
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .container
                .row
                  .col-lg-8.col-md-8.col-sm-12.col-sx-12
                    h1.page-title Представители нашего магазина

                  .col-lg-9.col-md-8.col-sm-12.col-sx-12
                    .content
                      .content__item
                        p Мы рекомендуем покупать товары через наших представителей. Это, как правило, оказывается быстрее (не нужно ждать доставки товара). Кроме того, вы можете посмотреть товар "в живую", пощупать его своими руками, определиться с цветом, длиной, материалом коврика, то есть #[a(href="#") выбрать коврик] который идеально подойдет именно для вас.
                        p В данный момент у нас работают #[strong 100 представительств] в 33 городах РФ и их количество постоянно растет. Мы #[a(href="#") предлагаем сотрудничество] всем заинтересованным йога-центрам, инструкторам йоги в других городах России и СНГ.


                      .representatives
                        .row
                          .representatives-choose.col-lg-11.col-md-12
                            .row
                              .col-lg-5.col-md-6
                                h3 Выберите свой город

                            .row
                              .col-lg-5.col-md-6
                                .representatives-select
                                  select.select-city
                                    option(selected="selected") Все города
                                    option Москва
                                    option Санкт-Петербург
                                    option Калининград
                                    option Екатеринбург
                                    option Владивосток

                              .col-lg-7.col-md-6
                                | Если вашего города нет в этом списке, #[a(href="#") напишите нам письмо] или позвоните. Возможно, вы захотите стать представителем нашего магазина. Или вы знаете тех, кому это может быть интересно - расскажите им, они скажут вам спасибо.

                          .representatives-catalog.col-lg-12
                              .representatives__article.col-lg-12
                                .row
                                  .representatives__header.col-lg-12
                                    h3 Москва

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте


                              .representatives__article.col-lg-12
                                .row
                                  .representatives__header.col-lg-12
                                    h3 Санкт-петербург

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте


                              .representatives__article.col-lg-12
                                .row
                                  .representatives__header.col-lg-12
                                    h3 Архангельск

                                  .representatives__item.col-lg-6.col-md-12
                                    h5 Магазин и йога-центр «Просветление»
                                    ul
                                      li #[strong Сайт]: #[a(href="http://www.yogacenter.ru" target="_blank") www.yogacenter.ru]
                                      li #[strong Адрес]: г. Москва, ул. Долгоруковская д. 29
                                      li #[strong Тел].: (499) 251-21-08; (499) 251-33-67
                                      li #[strong Контактное лицо]: Климушева Мария
                                      li #[strong Ориентир] РТС - Российская фондовая биржа
                                      li #[strong E-mail]: #[a(href="#") yogacenter@mail.ru], #[a(href="#") prosvetlenie@bk.ru]
                                    p Внимание! Цены у данного представителя могут значительно отличаться от цен на нашем сайте



                  .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                    .sidebar.offset-top
                      .sidebar-block
                        .social
                          include modules/social/social-buttons

                      h2 Каталог товаров

                      .sidebar-block
                        ul.sidebar-nav
                          li
                            a(href='') Распродажа -60%
                          li
                            a(href='') Коврики для йоги
                          li
                            a(href='') Коврики в бухтах
                          li
                            a(href='') Одежда для йоги
                          li
                            a(href='') Чехлы и сумки для ковриков
                          li
                            a(href='') Блоки, ремни, пропсы
                          li
                            a(href='') Подушки, болстеры, одеяла
                          li
                            a(href='') Массаж, спа, стоунтерапия
                          li
                            a(href='') Косметика
                          li
                            a(href='') Чай, питание, аюрведа
                          li
                            a(href='') Другие товары
                          li
                            a(href='') Реклама на сайте
                          li
                            a(href='') Все товары



    include includes/footer
