extends includes/default

block append vars
  - classPage = 'page-reviews'

block prepend title
    | Отзывы

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            .col-inner
              ul.breadcrumb
                li
                  a(href='/') Главная
                li
                  span Магазин


      .container-fluid
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .container
                .row
                  .col-lg-9.col-md-12.col-sm-12.col-sx-12
                    .content
                      .content__item
                        h1.page-title Отзывы клиентов магазина

                        .reviews-content Мы делаем все возможное, чтобы наши клиенты оставались довольными качеством наших товаров, скоростью доставки, ассортиментом и оперативностью сотрудников. Вот только некоторые отзывы тех, с кем мы сотрудничаем.


                      .content__item.reviews
                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Пронина Евгения из Барнаула 19.03.2014


                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Glotova Valentina из Владивостока 06.03.2014

                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Пронина Евгения из Барнаула 19.03.2014


                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Glotova Valentina из Владивостока 06.03.2014

                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Пронина Евгения из Барнаула 19.03.2014


                        .reviews__item
                          dl
                            dt Достоинства:
                            dd Бесплатная доставка почтой России, полная информация о заказе приходит на e-mail, оперативная доставка, хороший ассртимент
                            dt Недостатки:
                            dd не выявила
                            dt Комментарий:
                            dd Заказывала коврик для йоги. Был хорошо упакован, доставили в указанные сроки.

                          | Glotova Valentina из Владивостока 06.03.2014



                      include modules/pagination/catalog


                  .col-lg-3.col-md-12.col-sm-12.col-sx-12.hidden-xs
                    .sidebar.offset-top
                      .sidebar-block
                        .social
                          include modules/social/social-buttons
                          .vk-block
                            script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
                            // VK Widget
                            #vk_groups
                            script(type='text/javascript').
                              VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "auto"}, 9007597);

                          br

                          .fb-block
                            #fb-root
                            script.
                              (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                                fjs.parentNode.insertBefore(js, fjs);
                              }(document, 'script', 'facebook-jssdk'));
                            .fb-page(data-href='https://www.facebook.com/ru.hanuman', data-height='261', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                              blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ru.hanuman')
                                a(href='https://www.facebook.com/ru.hanuman') Hanuman

    include includes/footer
