extends includes/default

block append vars
  - classPage = 'page-text'

block prepend title
    | Текст

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
              ul.breadcrumb
                li
                  a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-sx-12
              .content
                h1.page-title О проекте

                .content__item
                  p #[strong Хануман.ру] — популярный портал о йоге, магазин товаров для йоги с разветвленной сетью представительств по всей России, соорганизатор самой масштабной акции, посвященной йоге в нашей стране — #[a(href="/") Дня йоги в России]!
                  p За 2 года существования проекта мы выросли из маленького магазина йога-товаров в один из самых интересных ресурсов, посвященных йоге. Наша цель - создание ресурса, который объединяет всех практикующих йогу в одном месте и дает им новые возможности для практики.
                  p #[strong Для начинающих] и практикующих. #[a(href="/") Энциклопедия йоги] ответит на ваши основные вопросы. #[a(href="/") Йога-карта России] даст возможность выбрать йога-центр в вашем городе. #[a(href="/") Магазин товаров для йоги] порадует выбором и ценами. Продвинуться дальше в практике позволит раздел #[a(href="") семинаров]. Каждый день узнавать что-то новое о йоге можно, читая наш #[a(href="/") блог].
                  p #[strong Для студий йоги]. Бесплатное размещение в «Йога-карте России» позволит заявить о себе, привлечь клиентов и продвинуть именно вашу студию. Организовав интересный семинар и разместив в нашем календаре йога-событий, вы сможете привлечь дополнительную аудиторию. #[a(href="/") Представительская программа] позволит вам открыть свой магазин йога-товаров, что даст вам дополнительный источник дохода.
                  p #[strong Для инструкторов]. #[a(href="") Календарь йога-событий] на Хануман.ру — это лучший способ рассказать о своем семинаре всем, кто занимается йогой в России. Представительская программа позволит вам предлагать йога-товары своим ученикам, что даст вам дополнительный источник дохода.

                .content__item.team
                  .team-container.col-md-12
                    .row
                      .team-content
                        h2.team-title Команда проекта
                        .team-description Хануман.ру стал таким, каким мы его знаем, благодаря работе каждого из участников команды:

                      .team-card.col-lg-6.col-md-12
                        .team-thumb
                          img(src="images/user-1.png" alt="")

                        .team-body
                          h3 Влад Рафеев
                          p Сооснователь, директор по развитию. Креативщик и в каждой бочке затычка проекта.

                      .team-card.col-lg-6.col-md-12
                        .team-thumb
                          img(src="images/user-2.png" alt="")

                        .team-body
                          h3 Юра Миночкин
                          p Сооснователь, финансовый директор. Отвечает за стратегию и тактику проекта, а также правильный йога-подход к бизнесу.


                .content__item
                  h2 История проекта
                  p #[strong 2008 год]. Мы захотели купить коврики для йоги для #[a(href="/") Калининградской федерации классической йоги]. В йога магазинах Москвы они продавались по заоблачным ценам, так что нам пришлось связаться напрямую с поставщиками ковриков из Германии и привезти коврики самостоятельно.
                  p Мы подумали, что если получилось привезти себе, то и другие йога-центры и инструктора обрадуются предложению приобретать качественные товары по разумным ценам. Так появился йога-магазин Хануман.ру и большая сеть наших #[a(href="/") представителей].
                  p #[strong 2009 год]. Спрос на #[a(href="/") товары для йоги] превысил наши ожидания, за год у нас появилось 55 представителей. Мы прошли путь от самостоятельной упаковки посылок сургучем на почте до автоматизированного склада в Москве.
                  p #[strong 2010 год]. Хануман.ру вырос и стал больше, чем просто магазином йога-товаров. В начале года мы запустили «#[a(href="/") Йога-карту России]», которая скоро стала самым полным и удобным каталогом студий йоги в России.
                  p Благодаря партнерству Хануман.ру и #[a(href="/") YogaJournal] в сентябре 2010 стартовал проект «#[a(href="/") День йоги в России]». Мы сами не ожидали такого успеха — 136 студий из 37 городов приняли участие в первом общероссийском празднике йоги. В Москве и других городах прошли занятия на свежем воздухе, что несомненно способствовало популяризации практики йоги среди новичков.
                  p
                    img(src="images/den-yogy.jpg" alt="" style="float: left; width: 95px; margin-right: 20px; margin-bottom: 20px;")
                    | В течение года был открыт раздел #[a(href="/") семинары], собравший все события йога-тематики в одном месте. В #[a(href="/") блоге] мы стали публиковать интересные заметки о всех аспектах практики.
                  p Запущен и пополняется раздел «#[a(href="/") Энциклопедия]»! Теперь ни одного вопроса начинающих и продолжающих йогов не остается без ответа.



            .col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
                .sidebar
                  .sidebar-content
                    h2 Каталог товаров

                    .sidebar-block
                      ul.sidebar-nav
                        li
                          a(href='') Распродажа -60%
                        li
                          a(href='') Коврики для йоги
                        li
                          a(href='') Коврики в бухтах
                        li
                          a(href='') Одежда для йоги
                        li
                          a(href='') Чехлы и сумки для клвриков
                        li
                          a(href='') Блоки, ремни, пропсы
                        li
                          a(href='') Подушки, болстеры, одеяла
                        li
                          a(href='') Массаж, спа, стоунтерапия
                        li
                          a(href='') Косметика
                        li
                          a(href='') Чай, питание, аюрведа
                        li
                          a(href='') Другие товары
                        li
                          a(href='') Реклама на сайте
                        li
                          a(href='') Все товары


    include includes/footer
