extends includes/default

block append vars
  - classPage = 'page-map-ru'

block prepend title
    | Yoga Map Russia

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
              ul.breadcrumb
                  li: a(href='/') Главная
                  li: span Йога карта

      .container-fluid
        .container
          .row
            .col-lg-9.col-md-8.col-sm-12.col-xs-12
              h1.page-title Йога-карта россии: все центры в вашем городе

            .col-lg-3.col-md-4.col-sm-12.col-sx-12
              .add-studio
                a.btn.btn-action.btn-block(href="#") Добавить студию

            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .container
                    .events.row
                      .col-lg-3.col-md-4.col-sx-12.push-lg-9.push-md-8.hidden-xs
                        .sidebar
                          .sidebar-block
                            .sidebar-inset
                              .filter
                                .filter-item
                                  .filter-title Ваш город
                                  select
                                    option Все города
                                    option Калининград
                                    option Москва
                                    option Санкт-Петербург

                          .hidden-sm-down
                            h2 Каталог товаров
                            .sidebar-block
                              ul.sidebar-nav
                                li
                                  a(href='') Распродажа -60%
                                li
                                  a(href='') Коврики для йоги
                                li
                                  a(href='') Коврики в бухтах
                                li
                                  a(href='') Одежда для йоги
                                li
                                  a(href='') Чехлы и сумки для клвриков
                                li
                                  a(href='') Блоки, ремни, пропсы
                                li
                                  a(href='') Подушки, болстеры, одеяла
                                li
                                  a(href='') Массаж, спа, стоунтерапия
                                li
                                  a(href='') Косметика
                                li
                                  a(href='') Чай, питание, аюрведа
                                li
                                  a(href='') Другие товары
                                li
                                  a(href='') Реклама на сайте
                                li
                                  a(href='') Все товары


                      .col-lg-9.col-md-8.pull-lg-3.pull-md-4
                        .content
                          .content__item.map__content
                              p Интерактивная Йога-карта России позволяет легко и быстро найти йога-центр для занятий близко к дому или офису. Карта позволяет искать занятия йогой нужного вам стиля и стоимости. Откройте для себя йогу с помощью йога-карты России!


                          .map-list.row#map-list-city
                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-1.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие

                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-2.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие

                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-3.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие

                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-3.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие

                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-2.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие

                            .map-list__item.col-lg-4.col-md-6
                              .map-list__card
                                img.preview(src="images/map/item-1.jpg" alt="")
                                a.title(href="#") «Калининградская Федерация Классической Йоги»
                                span.street ул. Больничная, 45, зал № 29А
                                span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                span.price 250 #[span(class="rub")]
                                span.price__exp за занятие


                          ul.pagination(id="map-pagination" data-ajax-url="/data/getpagination.php" data-ajax-method="post")
                            li(data-page="prev")
                              a(href='#', aria-label='Previous')
                                span(aria-hidden='true').left-arrow
                                  +icon("arrow")
                            li(data-page="1")
                              a(href='#') 1
                            li.active(data-page="2")
                              a(href='#') 2
                            li(data-page="3")
                              a(href='#') 3
                            li(data-page="4")
                              a(href='#') 4
                            li(data-page="5")
                              a(href='#') 5
                            li(data-page="999")
                              a(href='#') Последняя
                            li(data-page="next")
                              a(href='#', aria-label='Next')
                                span(aria-hidden='true').right-arrow
                                  +icon("arrow")





    include includes/footer
