extends includes/default

block append vars
  - classPage = 'page-map'

block prepend title
    | Yoga Map City

block content
    include includes/header

    main.page-section
      .page-section-top
          .container
              ul.breadcrumb
                  li
                      a(href='/') Главная
                  li
                    span Йога карта


      .container-fluid
        .container
          .row
              .col-lg-9.col-md-8.col-sm-12.col-xs-12
                h1.page-title Все центры в Калининграде

              .col-lg-3.col-md-4.col-sm-12.col-sx-12
                .add-studio
                  a.btn.btn-action.btn-block(href="#") Добавить студию

              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .container
                      .events.row
                        .col-lg-3.col-md-4.col-sx-12.push-lg-9.push-md-8.hidden-xs
                          .sidebar
                            .sidebar-heading.hidden-md-up
                              a.btn-filter.js-filter-trigger(href="#")
                                span.filter-icon
                                  +icon("filter")
                                span.btn__text Фильтры
                                +icon("close")

                            .sidebar-overlay
                              .sidebar-block
                                .sidebar-inset
                                  form.filter(id="map-filter" action="/data/getcardlist.php" type="POST")
                                    input(id="map-filter-page" class="hidden" name="page" autocomplete="off" value="1")
                                    .location
                                      .filter-item
                                        .filter-title Расположение
                                        select(id="map-city" name="city")
                                          option Калининград
                                          option Москва
                                          option Санкт-Петербург

                                      .filter-item
                                        input.form-control(id="map-address" type="text" placeholder="Например: ул. 1812 года 5, 144" autocomplete="off")
                                        span.filter-foot Укажите адрес рядом с которым вы ищите йога-центр
                                        span.filter-foot__add
                                          a(href="#" id="define_my_coord") Указать на карте
                                        input(id="map-address-coord" class="hidden" name="coord" autocomplete="off")

                                    .styles
                                      .filter-item
                                        .filter-title Стили йоги
                                        select(id="map-style" name="style")
                                          option Все стили
                                          option Авторские стили
                                          option Yogaflow
                                          option Ароматерапия
                                          option Аштанга Виньяса йога
                                          option Аэро йога
                                          option Вини йога
                                          option Випассана
                                          option Даосская йога
                                          option Даосская йога
                                          option Инь-йога
                                          option Ишвара йога
                                          option Йога 23
                                          option Йога Айенгара
                                          option Йога Нидра
                                          option Йога для беременных
                                          option Йога для детей
                                          option Йога для женщин
                                          option Йога для женщин
                                          option Йога для лица
                                          option Йога для начинающих
                                          option Йога для начинающих
                                          option Йога для старшего возраста
                                          option Йога и Цигун
                                          option Йога-массаж
                                          option Йогатерапия
                                          option Йогатерапия
                                          option Классическая йога
                                          option Крийя-йога
                                          option Крия-йога
                                          option Кундалини йога
                                          option Кундалини йога
                                          option Мантра-йога
                                          option Мантра-йога
                                          option Медитация
                                          option Натха йога
                                          option Парная йога (йога с партнером)
                                          option Патанджали йога
                                          option Пранаяма
                                          option Раджа-йога
                                          option Релаксация
                                          option Рэйки
                                          option Силовая йога (Пауэр йога)
                                          option Синдо — японская йога
                                          option Спонтанная йога
                                          option Сукшма-вьяяма
                                          option Тайцзыцюань
                                          option Тантра-йога
                                          option Тибетская йога
                                          option Трай йога
                                          option Универсальная йога
                                          option Хатха-йога
                                          option Шивананда йога
                                          option Шри Шри йога
                                    .price
                                      .filter-item
                                        .filter-title Стоимость
                                        select(id="map-price" name="price")
                                          option Все цены
                                          option Менее 300
                                          option 300—400
                                          option 400—500
                                          option 500—600
                                          option 600—1000
                                          option Более 1000

                                        span.filter-foot Стоимость занятия, руб. #[br](вечернее занятие в будни)

                                    .filter-actions
                                      button.btn.btn-action(id="map-submit" type='submit') Показать
                                      button.btn.btn-primary(id="map-reset" type='reset') Сбросить

                              .sidebar-block
                                .social
                                  include modules/social/social-buttons


                              h2 Каталог товаров
                              .sidebar-block
                                ul.sidebar-nav
                                  li
                                    a(href='') Распродажа -60%
                                  li
                                    a(href='') Коврики для йоги
                                  li
                                    a(href='') Коврики в бухтах
                                  li
                                    a(href='') Одежда для йоги
                                  li
                                    a(href='') Чехлы и сумки для клвриков
                                  li
                                    a(href='') Блоки, ремни, пропсы
                                  li
                                    a(href='') Подушки, болстеры, одеяла
                                  li
                                    a(href='') Массаж, спа, стоунтерапия
                                  li
                                    a(href='') Косметика
                                  li
                                    a(href='') Чай, питание, аюрведа
                                  li
                                    a(href='') Другие товары
                                  li
                                    a(href='') Реклама на сайте
                                  li
                                    a(href='') Все товары


                        .col-lg-9.col-md-8.pull-lg-3.pull-md-4
                            .content
                                .map-review
                                  .map-container(id="yoga-map-city" data-ajax-url="/data/getpinlist.php" data-ajax-method="post" data-ajax-card-url="/data/getcardbyid.php" data-ajax-card-method="post")

                                .map-list.row#map-list
                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-1.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие

                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-2.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие

                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-3.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие

                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-3.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие

                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-2.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие

                                  .map-list__item.col-lg-4.col-md-6
                                    .map-list__card
                                      img.preview(src="images/map/item-1.jpg" alt="")
                                      a.title(href="#") «Калининградская Федерация Классической Йоги»
                                      span.street ул. Больничная, 45, зал № 29А
                                      span.caption #[a(href="#") Хатха-йога], #[a(href="#") Йога для беременных], #[a(href="#") Йога для детей], #[a(href="#") Парная йога (йога с партнером)], #[a(href="#") Медитация]
                                      span.price 250 #[span(class="rub")]
                                      span.price__exp за занятие



                                ul.pagination(id="map-pagination" data-ajax-url="/data/getpagination.php" data-ajax-method="post")
                                  li(data-page="prev")
                                    a(href='#', aria-label='Previous')
                                      span(aria-hidden='true').left-arrow
                                        +icon("arrow")
                                  li(data-page="1")
                                    a(href='#') 1
                                  li.active(data-page="2")
                                    a(href='#') 2
                                  li(data-page="3")
                                    a(href='#') 3
                                  li(data-page="4")
                                    a(href='#') 4
                                  li(data-page="5")
                                    a(href='#') 5
                                  li(data-page="999")
                                    a(href='#') Последняя
                                  li(data-page="next")
                                    a(href='#', aria-label='Next')
                                      span(aria-hidden='true').right-arrow
                                        +icon("arrow")



                                .content__item
                                    h3 Наполняйте карту!
                                    p Если вы знаете йога-центры, которых еще нет на нашей карте, присылайте информацию на адрес #[a(href="mailto:editor@hanuman.ru") editor@hanuman.ru]. Вместе с вами мы создаем условия для того, чтобы практики и преподаватели йоги могли легко найти друг друга в Интернете.
                                    h3 Оставляйте отзывы!
                                    p Отзывы о йога-центрах на нашей карте помогут вам определиться с выбором места для регулярных занятий йогой. Если вы уже выбрали клуб или студию йоги, оставьте о отзыв о месте и о преподавателях, которые вам понравились. Помогите другим практикам йоги найти свой йога-центр!


    include includes/footer
