extends includes/default

block append vars
  - classPage = "page-events"

block prepend title
    | Yoga Events

block content
    include includes/header

    main.page-section
      .page-section-top
        .container-fluid
          .container
            ul.breadcrumb
              li
                a(href='/') Главная


      .container-fluid
        .container
          .row
            .col-md-12
              .row
                .col-md-9
                  .content
                    .content__item
                      h1.page-title Йога-туры, семинары по йоге, ретриты и другие события
                      p Наиболее полный список йога-туров, семинаров, конференций, мастер-классов и других событий, связанных с йогой и близкими к ней способами физического и духовного развития.


            .push-lg-9.push-md-8.col-lg-3.col-md-4.col-sm-12.col-sx-12.hidden-xs
              .sidebar
                .sidebar-heading.hidden-md-up
                  a.btn-filter.js-filter-trigger(href="#")
                    span.filter-icon
                      +icon("filter")
                    span.btn__text Фильтры
                    +icon("close")

                .sidebar-overlay
                  .sidebar-block
                    .sidebar-inset
                      .filter
                        .filter-item
                          .filter-title Город
                          .form-group
                            select
                              option Все города
                              option Калининград
                              option Москва
                              option Санкт-Петербург

                        .filter-item
                          .filter-title Месяц
                          .form-group
                            select
                              option Все месяцы
                              option Январь
                              option Февраль
                              option Март
                              option Апрель
                              option Май
                              option Июнь
                              option Июль
                              option Август
                              option Сентябрь
                              option Октябрь
                              option Ноябрь
                              option Декабрь

                        .filter-item
                          .filter-title Стиль йоги
                          .form-group
                            select
                              option Все стили
                              option Йога для начинающих
                              option Йога Нидра
                              option Мантра-йога
                              option Медитация
                              option Патанджали йога
                              option Пранаяма
                              option Раджа-йога
                              option Сукшма-вьяяма
                              option Хатха-йога

                        .filter-actions
                          button.btn.btn-action(type='button') Показать
                          button.btn.btn-primary(type='button') Сбросить


                  .sidebar-block.hidden-sm-down
                    ul.sidebar-nav
                      li
                        a(href='') Распродажа -60%
                      li
                        a(href='') Коврики для йоги
                      li
                        a(href='') Коврики в бухтах
                      li
                        a(href='') Одежда для йоги
                      li
                        a(href='') Чехлы и сумки для ковриков
                      li
                        a(href='') Блоки, ремни, пропсы
                      li
                        a(href='') Подушки, болстеры, одеяла
                      li
                        a(href='') Массаж, спа, стоунтерапия
                      li
                        a(href='') Косметика
                      li
                        a(href='') Чай, питание, аюрведа
                      li
                        a(href='') Другие товары
                      li
                        a(href='') Реклама на сайте
                      li
                        a(href='') Все товары


            .pull-lg-3.pull-md-4.col-lg-9.col-md-8.col-sm-12.col-sx-12
              .events
                .events-add
                  .row.clearfix
                    .col-lg-4.col-md-5
                      a.btn.btn-action.btn-block(href="#") Добавить семинар


                h2 Август 2016
                .events-items
                  .row
                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-1.jpg', alt='')
                            .events-content
                              .events-title
                                | «Использование мышечно-фасциальных цепей и нейропсихотерапевтических инструментов в практике Аштанга йоги», семинар
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-2.jpg', alt='')
                            .events-content
                              .events-title
                                | Йога лагерь
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-3.jpg', alt='')
                            .events-content
                              .events-title
                                | Йога-ретрит в горах Красной Поляны
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-4.jpg', alt='')
                            .events-content
                              .events-title
                                | Курс инструкторов женской йоги онлайн
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-5.jpg', alt='')
                            .events-content
                              .events-title
                                | «Грузия: Батуми, Сванетия, Казбеги», йога-путешествие
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-1.jpg', alt='')
                            .events-content
                              .events-title
                                | Джапа на достаток и процветание
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                    .events-items__item.col-md-12.col-sm-6.col-xs-12
                      .events-items__article
                        .row
                          .col-lg-6.col-md-6.col-sm-12.col-xs-12
                            .events-thumb
                              a(href='/')
                                img.img-responsive(src='../images/events/event-2.jpg', alt='')
                            .events-content
                              .events-title
                                | «Преодоление страхов», медитация
                              .date 12–14 августа
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            a.events-items__lnk(href='#') Санкт-Петербург
                          .col-lg-3.col-md-3.col-sm-12.col-xs-12
                            .events-items__lnks
                              | #[a(href='#') Аштанга Виньяса йога], #[a(href='#') Хатха-йога]

                include modules/pagination/catalog




      .content-wrap
        .container-fluid
          .container
            .content
              .content-block.row
                .col-md-6
                  p В магазине Хануман.ру есть все, необходимое как для начинающего, так и для опытного йога. Купить приспособления для йоги в нашем интернет-магазине легко просто. Мы помогаем вам сделать выбор, быстро обрабатываем заказы и быстро доставляем их по всей России. Мы выполняем максимум работы, чтобы вам оставалось только протянуть руки и получить покупку.
                  h3 Нет вашего мероприятия?
                  p Воспользуйтесь #[a(href="#") формой добавления семинаров]. Это совершенно бесплатно!

                .col-md-6
                  .ical
                    a(href="#") Расписание занятий в формате iСal
                    span (для импорта в ваш календарь)

      .container-fluid
        .container
          .content.inside
            h2 Почему выгодно Размещать рекламу на Ханумане

            .content-block.row
              .col-md-3
                h3 1. Целевая аудитория
                p Наши посетители — опытные практики и начинающие йоги.

              .col-md-3
                h3 2. Самый посещаемый сайт в рунете
                p На этой странице публикуется большинство семинаров в России и СНГ.

              .col-md-3
                h3 3. Эффективно и не дорого
                p Минимум затрат вашего времени и денег, максимальный эффект


            .events-add
              .row.clearfix
                .col-lg-3.col-md-4
                  a.btn.btn-action.btn-block(href="#") Добавить семинар




    include includes/footer
